img.logo {
	float:none;
	width:100%;
	display:block;
	clear:both;
	margin-top:20px;
}

.icon {
	float:none;
	text-align:left;
}

#content.mobile-nav {
	width:480px;
}

.search {
	width:95%;
}

.search input {
	float:left;
}

.search:after {
	content:"";
	display:table;
	clear:both;
}

input[type=button].start-planning {
	width:96%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display:block;
	margin:40px auto;
	background:-moz-linear-gradient(bottom, #8abf22, #bee969);
	background:-webkit-linear-gradient(bottom, #8abf22, #bee969);
	background:-ms-linear-gradient(bottom, #8abf22, #bee969);
	background:-o-linear-gradient(bottom, #8abf22, #bee969);
	background:linear-gradient(bottom, #8abf22, #bee969);
	padding-left:5px;
	padding-right:5px;
	font-size:20px;
}

.tab-content {
	padding:40px 5px;
}

/*.five-block .blog {
	width:46%;
	float:left;
	margin-left:0;
	margin-right:0;
	clear:left;
	margin-left:1%;
	margin-right:1%;
}*/

.tabbable.responsive .nav-tabs > li > a {
	display:inline-block;
	max-width:60%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.profile-pic {
	width:100%;
}

.vendor-name {
	width:100%;
}

figure.offer > span, figure.offer figcaption {
	width:100%;
	display:block;
	float:none;
}

article.img-gallery figure:nth-of-type(3n+1), article.img-gallery figure, article.img-gallery figure:nth-of-type(4n+1), figure.dont-forget:nth-of-type(3n+1), figure.dont-forget:nth-of-type(4n+1), figure.dont-forget {
	margin-left:0;
	margin-right:0;
	clear:left;
	float:left;
	width:49%;
	margin-top:20px;
}

article.img-gallery figure:nth-of-type(even), figure.dont-forget:nth-of-type(even) {
	float:right;
	clear:right;
}

h1.coming-soon {
	font-size:50px;
}

ul.topmost li {
	margin-top:10px;
}

.sign-block,
.sign-block + .sign-block {
	float:none;
	width:100%;
	margin-top:20px;
}

.sign-block > img {
	width:227px;
	max-width:100%;
	display:block;
	margin:10px auto;
}

.sign-block input[type=button].see-more {
	margin-top:0;
}

.sign-up-blocks input[type=button].submit {
	float:none;
}

#div3_example {
	width:100%;
	overflow-x:scroll;
}

ul.options li {
	display:block;
	padding:10px 0;
}

ul.options li:last-child {
	display:none;
}

h2.step-sub-heading {
	word-wrap:break-word;
}

ul.comment-row li:nth-of-type(2) {
	width:35%;
}

.subs input[type=button] {
	width:33%;
}

.subs input[type=email] {
	width:67%;
}

ul.date-name li {
	border-bottom:1px solid #e3e3e3;
	border-left:0;
	float:none;
	width:100%;
	text-align:center;
	clear:both;
}

ul.date-name {
	border-bottom:0;
}

.icon {
	position:static;
	margin:0;
	text-align:center;
	padding-top:20px;
}

.header-bar.mobile-only {
	width:100%;
	text-align:center;
}

section.search-location, section.search-location input[type=search], section.search-location .chosen-container, section.search-location input[type=button].sub {
	float:none;
	width:100%!important;
	clear:both;
	margin-top:10px;
}

.chosen-container-active {
	border:1px solid #000;
}

input[type=button].start-planning:hover {
	background:url(../images/btn-bg.png) #bee969; /* Fallback for gradient */
	background:url(../images/btn-bg.png), -webkit-linear-gradient(top, #8abf22, #bee969);
	background:url(../images/btn-bg.png), -moz-linear-gradient(top, #8abf22, #bee969);
	background:url(../images/btn-bg.png), -ms-linear-gradient(top, #8abf22, #bee969);
	background:url(../images/btn-bg.png), -o-linear-gradient(top, #8abf22, #bee969);
	background:url(../images/btn-bg.png), linear-gradient(top, #8abf22, #bee969);
}

ul.dashboard-nav li,
ul.dashboard-nav li:nth-of-type(4n+1) {
	width:33.333%;
	width:calc(100% / 3);
	clear:none;
}

ul.dashboard-nav li:nth-of-type(3n+1) {
	clear:left;
}

.vendor-dashboard #div3_example {
	overflow-x:visible;
}

.btn-ref {
	width:150px;
}

ul.dashboard-nav li:nth-of-type(4n+4) {
	border-right:1px solid #ededed;
}

ul.dashboard-nav li:nth-of-type(3n+3) {
	border-right:0;
}

ul.dashboard-nav li:nth-last-child(2) {
	border-bottom:1px solid #ededed;
}

label.desc-d {
	width:100%;
}

input[type=button].add-new, section.auth-user table input[type=button] {
	float:none;
	width:90%;
	max-width:90%;
	margin:5px auto;
	display:block;
}

section.auth-user table tr td:nth-child(3) {
	max-width:70px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.form-block-dash, ul.form-list li {
	width:100%;
	float:none;
	margin-top:10px;
}

ul.form-list li input[type=text] {
	float:right;
}

ul.form-list li:before,
ul.form-list li:after {
	clear:both;
	content:"";
	display:table;
}

table.product-table tr, table.product-table, table.product-table tr td, table.product-table tbody {
	display:block;
	border:0;
	width:100%;
}

table.product-table tr:first-child {
	display:none;
}

table.product-table tr {
	border:1px solid #aeaeae;
	margin-top:20px;
}

table.product-table tr:after,
table.product-table tr:before {
	content:"";
	display:table;
	clear:both;
}

table.product-table tr td {
	float:right;
	text-align:right;
}

table.product-table tr td:before {
	display:block;
	float:left;
	width:50%;
	content:"Quantity";
	text-align:left;
}

table.product-table tr td:nth-of-type(2):before {
	content:"Description";
}

table.product-table tr td:nth-of-type(3):before {
	content:"Unit Price";
}

table.product-table tr td:nth-of-type(4):before {
	content:"Total";
}

table.invoice-table tr, table.invoice-table tr td, table.invoice-table tbody {
	display:block;
	width:100%;
}

table.invoice-table tr td:nth-child(even) {
	float:right;
	width:50%;
	clear:right;
}

table.invoice-table tr td:nth-child(odd) {
	float:left;
	width:50%;
	clear:left;
}

table.invoice-table tr:before,
table.invoice-table tr:after {
	clear:both;
	content:"";
	display:table;
}

table.invoice-table tr td input[type=text] {
	width:100%;
}


table.invoice-table tr:nth-child(n+2) td:nth-child(2),
table.invoice-table tr:nth-child(n+2) td:nth-child(4) {
	max-width:100%;
}

table.order-details, table.order-details tbody, table.order-details tr, table.order-details tr td, table.order-details tr td:first-child {
	display:block;
	width:100%;
	max-width:100%;
	text-align:left;
}

table.order-details tr td input[type=text] {
	width:100%;
}

table.order-details tr td .chosen-container {
	width:100%!important;
}

h1.dashboard-heading {
	word-wrap:break-word;
}

table.plans-s {
	width:100%;
	float:none;
}

img.credit-card {
	width:auto;
}

table.contact-list, table.contact-list tr, table.contact-list tbody, table.contact-list thead, table.contact-list td, table.contact-list th {
	display:block;
	max-width:100%;
	width:100%;
}

table.contact-list th {
	display:none;
}

table.contact-list td:nth-child(3), table.contact-list td:first-child {
	width:100%;
	max-width:none;
}

ul.templates li {
	width:auto;
	max-width:48%;
	margin-top:10px;
}

ul.image-order li {
	width:48%;
}

.textedit,
.comp-inf {
	width:100%;
	float:none;
	clear:both;
	border-left:0;
}

ul.image-order li img {
	width:100%;
}

.comp-inf input[type="text"] {
	font-size:16px;
}

.job_title_apply {
	width:100%;
}

.vendor-account-sign, .vendor-account-sign tr, .vendor-account-sign td, .vendor-account-sign tbody, .vendor-account-sign thead, .vendor-account-sign th {
	display:block;
	width:100%;
	clear:both;
}

.vendor-account-sign tr td:first-child {
	max-width:none;
	text-align:left;
	padding-bottom:0;
}

.vendor-account-sign tr td input[type="text"], .vendor-account-sign tr td .chosen-container {
	width:200px!important;
}

.rate_plan, .rate_plan:nth-of-type(n+2) {
	width:48%;
	margin-left:0;
	clear:left;
}

.rate_plan:nth-of-type(even) {
	float:right;
	clear:right;
}

.rate_plan:nth-of-type(3n+1) {
	clear:none;
}

.ipad_full .video-container.marginTop, .ipad_full .video-container {
	margin-top:20px;
	width:100%;
	float:none;
	clear:both;
}

.wide_bar {
	max-height:none;
}

[class*="saved_vendor"] li {
	display:none;
}

[class*="saved_vendor"] li:first-child, [class*="saved_vendor"] li:last-child {
	display:inline-block;
	width:auto;
	border:none;
}

[class*="saved_vendor"] li:last-child {
	float:right;
}

.guest_list td:before {
	position:static;
	float:none;
	padding:0;
	text-align:left;
}

.guest_list td {
	width:100%;
	float:none;
	clear:both;
}

.link_guest {
	display:inline-block;
}

.job_form, .ad-right2 {
	float:none;
	width:100%;
}

.ad-right2 {
	text-align:center;
	padding-bottom:20px;
}

.form_fields {
	width:100%;
}

.ad-right2 img {
	vertical-align:top;
}

.timeline_time, .timeline li:nth-child(2n) .timeline_time {
	height:auto;
	padding-top:10px;
}

.timeline {
	text-align:center;
}

ul.permalink li:nth-of-type(2) {
	clear:left;
}

ul.permalink li input.edit-link[type="button"] {
	margin-left:0;
	margin-top:10px;
}

.mail_box, .mail_box tbody, .mail_box tr, .mail_box th, .mail_box td {
	display:block;
}

.mail_box th {
	display:none;
}

.mail_box td {
	border:0;
}

.mail_box tr {
	border-top:1px solid rgba(0,0,0,0.5);
}

.mail_box tr:nth-of-type(2) {
	border:0;
}

.mail_box td:first-child, .mail_box td:nth-of-type(2) {
	max-width:50%;
	float:left;
}

.mail_box td:nth-of-type(3) {
	clear:both;
	max-width:100%;
}

.mail_box td p {
	max-width:90%;
}

.mail_box td:nth-of-type(4), .mail_box td:nth-of-type(5) {
	float:left;
}

.mail_box tr:after, .mail_box tr:before {
	clear:both;
	display:table;
	content:"";
}

.portfolio-heading, .portfolio_navi, .album_content {
	padding:10px;
}

.album_actions li span {
	text-indent:-9999px;
	display:inline-block;
}

.album_content {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
}

.upload-videos tr td {
	width:50%;
}

.upload-videos tr td input[type="url"], .upload-videos tr td input[type="file"] {
	width:170px;
}

.upload-videos tr td {
	padding:10px 0;
}

/* Video Portfolio Images Styles */

.hover_img, .hover_img:nth-child(4n+1), .hover_img:nth-child(3n+1), .hover_img:nth-child(2n+1) {
	float:none;
	clear:both;
	width:100%;
	margin-bottom:20px;
	margin-left:0;
}

.gigante > img {
	width:100%;
	float:none;
}

.gigante > figcaption {
	width:100%;
	float:none;
}

.five-block .blog.gigante {
	width:700px;
	max-width:100%;
}