<?php $this->placeholder('userstaticfiles')->captureStart() ?>
            <?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables.min.css'); ?>
<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('rightcontent')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('UserSession'); ?>
			<h1 class="dashboard-heading headingWithActions">My Budget</h1>
				    <ul class="table_actions task_actions task3">
						<li><a href="#"><i class="fa fa-print"></i></a></li>
						<li><a href="#"><i class="fa fa-save"></i></a></li>
						<li><a href="#"><span class="glyphicons activity-icon envelope"><i></i></span></a></li>
				    </ul>
				    <div class="clear"></div>
				    <div class="dash-content">
						<section class="bio">
							<table class="table table-bordered table-condensed budgetTable">
			
                                    <!-- Table heading -->
								<tbody><tr>
									<th class="center"></th>
									<th>Budget Amount</th>
									<th>Actual Cost</th>
									<th>Payee</th>
									<th class="">Payment</th>
									<th class="">Payment Type</th>
									<th class="">Payment Date</th>
									<th class="">Next Payment</th>
									<th class="">Balance Due</th>
								</tr>
								
								
								<!-- Table row -->
								<tr>
									<td>Event Planner (John)</td>
									<td>$400</td>
									<td>$2000</td>
									<td>Self</td>
									<td>$2000</td>
									<td>Visa/Debit</td>
									<td>08/21/13</td>
									<td>09/23/13</td>
									<td>$2300</td>
								</tr>
								<tr>
									<th class="center">Items</th>
									<th>Budget Amount</th>
									<th>Actual Cost</th>
									<th>Payee</th>
									<th class="">Payment</th>
									<th class="">Payment Type</th>
									<th class="">Payment Date</th>
									<th class="">Next Payment</th>
									<th class="">Balance Due</th>
								</tr>
								<tr>
									<th>2nd Payment</th>
									<td>$400</td>
									<td>$2000</td>
									<td>Self</td>
									<td>$2000</td>
									<td>Visa/Debit</td>
									<td>08/21/13</td>
									<td>09/23/13</td>
									<td>$2300</td>
								</tr>
								<tr>
									<th>3rd Payment</th>
									<td>$400</td>
									<td>$2000</td>
									<td>Self</td>
									<td>$2000</td>
									<td>Visa/Debit</td>
									<td>08/21/13</td>
									<td>09/23/13</td>
									<td>$2300</td>
								</tr>
				<!-- // Table row END -->

			<!-- // Table body END -->
							</tbody></table>
							<input type="button" value="Add Payment" class="add_payment_btn">
							<div class="clear"></div>
		<!-- // Table END -->
						</section>
            <!-- Widget -->
            <div class="widget finances_summary widget-inverse">
	
                        <!-- Widget heading -->
                        <div class="widget-head">
                                <h4 class="heading">Overview</h4>
                        </div>
                        <!-- // Widget heading END -->
                        
                        <div class="widget-body">
			
			<!-- Row -->
			<div class="row">
			
				<!-- Column -->
				<div class="col-md-4">
					<div class="box-generic text-center">
						<p class="margin-none">Total Budget</p>
						<strong class="text-large">$32,156.00</strong>
					</div>
					<div class="box-generic text-center">
						<p class="margin-none">Total Payments Made</p>
						<strong class="text-large">$122,134.00</strong>
					</div>
					<div class="box-generic text-center">
						<p class="margin-none">Total Payments Pending</p>
						<strong class="text-large">$122,134.00</strong>
					</div>
				</div>
				<!-- // Column END -->
				
				<!-- Column -->
				<div class="col-md-8 text-center">
					<!--<img src="images/round_graph.png" alt="" />-->
					<div class="flotchart-holder" id="chart_donut" style="padding: 0px; position: relative;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 632px; height: 250px;" width="632" height="250"></canvas><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 632px; height: 250px;" width="632" height="250"></canvas><span style="position: absolute; top: 226px; left: 334px;" id="pieLabel0" class="pieLabel"><div class="label label-inverse">USA&nbsp;38%</div></span><span style="position: absolute; top: 120px; left: 168.5px;" id="pieLabel1" class="pieLabel"><div class="label label-inverse">Brazil&nbsp;23%</div></span><span style="position: absolute; top: 7px; left: 241.5px;" id="pieLabel2" class="pieLabel"><div class="label label-inverse">India&nbsp;15%</div></span><span style="position: absolute; top: 4px; left: 327px;" id="pieLabel3" class="pieLabel"><div class="label label-inverse">Turkey&nbsp;9%</div></span><span style="position: absolute; top: 37px; left: 376px;" id="pieLabel4" class="pieLabel"><div class="label label-inverse">France&nbsp;7%</div></span><span style="position: absolute; top: 86px; left: 404px;" id="pieLabel5" class="pieLabel"><div class="label label-inverse">Other&nbsp;8%</div></span></div>



				</div>
				<!-- // Column END -->
				
			</div>
			<!-- // Row END -->
			
			<a class="glyphicons list single" href=""><i></i> View details</a>
		</div>
            </div>
            <!-- // Widget END -->


            <div class="widget widget-inverse">
                    <div class="widget-head">
                            <h3 class="heading">Recent Activity</h3>
                    </div>
                    
                    <div class="widget-body padding-none">
            
                            <div class="widget widget-tabs widget-tabs-icons-only-2 widget-activity margin-none border-none">
            
                                    <!-- Tabs Heading -->
                                    <!-- // Tabs Heading END -->
                                    
                                    <div class="widget-body padding-none">
                                                    
                                                    <!-- Filter Messages Tab -->
                                                    <div id="filterMessagesTab" class="tab-pane active">
                                                            <ul class="list noMarginIcon">
                                                            
                                                                                                                                                                                    <!-- Activity item -->
                                                                    <li class="double">
                                                                            <span class="glyphicons activity-icon envelope"><i></i></span>
                                                                            <span class="ellipsis">
                                                                                    You made payment of ( $3500 ) to florist.
                                                                            </span>
                                                                            <div class="clearfix"></div>
                                                                    </li>
                                                                    <!-- // Activity item END -->
                                                                    <li class="double">
                                                                            <span class="glyphicons activity-icon envelope"><i></i></span>
                                                                            <span class="ellipsis">
                                                                                    You made payment of ( $3500 ) to florist.
                                                                            </span>
                                                                            <div class="clearfix"></div>
                                                                    </li>
                                                                    <!-- // Activity item END -->
                                                                    <li class="double">
                                                                            <span class="glyphicons activity-icon envelope"><i></i></span>
                                                                            <span class="ellipsis">
                                                                                    You made payment of ( $3500 ) to florist.
                                                                            </span>
                                                                            <div class="clearfix"></div>
                                                                    </li>
                                                                    <!-- // Activity item END -->
                                                                    <li class="double">
                                                                            <span class="glyphicons activity-icon envelope"><i></i></span>
                                                                            <span class="ellipsis">
                                                                                    You made payment of ( $3500 ) to florist.
                                                                            </span>
                                                                            <div class="clearfix"></div>
                                                                    </li>
                                                                    <!-- // Activity item END -->
                                                                    <li class="double">
                                                                            <span class="glyphicons activity-icon envelope"><i></i></span>
                                                                            <span class="ellipsis">
                                                                                    You made payment of ( $3500 ) to florist.
                                                                            </span>
                                                                            <div class="clearfix"></div>
                                                                    </li>
                                                                    <!-- // Activity item END -->
                                                                    <li class="double">
                                                                            <span class="glyphicons activity-icon envelope"><i></i></span>
                                                                            <span class="ellipsis">
                                                                                    You made payment of ( $3500 ) to florist.
                                                                            </span>
                                                                            <div class="clearfix"></div>
                                                                    </li>
                                                                    <!-- // Activity item END -->
                                                                    <li class="double">
                                                                            <span class="glyphicons activity-icon envelope"><i></i></span>
                                                                            <span class="ellipsis">
                                                                                    You made payment of ( $3500 ) to florist.
                                                                            </span>
                                                                            <div class="clearfix"></div>
                                                                    </li>
                                                                    <!-- // Activity item END -->
                                                                    <li class="double">
                                                                            <span class="glyphicons activity-icon envelope"><i></i></span>
                                                                            <span class="ellipsis">
                                                                                    You made payment of ( $3500 ) to florist.
                                                                            </span>
                                                                            <div class="clearfix"></div>
                                                                    </li>
                                                                    <!-- // Activity item END -->
                                                                    <li class="double">
                                                                            <span class="glyphicons activity-icon envelope"><i></i></span>
                                                                            <span class="ellipsis">
                                                                                    You made payment of ( $3500 ) to florist.
                                                                            </span>
                                                                            <div class="clearfix"></div>
                                                                    </li>
                                                                    <!-- // Activity item END -->
                                                                                                                                                                                    <!-- Activity item -->
                                                                    
                                                                                                                            
                                                            </ul>
                                                    </div>
                                                    <!-- // Filter Messages Tab END -->
                                                    
                                                    
                                            
                                    </div>
                            </div>
                            
                    </div>
            </div>

            <!-- Widget -->
            <div class="widget widget-inverse">
	
                        <!-- Widget heading -->
                        <div class="widget-head">
                                    <h4 class="heading">Transactions</h4>
                        </div>
                        <!-- // Widget heading END -->
		
                        <div class="widget-body">
		
                                    <!-- Table -->
                                    <table class="table table-condensed table-vertical-center table-thead-simple fullPage">
                                            <thead>
                                                    <tr>
                                                            <th style="width: 1%" class="center">No.</th>
                                                            <th>Transaction</th>
                                                            <th class="center">Date</th>
                                                            <th class="center">Amount</th>
                                                            <th class="right">Actions</th>
                                                    </tr>
                                            </thead>
                                            <tbody>
                                                                                            
                                                                                            <!-- Item -->
                                                    <tr class="selectable">
                                                            <td class="center">1</td>
                                                            <td class="important"><span class="btn btn-sm btn-success"><i class="fa fa-arrow-up"></i></span> &nbsp; Supplier Abc Xyz</td>
                                                            <td class="center"><span class="label label-primary">23 Jan 2013</span></td>
                                                            <td class="center strong">$318.00</td>
                                                            <td class="right actions">
                                                                    <a class="btn btn-sm btn-default" href="#"><i class="fa fa-eye"></i></a>
                                                                    <a class="btn btn-sm btn-success" href="#"><i class="fa fa-pencil"></i></a>
                                                                    <a class="btn btn-sm btn-danger" href="#"><i class="fa fa-times"></i></a>
                                                            </td>
                                                    </tr>
                                                    <!-- // Item END -->
                                                                                            <!-- Item -->
                                                    <tr class="selectable">
                                                            <td class="center">2</td>
                                                            <td class="important"><span class="btn btn-sm btn-danger"><i class="fa fa-arrow-down"></i></span> &nbsp; Supplier Abc Xyz</td>
                                                            <td class="center"><span class="label label-primary">23 Jan 2013</span></td>
                                                            <td class="center strong">$489.00</td>
                                                            <td class="right actions">
                                                                    <a class="btn btn-sm btn-default" href="#"><i class="fa fa-eye"></i></a>
                                                                    <a class="btn btn-sm btn-success" href="#"><i class="fa fa-pencil"></i></a>
                                                                    <a class="btn btn-sm btn-danger" href="#"><i class="fa fa-times"></i></a>
                                                            </td>
                                                    </tr>
                                                    <!-- // Item END -->
                                                                                            <!-- Item -->
                                                    <tr class="selectable">
                                                            <td class="center">3</td>
                                                            <td class="important"><span class="btn btn-sm btn-success"><i class="fa fa-arrow-up"></i></span> &nbsp; Bank of Ireland</td>
                                                            <td class="center"><span class="label label-primary">23 Jan 2013</span></td>
                                                            <td class="center strong">$446.00</td>
                                                            <td class="right actions">
                                                                    <a class="btn btn-sm btn-default" href="#"><i class="fa fa-eye"></i></a>
                                                                    <a class="btn btn-sm btn-success" href="#"><i class="fa fa-pencil"></i></a>
                                                                    <a class="btn btn-sm btn-danger" href="#"><i class="fa fa-times"></i></a>
                                                            </td>
                                                    </tr>
                                                    <!-- // Item END -->
                                                                                            <!-- Item -->
                                                    <tr class="selectable">
                                                            <td class="center">4</td>
                                                            <td class="important"><span class="btn btn-sm btn-danger"><i class="fa fa-arrow-down"></i></span> &nbsp; Supplier Abc Xyz</td>
                                                            <td class="center"><span class="label label-primary">23 Jan 2013</span></td>
                                                            <td class="center strong">$498.00</td>
                                                            <td class="right actions">
                                                                    <a class="btn btn-sm btn-default" href="#"><i class="fa fa-eye"></i></a>
                                                                    <a class="btn btn-sm btn-success" href="#"><i class="fa fa-pencil"></i></a>
                                                                    <a class="btn btn-sm btn-danger" href="#"><i class="fa fa-times"></i></a>
                                                            </td>
                                                    </tr>
                                                    <!-- // Item END -->
                                                                                            <!-- Item -->
                                                    <tr class="selectable">
                                                            <td class="center">5</td>
                                                            <td class="important"><span class="btn btn-sm btn-success"><i class="fa fa-arrow-up"></i></span> &nbsp; Amazon Web Services</td>
                                                            <td class="center"><span class="label label-primary">23 Jan 2013</span></td>
                                                            <td class="center strong">$120.00</td>
                                                            <td class="right actions">
                                                                    <a class="btn btn-sm btn-default" href="#"><i class="fa fa-eye"></i></a>
                                                                    <a class="btn btn-sm btn-success" href="#"><i class="fa fa-pencil"></i></a>
                                                                    <a class="btn btn-sm btn-danger" href="#"><i class="fa fa-times"></i></a>
                                                            </td>
                                                    </tr>
                                                    <!-- // Item END -->
                                                                                            <!-- Item -->
                                                    <tr class="selectable">
                                                            <td class="center">6</td>
                                                            <td class="important"><span class="btn btn-sm btn-success"><i class="fa fa-arrow-up"></i></span> &nbsp; ThemeForest</td>
                                                            <td class="center"><span class="label label-primary">23 Jan 2013</span></td>
                                                            <td class="center strong">$103.00</td>
                                                            <td class="right actions">
                                                                    <a class="btn btn-sm btn-default" href="#"><i class="fa fa-eye"></i></a>
                                                                    <a class="btn btn-sm btn-success" href="#"><i class="fa fa-pencil"></i></a>
                                                                    <a class="btn btn-sm btn-danger" href="#"><i class="fa fa-times"></i></a>
                                                            </td>
                                                    </tr>
                                                    <!-- // Item END -->
                                                                                            
                                            </tbody>
                                    </table>
                                    <!-- // Table END -->
			
                                    <div class="separator top"><a class="glyphicons list single" href=""><i></i> Show all</a></div>
                        </div>
                        </div>
                        <!-- // Widget END -->
                        <section class="bio noBG noPadding">
				    <div class="block">
						<h2 class="info-heading">Upcoming Payments</h2>
						<div class="dash-content calendar_main">
									<div id="calendar" class="fc fc-ltr"><table style="width:100%" class="fc-header"><tbody><tr><td class="fc-header-left"><span class="fc-button fc-button-prev fc-state-default fc-corner-left" unselectable="on" style="-moz-user-select: none;"><span class="fc-text-arrow">?</span></span><span class="fc-button fc-button-next fc-state-default fc-corner-right" unselectable="on" style="-moz-user-select: none;"><span class="fc-text-arrow">?</span></span><span class="fc-header-space"></span><span class="fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right fc-state-disabled" unselectable="on" style="-moz-user-select: none;">today</span></td><td class="fc-header-center"><span class="fc-header-title"><h2>July 2014</h2></span></td><td class="fc-header-right"><span class="fc-button fc-button-month fc-state-default fc-corner-left fc-state-active" unselectable="on" style="-moz-user-select: none;">month</span><span class="fc-button fc-button-agendaWeek fc-state-default" unselectable="on" style="-moz-user-select: none;">week</span><span class="fc-button fc-button-agendaDay fc-state-default fc-corner-right" unselectable="on" style="-moz-user-select: none;">day</span></td></tr></tbody></table><div style="position: relative;" class="fc-content"><div style="position: relative; -moz-user-select: none;" class="fc-view fc-view-month fc-grid" unselectable="on"><div style="position:absolute;z-index:8;top:0;left:0" class="fc-event-container"></div><table cellspacing="0" style="width:100%" class="fc-border-separate"><thead><tr class="fc-first fc-last"><th class="fc-day-header fc-sun fc-widget-header fc-first" style="width: 135px;">Sun</th><th class="fc-day-header fc-mon fc-widget-header" style="width: 135px;">Mon</th><th class="fc-day-header fc-tue fc-widget-header" style="width: 135px;">Tue</th><th class="fc-day-header fc-wed fc-widget-header" style="width: 135px;">Wed</th><th class="fc-day-header fc-thu fc-widget-header" style="width: 135px;">Thu</th><th class="fc-day-header fc-fri fc-widget-header" style="width: 135px;">Fri</th><th class="fc-day-header fc-sat fc-widget-header fc-last">Sat</th></tr></thead><tbody><tr class="fc-week fc-first"><td data-date="2014-06-29" class="fc-day fc-sun fc-widget-content fc-other-month fc-past fc-first"><div style="min-height: 112px;"><div class="fc-day-number">29</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-06-30" class="fc-day fc-mon fc-widget-content fc-other-month fc-past"><div><div class="fc-day-number">30</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-01" class="fc-day fc-tue fc-widget-content fc-today fc-state-highlight"><div><div class="fc-day-number">1</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-02" class="fc-day fc-wed fc-widget-content fc-future"><div><div class="fc-day-number">2</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-03" class="fc-day fc-thu fc-widget-content fc-future"><div><div class="fc-day-number">3</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-04" class="fc-day fc-fri fc-widget-content fc-future"><div><div class="fc-day-number">4</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-05" class="fc-day fc-sat fc-widget-content fc-future fc-last"><div><div class="fc-day-number">5</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td></tr><tr class="fc-week"><td data-date="2014-07-06" class="fc-day fc-sun fc-widget-content fc-future fc-first"><div style="min-height: 111px;"><div class="fc-day-number">6</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-07" class="fc-day fc-mon fc-widget-content fc-future"><div><div class="fc-day-number">7</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-08" class="fc-day fc-tue fc-widget-content fc-future"><div><div class="fc-day-number">8</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-09" class="fc-day fc-wed fc-widget-content fc-future"><div><div class="fc-day-number">9</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-10" class="fc-day fc-thu fc-widget-content fc-future"><div><div class="fc-day-number">10</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-11" class="fc-day fc-fri fc-widget-content fc-future"><div><div class="fc-day-number">11</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-12" class="fc-day fc-sat fc-widget-content fc-future fc-last"><div><div class="fc-day-number">12</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td></tr><tr class="fc-week"><td data-date="2014-07-13" class="fc-day fc-sun fc-widget-content fc-future fc-first"><div style="min-height: 111px;"><div class="fc-day-number">13</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-14" class="fc-day fc-mon fc-widget-content fc-future"><div><div class="fc-day-number">14</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-15" class="fc-day fc-tue fc-widget-content fc-future"><div><div class="fc-day-number">15</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-16" class="fc-day fc-wed fc-widget-content fc-future"><div><div class="fc-day-number">16</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-17" class="fc-day fc-thu fc-widget-content fc-future"><div><div class="fc-day-number">17</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-18" class="fc-day fc-fri fc-widget-content fc-future"><div><div class="fc-day-number">18</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-19" class="fc-day fc-sat fc-widget-content fc-future fc-last"><div><div class="fc-day-number">19</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td></tr><tr class="fc-week"><td data-date="2014-07-20" class="fc-day fc-sun fc-widget-content fc-future fc-first"><div style="min-height: 111px;"><div class="fc-day-number">20</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-21" class="fc-day fc-mon fc-widget-content fc-future"><div><div class="fc-day-number">21</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-22" class="fc-day fc-tue fc-widget-content fc-future"><div><div class="fc-day-number">22</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-23" class="fc-day fc-wed fc-widget-content fc-future"><div><div class="fc-day-number">23</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-24" class="fc-day fc-thu fc-widget-content fc-future"><div><div class="fc-day-number">24</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-25" class="fc-day fc-fri fc-widget-content fc-future"><div><div class="fc-day-number">25</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-26" class="fc-day fc-sat fc-widget-content fc-future fc-last"><div><div class="fc-day-number">26</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td></tr><tr class="fc-week"><td data-date="2014-07-27" class="fc-day fc-sun fc-widget-content fc-future fc-first"><div style="min-height: 111px;"><div class="fc-day-number">27</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-28" class="fc-day fc-mon fc-widget-content fc-future"><div><div class="fc-day-number">28</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-29" class="fc-day fc-tue fc-widget-content fc-future"><div><div class="fc-day-number">29</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-30" class="fc-day fc-wed fc-widget-content fc-future"><div><div class="fc-day-number">30</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-07-31" class="fc-day fc-thu fc-widget-content fc-future"><div><div class="fc-day-number">31</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-08-01" class="fc-day fc-fri fc-widget-content fc-other-month fc-future"><div><div class="fc-day-number">1</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-08-02" class="fc-day fc-sat fc-widget-content fc-other-month fc-future fc-last"><div><div class="fc-day-number">2</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td></tr><tr class="fc-week fc-last"><td data-date="2014-08-03" class="fc-day fc-sun fc-widget-content fc-other-month fc-future fc-first"><div style="min-height: 115px;"><div class="fc-day-number">3</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-08-04" class="fc-day fc-mon fc-widget-content fc-other-month fc-future"><div><div class="fc-day-number">4</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-08-05" class="fc-day fc-tue fc-widget-content fc-other-month fc-future"><div><div class="fc-day-number">5</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-08-06" class="fc-day fc-wed fc-widget-content fc-other-month fc-future"><div><div class="fc-day-number">6</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-08-07" class="fc-day fc-thu fc-widget-content fc-other-month fc-future"><div><div class="fc-day-number">7</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-08-08" class="fc-day fc-fri fc-widget-content fc-other-month fc-future"><div><div class="fc-day-number">8</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td data-date="2014-08-09" class="fc-day fc-sat fc-widget-content fc-other-month fc-future fc-last"><div><div class="fc-day-number">9</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td></tr></tbody></table></div></div>
									</div>
									<div class="btn-add">Add Event</div>
                                                                        <div class="btn-add pink">Next</div>
							    </div>
						</div>
                        </section>						
	    </div>
<?php $this->placeholder('rightcontent')->captureEnd() ?>