<?php

    if( $this->data ) {
        
        if( $this->data['method']=='GET' ) {
            
            ?>
                <div class="panel panel-default">
                    <div class="panel-body">
                    <div>
                        <h2> Make Payment </h2>
                    </div>
                    <div id="preview" class="panel panel-success"></div>
                        <form id="budgetPayment" name="budgetPayment" class="form-inline" action="<?php echo $this->baseUrl(); ?>/users/dashboard/budgetpaynow/format/html" method="post">
                            <input type="hidden" name="service_id" value="<?php echo $this->data['service_id']; ?>" />
                            <input type="hidden" name="booking_id" value="<?php echo $this->data['booking_id']; ?>" />
                            <input type="hidden" name="payment_id" value="<?php echo @$this->data['data'][0]['id']; ?>"/>
                            <div class="form-group">
                                <select class="form-control" name="payee">
                                    <option value="">--Who is making the payment ?--</option>
                                    <option value="self"  <?php echo (@$this->data['data'][0]['payee']=="self"?'selected':''); ?> >Self</option>
                                    <option value="mom" <?php echo (@$this->data['data'][0]['payee']=="mom"?'selected':''); ?>>Mom</option>
                                    <option value="dad" <?php echo (@$this->data['data'][0]['payee']=="dad"?'selected':''); ?>>Dad</option>
                                    <option value="relative" <?php echo (@$this->data['data'][0]['payee']=="relative"?'selected':''); ?>>Relative</option>
                                    <option value="friend" <?php echo (@$this->data['data'][0]['payee']=="friend"?'selected':''); ?>>Friend</option>
                                    <option value="others" <?php echo (@$this->data['data'][0]['payee']=="others"?'selected':''); ?>>Others</option>
                                </select>
                            </div>    
                            <div class="separator top"></div>
                            <div class="row ">
                                <div class="form-group col-xs-4">
                                    <input type="text" required class="form-control amount_pay" name="amount"  value="<?php echo @$this->data['data'][0]['amount'] ?>" placeholder="Amount to pay!!!" />
                                </div>
                                
                                <div class="form-group col-xs-4">
                                    <select class="form-control" name="payType">
                                        <option value="">--Choose Payment Type ?--</option>
                                        <option value="Visa/Debit" <?php echo (@$this->data['data'][0]['pay_type']=="Visa/Debit"?'selected':''); ?> >Visa/Debit</option>
                                        <option value="paypal" <?php echo (@$this->data['data'][0]['pay_type']=="paypal"?'selected':''); ?> >Paypal</option>
                                        <option value="cash" <?php echo (@$this->data['data'][0]['pay_type']=="cash"?'selected':''); ?>>Cash</option>
                                        <option value="creditcard" <?php echo (@$this->data['data'][0]['pay_type']=="creditcard"?'selected':''); ?>>Credit Card</option>
                                        <option value="others" <?php echo (@$this->data['data'][0]['pay_type']=="others"?'selected':''); ?>>Others</option>
                                    </select>
                                </div>
                                
                                <div class="form-group col-xs-4">
                                    <input type="text" required class="form-control" onkeydown="return false;" onpaste="return false;" autocomplete="off"  name="next_pay_date" value="<?php echo @$this->data['data'][0]['next_pay_date'] ?>" placeholder="Next Payment Date!!!" id="next_pay_date" />
                                </div>
                            </div>
                        </form>
                        
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div id="makepayment" class="btn btn-primary"><?php echo (@$this->data['data'][0]['id']?"Update Payment":"Add Payment"); ?></div>
                            </div>
                            <div class="col-md-6">
                                <button href="javascript:void(0)" class="close sprited" id="close_x" style="float: right;">close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                jQuery(document).ready(function(){
                    $("#next_pay_date").datepicker({dateFormat:"mm/dd/yy", minDate: 0, });
                    $(".amount_pay").maskMoney();
                });
                </script>
            <?php
            
        }
        
        if( $this->data['method']=='POST' ) {
            
            ?>
                <?php echo "Success, Payment added"; ?>
            <?php
            
        }
        
    }

?>