<?php $this->placeholder('userstaticfiles')->captureStart() ?>

<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
<?php 
      $sess = new Zend_Session_Namespace('UserSession');
      $db=Zend_Registry::get("db");
      $booking = null;
      $budgetServices = null;
      $paymentsDone = null;
   //    $select = $db->select()->from(array('u' => 'user'), array('*'))
			// ->joinInner(array('b' => 'bookings'), 'u.id = b.user_id')
			// ->where('u.id = ?', $sess->userId, array(), 2);
     
   //    $rows = $db->fetchAll($select);

      //if(@$_GET["booking"] ) {
        $booking = $db->fetchAll("SELECT b .* FROM user AS u INNER JOIN bookings AS b WHERE u.id = b.user_id and b.user_id=? ", array($sess->userId), 2); 
	    //$booking = $db->fetchAll("SELECT * from bookings where id=?", array($_GET["booking"]), 2);
	    $budget = $booking[0]['event_money'];
	    if($booking) {
			$budgetServices = $db->fetchAll("select * from budget_planner where booking_id=?", array($booking[0]['id']), 2);
		    

			// if( $budgetServices ) {
			//         $services = $budgetServices;	
			// } else {
				//$services = $db->fetchAll("SELECT * FROM vendor WHERE (SELECT SUM( service_cost ) AS service_cost)<? and public !=?", array($budget,0), 2);
			//}
			//$categories = $db->fetchAll("SELECT * FROM vendor_category", array(), 2);
			$paymentsDone = $db->fetchAll("select bp.amount, bp.date, vc.category_name from budget_payment as bp, vendor_category as vc where bp.booking_id=? and bp.service_id=vc.id", array($booking[0]['id']), 2);
	    }
      //}

?>
<script>
	var totalBookings =  "<?php echo count($booking); ?>"; 
	var budgetServices = "<?php echo count($budgetServices); ?>"; 
	var totalPayments =  "<?php echo count($budgetServices); ?>"; 
</script>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/jquery-ui.css">
<div class="budgetFullStyle col-sm-9 mp-up-lyt">
      <h1 class="dashboard-heading headingWithActions myBdgt">My Budget</h1>			    
	    <div class="clear"></div>
	    <div class="dash-content">
		  <section class="bio bgt-bio">
			<div class="row bugtpln-txt">
			      <div class="col-md-4"><b style="margin-right:10px;">My Bookings:</b><div class="btn btn-primary addService" booking="" id="<?php echo $booking[0]['id']; ?>">Add More Services to planner</div>
			      </div>
				    <div class="col-md-6">
					  <form action="" id="bookings" name="bookings">								
					<!-- 	<select name="booking" id="booking" class="form-control">
							    <option value="<?php echo $booking[0]['id']; ?>"><?php if( $booking ) { echo "Quince Type:".$booking[0]['quince_type'].","; echo "Budget: $".$booking[0]['event_money']; } else {echo "---"; } ?></option>
								  <?php
									if( $rows ) {
									      foreach( $rows as $data => $values ) {
																								
										    ?>		
											  <option value="<?php echo $values->id; ?>">
												Quince Type:<?php echo $values->quince_type.","; ?>
												Budget:<?php echo $values->event_money; ?>
											  </option>
										    <?php
									      }		
									}
								  ?>	
						</select> -->
				    </div>
						<div class="col-md-2"><!-- <input type="submit" class="btn btn-primary" value="Plan My bugdet" /> --></div>
					  </form>
				    </div>
				    <br />
				    <style>
				    tb_h1{
				    	font-size: 20px;
				    }
				    </style>

<form id="budget_planner" name="budget_planner" action="" class="table-responsive" method="POST">
<table class="table table-bordered">
	<!-- Table heading -->
	<tr  style="background-color:#595959;color:white;"  class="main-panel">
		<th class="center">
			<button type="button" class="btn btn-default btn-xs" style="float:left;" aria-label="Left Align">
						<span class="glyphicon glyphicon-resize-vertical"  aria-hidden="true"></span>
			</button>
		</th>
		<th><h2>Budget Amount[$]</h2></th>
		<th><h2>Actual Cost[$]</h2></th>
		<!-- <th><h2>Payee</h2></th> -->
		<th class=""><h2>Payment</h2></th>
		<!-- <th class=""><h2>Payment Type</h2></th>
		<th class=""><h2>Payment Date</h2></th>
		<th class=""><h2>Next Payment</h2></th> -->
		<th class=""><h2>Balance Due[$]</h2></th>
	</tr>
	<!-- Table row -->
	<tr class="success" >
		<td>Event Planner</td>
		<td>
			<div class="input-group col-md-12">
				<span id="basic-addon1" class="input-group-addon">$</span>
				<input id="totalBudget" style="width: 100%;" readonly="readonly" type="text" value="<?php if( $booking ) { echo $booking[0]['event_money']; } else {echo "---"; } ?>" />
			</div>
		</td>
			
		<td>
			<div class="input-group col-md-12">
				<span id="basic-addon1" class="input-group-addon">$</span>
				<input id="totalActualCost" readonly="readonly" type="text" value="0" />
			</div>	
		</td>
		<!-- <td>Self</td> -->
		<td>
			<div class="input-group col-md-12">
				<span id="basic-addon1" class="input-group-addon">$</span>
				<input id="totalPayment" readonly="readonly" type="text" value="0" />
			<div>
		</td>
		<!-- <td>Visa/Debit</td>
		<td>08/21/13</td>
		<td>09/23/13</td> -->
		<td>
			<div class="input-group col-md-12">
				<span id="basic-addon1" class="input-group-addon">$</span>
				<input id="totalDuePayment" readonly="readonly" type="text" value="0" />
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="9">
			<div class="m_collapse">
			  
				<?php							    
				// if( @$services ) {									
				// foreach( $services as $service => $value ) {
				// $info = $db->fetchAll("select * from vendor where category=?", array($value['id']), 2);
				// if( $info ) { $vendor = $info[0]['company_name']." ".$info[0]['first_name']." ".$info[0]['address']." ".$info[0]['email']." ".$info[0]['city']." ".$info[0]['state']." ".$info[0]['country']; } else { $vendor="No info found !"; }
				?>
				<!-- <table class="table table-bordered table-condensed budgetTable planner service_table">
                <tr style="background-color:grey;color:white;">
					<th class="center">Items</th>
					<th>Estimated Cost</th>
					<th>Actual Cost</th>
					<th>Payee</th>
					<th class="">Payment</th>
					<th class="">Payment Type</th>
					<th class="">Payment Date</th>
					<th class="">Next Payment</th>
					<th class="">Balance Due</th>
				</tr>	
				<tr  id="service_list_<?php echo $value['id']; ?>" class="service_list info">												
					<th><a rel='tooltip' data-title='<h3>Vendor Info:</h3><br /><div class="vendor_info"><?php echo $vendor; ?></div>' href="javascript:void(0)" class="item_1"><?php
					foreach( $categories as $category => $val ) {												      
					if( $val['id']==$value['category'] ) { echo $val['category_name']; }												      
					}
					?></a></th>
					<td><input type="text" readonly="readonly" name="estimatedCost[]" value="<?php echo $value['service_cost']; ?>" /><input type="hidden" name="services[]" value="<?php echo $value['id']; ?>" /></td>
					<td><input type="text" name="actualCost[]" value="<?php echo $value['service_cost']; ?>" class="actualCost" /></td>
					<td>Self</td>
					<td><input type="text" value="0.00" name="payment[]" class="payment" placeholder="0.00" /></td>
					<td>Visa/Debit</td>
					<td>08/21/13</td>
					<td>09/23/13</td>
					<td><input type="text" value="0.00" name="balanceDue[]" class="balanceDue" placeholder="0.00" /></td>
				</tr>
				<tr class="content_1 paynow"><td colspan="8">

				<?php
					@$payments = $db->fetchAll("select * from budget_payment where service_id=?", array($value['service_id']), 2);
					if( $payments ) {
					$i=1;
				?>

				<table class="table table-bordered table-condensed budgetTable planner">
					<tr style="background-color:#9B9B9B;color:white;" >
						<th>S.No</th>
						<th>Service ID</th>
						<th>Booking No</th>
						<th>Payee</th>
						<th>Amount</th>
						<th>Transaction Mod</th>
						<th>Paid On</th>
						<th>Next Payment</th>
					</tr>
					<?php foreach( $payments as $pay => $ment) {; ?>
					<tr class="info">
						<td><b>Payment_<?php echo $i; ?></b></td>
						<td><?php echo $ment['service_id']; ?></td>
						<td><?php echo $ment['booking_id']; ?></td>
						<td><?php echo $ment['payee']; ?></td>
						<td><?php echo $ment['amount']; ?></td>
						<td><?php echo $ment['pay_type']; ?></td>
						<td><?php echo 'On: '.date('Y/m/d',strtotime($ment['date'])); ?></td>
						<td><?php echo 'Next: '. date('Y/m/d',strtotime($ment['next_pay_date'])); ?></td>
					</tr>
					<?php $i++; } ?>
			</table>

			<?php
			}
			?>

			</td><td><div booking="<?php echo $booking[0]['id']; ?>" id="<?php echo $value['service_id']; ?>" class="btn btn-primary makepayment">Payment</div></td></tr> -->
			<?php
			//}									
			//} else {
            if(@$budgetServices) {
      //       echo "<pre>";
		    // print_r($budgetServices);
		    // echo "</pre>";
			foreach(@$budgetServices as $budgetService => $value ) {
			//$info = $db->fetchAll("select * from vendor where category=?", array($value['service_id']), 2);
			$categorie = $db->fetchAll("select * from vendor_category where id=?", array($value['service_id']), 2);
			//if( $info ) { $vendor = $info[0]['company_name']." ".$info[0]['first_name']." ".$info[0]['address']." ".$info[0]['email']." ".$info[0]['city']." ".$info[0]['state']." ".$info[0]['country']; } else { $vendor="No info found !"; }
			?>	
			<table class="table table-bordered table-condensed budgetTable planner service_table">
			<tr style="background-color:grey;color:white;" class="collapse1" data-collapse="col_<?php echo $value['id']; ?>">
				<th class="center"> 
					<button type="button" class="btn btn-default btn-xs" style="float:left;" aria-label="Left Align">
						<span class="glyphicon glyphicon-resize-vertical"  aria-hidden="true"></span>
					</button>
					Items
				</th>
				<th>Estimated Cost</th>
				<th>Actual Cost</th>
				<!-- <th>Payee</th> -->
				<th>Payment</th>
				<!-- <th class="">Payment Type</th>
				<th class="">Payment Date</th>
				<th class="">Next Payment</th> -->
				<th>Balance Due</th>
			</tr>	

			    <!-- class="item_1" title='<h3>Vendor Info:</h3><br /><div class="vendor_info"><?php echo $vendor; ?></div>' -->							      
			<tr id="service_list_<?php echo $value['service_id']; ?>"  class="service_list info collapse_panel1 ">
				<th><a rel='tooltip'  href="javascript:void(0)" ><?php
				// foreach( $categories as $category => $val ) {												      
				// if( $val['id']== $value['service_id'] ) { echo $val['category_name']; }												      
				// }
				echo $categorie[0]['category_name'];
				echo "<hr>";
				echo "<span style ='font-size: 11px;' >( ".$value['service']." )</span>"; 
				?></a></th>
				<td>
					<div class="input-group col-md-12">
						<span id="basic-addon1" class="input-group-addon">$</span>
						<input type="text" readonly="readonly" name="estimatedCost[]" value="<?php echo $value['estimated_cost']; ?>" />
					</div>
					<input type="hidden" name="services[]" value="<?php echo $value['service_id']; ?>" />
				</td>
				<td>
					<div class="input-group col-md-12">
					<span id="basic-addon1" class="input-group-addon">$</span>
						<input type="text" name="actualCost[]" value="<?php echo $value['actual_cost']; ?>" class="actualCost" />
					</div>	
				</td>

				<!-- <td>Self</td> -->
				<td>
					<div class="input-group col-md-12">
					<span id="basic-addon1" class="input-group-addon">$</span>
						<input type="text" value="<?php echo $value['paid_amount']; ?>" readonly="readonly" name="payment[]" class="payment" placeholder="0.00" />
					</div>	
				</td>
				<!-- <td>Visa/Debit</td>
				<td>08/21/13</td>
				<td>09/23/13</td> -->
				<td>
				<div class="input-group col-md-12">
				<span id="basic-addon1" class="input-group-addon">$</span>
					<input type="text" value="<?php echo $value['pending_amount']; ?>" name="balanceDue[]" class="balanceDue" placeholder="0.00" />
				</div>	
				</td>
			</tr>
			<tr class="content_1 paynow"><td colspan="8">
             <div class="col_<?php echo $value['id']; ?>">
			<?php
			$payments = $db->fetchAll("select * from budget_payment where service_id=? and booking_id=? ORDER BY id DESC", array($value['service_id'],$value['booking_id']), 2);
			if( $payments ) {
					
			$i=count($payments);
			?>

			<table class="table table-bordered table-condensed budgetTable planner paymenttable">
			<tr style="background-color:#9B9B9B;color:white;">
				<th>S.No</th>
				<!--th>Service ID</th>
				<th>Booking No</th-->
				<th>Payee</th>
				<th>Amount</th>
				<th>Transaction Mod</th>
				<th>Paid On</th>
				<th>Next Payment</th>
				<th>Action</th>
			</tr>
			<?php foreach( $payments as $pay => $ment) { 
                $today =  date_create(date("Y-m-d"));
				$date = DateTime::createFromFormat('m/d/Y', $ment['next_pay_date']);
				$next_date =  date_create($date->format('Y-m-d'));
				$interval = date_diff($today,$next_date);
				$days = $interval->format('%a');       
			?>
			<tr class="warning payment_<?php echo $ment['id']; ?>">
				<td><b>Payment <?php echo $i; ?></b></td>
				<!--td><?php //echo $ment['service_id']; ?></td>
				<td><?php //echo $ment['booking_id']; ?></td-->
				<td><?php echo $ment['payee']; ?></td>
				<td><?php echo "$". $ment['amount']; ?></td>
				<td><?php echo $ment['pay_type']; ?></td>
				<td><?php echo 'On: '.date('m/d/Y',strtotime($ment['date'])); ?></td>
				<td>
					<span class="<?php echo ($days<5?'blink':''); ?>">
						<?php
						   echo 'Next: '.$ment['next_pay_date']; 
						?>
					</span>
				</td>
				<!-- date('m-d-y',strtotime($ment['next_pay_date'])); -->
				<td>
					<a class="edit-pay editpayment" booking="<?php echo $booking[0]['id']; ?>" id="<?php echo $value['service_id']; ?>" data-id="<?php echo $ment['id']; ?>" href=""></a> 
					<a class="delete-pay pay-opr" booking="<?php echo $booking[0]['id']; ?>" id="<?php echo $value['service_id']; ?>" data-id="<?php echo $ment['id']; ?>" href=""></a>
				</td>
			</tr>
			<?php $i--; } ?>

			</table>
            <script>
            $(document).ready(function(){ 
	            function blinker() {
	   				 $('.blink').fadeOut(500);
	    			 $('.blink').fadeIn(500);
				}
				setInterval(blinker, 1000);
			});
            </script>
			<?php
			}
			?>
            </div>
			</td><td><div class="btn btn-primary makepayment " booking="<?php echo $booking[0]['id']; ?>" id="<?php echo $value['service_id']; ?>">Add Payments</div> </td></tr>
			<?php
			}	
		   }
			//}							    
			?>
			</table>
            </div>
		</td>
	</tr>
</table><!-- // Table body END -->
<div class="clear"></div>
<!-- // Table END -->
<input type="hidden" name="bookingId" value="<?php echo $booking[0]['id']; ?>">
<input type="hidden" name="totalBudget" value="<?php echo $booking[0]['event_money']; ?>">
</form>
		  </section>
		  <!-- Widget -->
	         <div class="widget widget-inverse">	
		      <!-- Widget heading -->
		      <div class="widget-head">
			<h4 class="heading">Stat Chart</h4>
		      </div>
		      <!-- // Widget heading END -->		
		      <div class="widget-body" style="overflow: hidden;">		
			<!-- Donut Chart -->
			<div class="col-md-6">
						<div class="box-generic ">
									<p class="margin-none">Actual Cost</p>
									<strong class="text-large">$<span id="totalBudget">00000.00</span></strong>
						</div>
						<div class="box-generic">
									<p class="margin-none">Total Payments Made</p>
									<strong class="text-large">$<span id="totalPayments">000000.00</span></strong>
						</div>
						<div class="box-generic ">
									<p class="margin-none">Total Payments Pending</p>
									<strong class="text-large">$<span id="totalDues">000000.00</span></strong>
						</div>
			</div>
			<div class="col-md-6">
						<div id="chart" style="height: 400px"></div>
			</div>
		      </div>
	        </div>
		 
		 <div class="widget widget-inverse">
	<div class="widget-head">
		<h3 class="heading">Recent Activity</h3>
	</div>
	
	<div class="widget-body padding-none">

		<div class="widget widget-tabs widget-tabs-icons-only-2 widget-activity margin-none border-none">

			<!-- Tabs Heading -->
			<!-- // Tabs Heading END -->
			
			<div class="widget-body padding-none">
					
					<!-- Filter Messages Tab -->
					<div id="filterMessagesTab" class="tab-pane active">
						<ul class="list noMarginIcon text-center" style="height:300px; margin:20px; overflow: auto;">
						<!-- Activity item -->
						<?php
						
									if( $paymentsDone ) {
												
											foreach( $paymentsDone as $p => $t ) {
												?>
															<li class="double" style="line-height: 40px; padding: 10px;">
																		<span class="glyphicons activity-icon envelope"><i></i></span>
																		<span class="ellipsis">
																			You made payment of ( $<?php echo $t['amount']; ?> ) to <?php echo $t['category_name']; ?>.
																		</span>
																		<div class="clearfix"></div>
															</li>
												<?php
												}	
												
									} else {
												
												echo "No payments made found !!";
									}
						
						?>	
						</ul>
					</div>
					<!-- // Filter Messages Tab END -->
					
					
				
			</div>
		</div>
		
	</div>
</div>
		 
            </div>
</div>
<?php $this->placeholder('slider')->captureEnd() ?>
<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-3d.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="<?php echo $this->baseUrl().'/js/general/js/budgetCalculator.js'; ?>"></script>
<script>
jQuery(document).ready(function($){
			
    var budget = parseFloat($("#totalBudget").val());
    var totalActualCost = parseFloat($("#totalActualCost").val());
    var payments = parseFloat($("#totalPayments").text());
    var dues = parseFloat($("#totalDues").text());
    var payments_percent = (payments/totalActualCost)*100;
    //payments_percent = payments_percent.toFixed(2);
    var payments_dues = (dues/totalActualCost)*100;
    //payments_dues = payments_dues.toFixed(2);


	//if ( (payments/budget)*100 !=NaN ) {
	//		var paidAmount = (payments/budget)*100;
	//		if ( paidAmount ) { var pa=paidAmount; }else{ var pa = 1; }
	//		//alert(pa);
	//}
	//if ( (dues/budget)*100 !=NaN ) {
	//		var dueAmount = (dues/budget)*100;
	//		if ( dueAmount ) { var pa=dueAmount; }else{ var pa = 1; }
	//		//alert(pa);
	//}
	////var paidAmount = (payments/budget)*100; if ( paidAmount !=NaN ) { var pa=paidAmount; }else{ var pa = 0; }
	////var dueAmount = (dues/budget)*100; if ( dueAmount !=NaN ) { var da=dueAmount; }else{ var da=0; }
	
	$(function () {
	
        $('#chart').highcharts({
            chart: {
                type: 'pie',
                options3d: {
                                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: 'Graphical View of Bookings, payments and services'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            /*series: [{
                type: 'pie',
                name: 'Budget Stats',
                data: [
                    ['Services',   parseInt(budgetServices)],
                    ['Payments',       parseInt(totalPayments)],
                    {
                        name: 'Total Paid Amount',
                        y: 1,
                        sliced: true,
                        selected: true
                    },
                    ['Bookings',    parseInt(totalBookings)],
                    ['Dues',     2.3]
                ]
            }]
        });*/
		series: [{
                type: 'pie',
                name: 'Budget Stats',
                data: [
                    ['Total Payments Made',   parseInt(payments_percent)],
                    ['Total Payments Pending',       parseInt(payments_dues)]
                ]
            }]
        });
    });
   

    $(".service_table .collapse1").click(function(){
    	var collapse = $(this).attr('data-collapse');
    	$(this).parents("table").find('.'+collapse).stop().slideToggle("linear");
    });
   
    $(".table-bordered .main-panel").click(function(){
    	$(this).parents("table").find('.m_collapse').stop().slideToggle("linear");
    });
   // 
   $(".pay-opr").click(function(e){
   	    e.preventDefault();
   	    var table = $(this).closest("table");
   		var o_type = $(this).attr('id');
   		var data_id = $(this).attr('data-id');
   		var booking = $(this).attr('booking');
   		var r = confirm("Do You Realy Want To Delete This Payment ?");
	    if (r != true) {
	        return false
	    } 
   		$.ajax({
		    cache: false,
		    url : "<?php echo $this->baseUrl(); ?>/users/dashboard/del_payment",
		    type: "POST",
		    dataType : "json",
		    data : {'data_id':data_id,'type':o_type,'booking':booking},
		    //context : Form,
		    success : function(result){
		    	location.reload();
				if(result!="error"){
					$(".payment_"+result.data_id).hide();
					if(result.table_count==0){ 				
						table.hide();
					}			
				}
		    },
		    error : function(){
			    $(this).html("Error!");
		    }
		});
   });
    
 
   $('.collapse').removeClass('collapse');     
});
</script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>
