<?php $this->placeholder('userstaticfiles')->captureStart() ?>

<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
 
    <div class="col-sm-9 mp-up-lyt" style="min-height:500px;">
        <div class="my_all_job_list jb-cntn-lst mtp">
            <!--<div>
                            <div>-->
                
                                <h3>Event List </h3>
                 <p id="preview" class="bg-warning"></p>
                <?php
                  if( !$this->data['data'] ) {
                ?>
                <a href='<?php echo $this->baseUrl(); ?>/users/index/user-step'><button style='float:right;font-size:14px;'><img src="<?php echo $this->baseUrl(); ?>/images/plus_mail.png">  Add Event</button></a>
                                <?php } ?>
                <form  method="post" action="" role="form">
                <table style='width:600px'  id="my_jobs_listing">

                <!-- Table heading -->
            
                <!-- // Table heading END -->
    
                <!-- Table body --> 
                <tbody>                                    
                                    <?php
                    
                                        if( $this->data['data'] ) {
                                            foreach( $this->data['data'] as $data => $values ) {
                                            ?>
                         <?php  $relig= $values['religion'];
                          $user_gp= $values['user_group'];
                         $quince_type=$values['quince_type'];
                         
                         ?>
                                            
                                              <tr> <td>Event</td> <td style="padding:5px;"><b>#<?php echo $values['id']; ?></b></td></tr>
                          <tr> <td>User Group</td> <td style="padding:5px;"><select name="user_group" value='<?php echo $values['user_group']; ?>'>
                        <option value="Quinceanera" <?php if($user_gp=='Quinceanera') {  ?> selected = "selected" <?php }?>  >Quinceanera</option>
                        <option value="Mom" <?php if($user_gp=='Mom'){  ?> selected = "selected" <?php }?> >Mom</option>
                        <option value="Dad" <?php if($user_gp=='Dad'){  ?> selected = "selected" <?php }?>  >Dad</option>
                        <option value="Aunt" <?php if($user_gp=='Aunt'){  ?> selected = "selected" <?php }?>  >Aunt</option>
                        <option value="Sister" <?php if($user_gp=='Sister'){  ?> selected = "selected" <?php }?> >Sister</option>
                        <option value="Relative" <?php if($user_gp=='Relative'){  ?> selected = "selected" <?php }?> >Relative</option>
                        <option value="Event Planner" <?php if($user_gp=='Event Planner'){  ?> selected = "selected" <?php }?> >Event Planner</option>
                        </select></td></tr>
                       
                                               <tr><td style='vertical-align: middle'>Budget</td><td style="padding:5px;">
                           <div class="input-group col-md-6">
                        <span class="input-group-addon" id="basic-addon1">$</span>
                        <input type="text" class="form-control" placeholder="budget" id='currency' value="<?php echo $values['event_money']; ?>" name='budget' aria-describedby="basic-addon1">
                        </div>
                          </td></tr>
                                                <tr><td style='vertical-align: middle'>Money saved so far</td><td style="padding:5px;">
                        <div class="input-group col-md-6">
                        <span class="input-group-addon" id="basic-addon1">$</span>
                        <input type="text" class="form-control" placeholder="budget"  id='currency1' value="<?php echo $values['saved_so_for']; ?>" name='moneysofor' aria-describedby="basic-addon1">
                        </div>
                        </td></tr>
                        <tr><td>Damas</td><div class="input-group col-md-6"><td style="padding:5px;"><input type='text' value="<?php echo $values['damas']; ?>" name='damas'></td>
                                                <tr><td>Chambelanes</td><td style="padding:5px;"><input type='text' value="<?php echo $values['chambelanes']; ?>" name='chambelanes'></td></tr>
                                                <tr><td>Guests</td><td style="padding:5px;"><input type='text' value="<?php echo $values['guests']; ?>" name='guests'></td></tr>
                                                <tr><td>Religion</td><td style="padding:5px;">  
    <select name="religion" value="<?php  echo $values['religion']; ?>">
        <option value="Christian "  <?php if($relig =='Christian '){  ?> selected = "selected" <?php }?> >Christian</option>
        <option value="Catholic " <?php if($relig =='Catholic '){  ?> selected = "selected" <?php }?> >Catholic</option>
        <option value="Jewish "  <?php if($relig =='Jewish '){  ?> selected = "selected" <?php }?> >Jewish</option>
        <option value="Protestant "  <?php if($relig =='Protestant '){  ?> selected = "selected" <?php }?> >Protestant</option>
        <option value="Hindu "  <?php if($relig =='Hindu '){  ?> selected = "selected" <?php }?> >Hindu</option>
        <option value="Unaffiliated "  <?php if($relig =='Unaffiliated '){  ?> selected = "selected" <?php }?> >Unaffiliated</option>
        <option value="Other Christian Faith "  <?php if($relig =='Other Christian Faith '){  ?> selected = "selected" <?php }?> >Other Christian Faith</option>
        <option value="Other Faith "  <?php if($relig =='Other Faith '){  ?> selected = "selected" <?php }?> >Other Faith</option>
    </select>
                                                </td></tr>
                                                <tr><td>Quince Theme</td><td style="padding:5px;"> 
<select name="quince" value='<?php echo $values['quince_type']; ?>'>
    <option value="Simple and Classic" <?php if($quince_type =='Simple and Classic'){  ?> selected = "selected" <?php }?> >Simple and Classic</option>
    <option value="Traditional" <?php if($quince_type =='Traditional'){  ?> selected = "selected" <?php }?> >Traditional</option>
    <option value="Vintage" <?php if($quince_type =='Vintage'){  ?> selected = "selected" <?php }?> >Vintage</option>
    <option value="Fun /Carnival" <?php if($quince_type =='Fun /Carnival'){  ?> selected = "selected" <?php }?> >Fun /Carnival</option>
    <option value="Fairy tale" <?php if($quince_type =='Fairy tale'){  ?> selected = "selected" <?php }?> >Fairy tale</option>
    <option value="Roaring Twenties" <?php if($quince_type =='Roaring Twenties'){  ?> selected = "selected" <?php }?> >Roaring Twenties</option>
    <option value="Hollywood Theme" <?php if($quince_type =='Hollywood Theme'){  ?> selected = "selected" <?php }?> >Hollywood Theme</option>
    <option value="Masquerade" <?php if($quince_type =='Masquerade'){  ?> selected = "selected" <?php }?> >Masquerade</option>
    <option value="Milatary Theme" <?php if($quince_type =='Milatary Theme'){  ?> selected = "selected" <?php }?> >Milatary Theme</option>
    <option value="Disney" <?php if($quince_type =='Disney'){  ?> selected = "selected" <?php }?> >Disney</option>
    <option value="50's" <?php if($quince_type =="50's"){  ?> selected = "selected" <?php }?> >50's</option>
    <option value="Other" <?php if($quince_type =='Other'){  ?> selected = "selected" <?php }?> >Other</option>
</select>

                                                </td></tr>
                                                <tr><td>Wedding Dress</td><td style="padding:5px;">
                                                    <?php list($x,$y) = explode(",", $values['wedding_dress']); 
                        
                              ?>
                                                    <ul class="list-inline">
                                                        <li ><input class="color {valueElement:'myValue1'}" style="border: 1px solid #cccccc;width:30px;height: 30px;background:<?php echo $x; ?>"> <input id="myValue1"  value='<?php echo $x;?>' type='hidden' name='dresscolor1'></li>
                                                        <li ><input class="color {valueElement:'myValue2'}" style="border: 1px solid #cccccc;width:30px;height: 30px;background:<?php echo $y; ?>"> <input id="myValue2" value='<?php echo $y;?>' type='hidden'  name='dresscolor2'></li>
                                                    </ul>                                                    
                                                </td></tr>
                                                <tr><td>Wedding Theme</td><td style="padding:5px;">
                                                    <?php list($a,$b) = explode(",", $values['wedding_theme']); ?>
                                                    <ul class="list-inline">
                                                        <li ><input class="color {valueElement:'myValue3'}" style="border: 1px solid #cccccc;width:30px;height: 30px;background:<?php echo $a; ?>"> <input id="myValue3"  value='<?php echo $a;?>' type='hidden' name='themecolor1'></li>
                                                        <li ><input class="color {valueElement:'myValue4'}" style="border: 1px solid #cccccc;width:30px;height: 30px;background:<?php echo $b; ?>"> <input id="myValue4"  value='<?php echo $b;?>' type='hidden' name='themecolor2'></li>
            
                                                    </ul>
                                                </td></tr>
                        
                        <tr><td>Date</td><td style="padding:5px;"><a href="javascript:void(0)"><input  id='datepicker1' type='text' value="<?php echo $values['user_date']; ?>" name='user_date'></a></td></tr>
                        
                            <tr><td>Ceremony</td><td style="padding:5px;"><select  value="<?php echo $values['ceremony']; ?>" name='ceremony'><option value='1' <?php if($values['ceremony'] == 1 ){?> selected <?php } ?>>yes</option><option value='0' <?php if($values['ceremony'] == 0 ){?> selected <?php } ?>>no</option></select></td></tr>
                                               
                        <tr><td>Actions</td><td>  <button type="submit" class="btn btn-primary sv-chng-btn">save changes</button> <a class="delete1" href="javascript:void(0)" data="<?php echo $values['id']; ?>"><button class="btn btn-warning sv-chng-btn" data="<?php echo $values['id']; ?>">Delete Changes</button></a></td></tr>
                                            <?php
                                        } } else {
                                            echo "No events posted by you yet!!!";
                                        }
                                    ?>
                                </tbody>                                
                                </table>
                 </form>
                            <!--</div>
                        </div>-->
           </div>
    </div>
<?php /*?><div class="col-sm-9 mp-up-lyt" style="min-height:500px;">
        <div class="my_all_job_list jb-cntn-lst mtp">
            <!--<div>
                            <div>-->
                                <h3>Event List</h3><a href='<?php echo $this->baseUrl(); ?>/users/index/user-step'><button style='float:right;font-size:14px;'><img src="<?php echo $this->baseUrl(); ?>/images/plus_mail.png">  Add Event</button></a>
                                <table class="dynamicTable colVis table orders_table" id="my_jobs_listing">

                <!-- Table heading -->
                <thead class="bg-gray">
                    <tr>
                        <th>Event</th>
                        <th>Budget[$]</th>
                        <th>Damas</th>
                        <th>Chambelanes</th>
                                                <th>Guests</th>
                                                <th>Religion</th>
                                                <th>Quince Type</th>
                        <th>Wedding Dress</th>                                                
                                                <th>Wedding Theme</th>
                                                <th>Date</th>
                                                <th>Ceremony</th>
                                                <th>Actions</th>
                    </tr>
                </thead>
                <!-- // Table heading END -->
    
                <!-- Table body --> 
                <tbody>                                    
                                    <?php
                                        if( $this->data['data'] ) {
                                            foreach( $this->data['data'] as $data => $values ) {
                                            ?>
                                            <tr class="jobseekers_<?php echo $values['id']; ?>">
                                                <td>#<?php echo $values['id']; ?></td>
                                                <td><?php echo $values['event_money']; ?></td>
                                                <td><?php echo $values['damas']; ?></td>
                                                <td><?php echo $values['chambelanes']; ?></td>
                                                <td><?php echo $values['guests']; ?></td>
                                                <td><?php echo $values['religion']; ?></td>
                                                <td><?php echo $values['quince_type']; ?></td>
                                                <td>
                                                    <?php list($x,$y) = explode(",", $values['wedding_dress']); ?>
                                                    <ul class="list-inline">
                                                        <li style="width: 30px; height: 30px; background: <?php echo $x; ?>"></li>
                                                        <li style="width: 30px; height: 30px; background: <?php echo $y; ?>"></li>
                                                    </ul>                                                    
                                                </td>
                                                <td>
                                                    <?php list($a,$b,$c) = explode(",", $values['wedding_theme']); ?>
                                                    <ul class="list-inline">
                                                        <li style="width: 30px; height: 30px; background: <?php echo $a; ?>"></li>
                                                        <li style="width: 30px; height: 30px; background: <?php echo $b; ?>"></li>
                                                        <li style="width: 30px; height: 30px; background: <?php echo $c; ?>"></li>
                                                    </ul>
                                                </td>
                        <td><a href="javascript:void(0)"><?php echo $values['user_date']; ?></a></td>
                                                <td><a href="javascript:void(0)"><?php echo $values['ceremony']; ?></a></td>
                                                <td>
                                                    <a class="edit" href="<?php echo $this->baseUrl(); ?>/users/index/user-step/id/<?php echo $values['id']; ?>"></a>
                                                    <a class="delete" href="javascript:void(0)" class="delete" data="<?php echo $values['id']; ?>"></a>
                                                </td>
                                            </tr>
                                            <?php
                                        } } else {
                                            echo "No events posted by you yet!!!";
                                        }
                                    ?>
                                </tbody>                                
                                </table>                                
                            <!--</div>
                        </div>-->
           </div>
    </div> */?>
    

<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
 <script>
$(function() {
$( "#datepicker1" ).datepicker({ dateFormat: 'mm/dd/yy', changeMonth: true,
                     changeYear: true});

});
function dateFromatChange(){
    var date_old = $( "#datepicker1" ).val();
    date_new = date_old.split('-').join('/');
    $( "#datepicker1" ).val(date_new);
}
dateFromatChange();
</script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/jscolor/jscolor.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script>
        jQuery(document).ready(function($){
            $("a.delete1").each(function(index){                    
                    $(this).click(function(e){
                        var answer = confirm(" kindly confirm you want to delete event, it will be removed permanently ? ");
                        if ( answer ) {
                                //code                      
                                e.preventDefault();
                                var id = $(this).attr('data');
                                //Form Validation goes here....
                                $.ajax({
                                    cache: false,
                                    url : "<?php echo $this->baseUrl(); ?>/users/dashboard/deleteevent/format/html",
                                    type: "POST",
                                    //dataType : "json",
                                    data : {'id':$(this).attr('data')},
                                    //context : Form,
                                    success : function(result){
                                            $("#operation_status").html(result).promise().done(function(){                                              
                                                location.reload();
                                                $("tr.jobseekers_"+id).addClass('hide');                                            
                                            });
                                    },
                                    error : function(){
                                        $(this).html("Error!");
                                    }
                                });
                        }
                        
                    });
                    
            });     
        });   
</script>
<script>
  $(function() {
    $('#currency').maskMoney();
     $('#currency1').maskMoney();
  })
</script>
<script>
        $("form").submit(function(e){
            e.preventDefault();
            var data = {}
            var Form = this;

            //Gathering the Data
            $.each(this.elements, function(i, v){
                    var input = $(v);
                    data[input.attr("name")] = input.val();
                    delete data["undefined"];
            });
                
            //Form Validation goes here....
            $.ajax({
                    cache: false,
                    url : '<?php echo $this->baseUrl(); ?>/users/dashboard/events',
                    type: "POST",
                    //dataType : "json",
                    //data : JSON.stringify(data),
                    data : data,
                    context : Form,
                    success : function(result){
                        //$(this)[0].reset();
                        $("#preview").html(result);
                    },
                    error : function(){
                        $(this).html("Error!");
                    }
            });
        });
        </script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>
