<?php $this->placeholder('userstaticfiles')->captureStart() ?>

<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
<?php $db=Zend_Registry::get("db"); $media = $db->fetchAll("select type from media where section=?", array('user-avatar'), 2); ?>

<div class="col-md-9 mp-up-lyt mtp" style="min-height:500px;">
	<div class="job_seekers_list jb-cntn-lst">
		<div class="row">
            <div class="col-md-9">
                <h3 class="lst-apl">Applicant's List</h3>
                <table class="dynamicTable colVis table orders_table">

			<!-- Table heading -->
			<thead class="bg-gray">
				<tr>
					<th>Job</th>
					<th>Vendor Image</th>
					<th>Vendor Name</th>
                    <th>Vendor Bid</th>
                    <th>View Vendor Home page</th>
					<th>Actions</th>
				</tr>
			</thead>
			<!-- // Table heading END -->

			<!-- Table body --> 
			<tbody>
                                
            <?php
                if(@$this->data) {  
                    $i=0;    
                    foreach(@$this->data['data'] as $data => $values ) {
                    ?>
                    <tr class="row-sel sel-data_<?php echo $i; ?>">
                        <td>#<?php echo $values['job_id']; ?></td>
                        <td><span><a href="<?php echo $this->baseUrl(); ?>/vendor/homepage/index/id/<?php echo $values['vendor_id']; ?>" target="_blanck">                                         
                            <?php                                                    
                                if($this->data['vendor_media'][$i]!=null) {
                                    if($this->data['vendor_media'][$i][0]['owner']==$values['vendor_id']){
                                    ?> <img style="border-radius:50%;" src="<?php echo $this->baseUrl(); ?>/media/<?php echo $values['applier_id']; ?>/user-avatar_<?php echo $values['applier_id']; ?>_0_64x64<?php echo $this->data['vendor_media'][$i][0]['type']; ?>" alt="Applier Image"> <?php
                                    }
                                    else {
                                        ?>
                                        <img style="border-radius:50%;" src="<?php echo $this->baseUrl(); ?>/images/msg-pro.jpg" alt="Applier Image">
                                        <?php
                                    }
                                } else {
                                    ?> <img style="border-radius:50%;" src="<?php echo $this->baseUrl(); ?>/images/msg-pro.jpg" alt="Applier Image"> <?php
                                }                                                    
                            ?>
                            </a>                                                    
                        </span></td>
                        <td id="ven-name">
                           <span id="vendor_name"><?php echo $values['first_name']." ".$values['last_name']; ?></span>
                           <!--  <span id="Description"><?php echo $values['about']; ?></span><br />
                            <span id="vendorEmail"><?php echo $values['email']; ?></span>       -->                                              
                        </td>
                        <td id="ven_bid">
                            <span id="vendor_bid">$<?php echo $values['quote_budget']; ?></span>
                        </td>
                        <td id="ven_view">
                            <span id="view_vendor"><a href="<?php echo $this->baseUrl(); ?>/vendor/homepage/index/id/<?php echo $values['vendor_id']; ?>" target="_blanck"><?php echo $values['first_name']; ?> home page</a></span>
                        </td>
                        <td class="sel-td">
                            <a href="javascript:void(0)" id="sel-data_<?php echo $i; ?>_view" data-link="<?php echo "view_".$values['job_id']; ?>_<?php echo $values['applier_id']; ?>" class="operation sel-opr">View</a>&nbsp;|&nbsp;
                            <a href="javascript:void(0)" id="sel-data_<?php echo $i; ?>_send" data-link="<?php echo "sendmessage_".$values['job_id']; ?>_<?php echo $values['applier_id']; ?>" class="operation sel-opr">Send Message</a>
                            <?php if($values['accept']==0) { ?>
                            &nbsp;|&nbsp;
                            <a href="javascript:void(0)" id="sel-data_<?php echo $i; ?>_dele" data-link="<?php echo "delete_".$values['job_id']; ?>_<?php echo $values['applier_id']; ?>" class="operation delete_confirm sel-opr">Delete</a>
                            <?php 
                            }
                            if($values['hired_id']==0) { ?>
                            &nbsp;|&nbsp;
                            <a href="javascript:void(0)"  id="sel-data_<?php echo $i; ?>_tjob" data-link="<?php echo "tjob_".$values['job_id']."_".$values['applier_id']; ?>"  class="hire-job sel-opr">HIRE</a>
                            <?php }
                            else if($values['applier_id']==$values['hired_id']){
                                ?>
                            &nbsp;|&nbsp;
                            <?php
                             if($values['accept']==0){
                             ?>
                             <a href="javascript:void(0)"  id="sel-data_<?php echo $i; ?>_tjob" class="sel-opr btn-cl" ><b>Acceptence Pending by Vendor</b></a>
                             <?php
                             }
                            else if(!$values['is_ended']){// for when job not is ended ?>

                            <a href="javascript:void(0)"  id="sel-data_<?php echo $i; ?>_tjob" data-link="<?php echo "tjob_".$values['job_id']."_".$values['applier_id'] ?>"  class="end-job sel-opr" >End Job</a>
                            <?php }else{// for when job is ended ?>

                            <a href="javascript:void(0)" id="sel-data_<?php echo $i; ?>_tjob" class="sel-opr btn-cl" ><b>Job Ended(Completed) With This Vendor</b></a>    
                            <?php
                                    }
                            }
                            ?>

                        </td>
                    </tr>
                    <?php
                    $i++;
                } } 
            ?>
                            </tbody>
                            
                            </table>                                
                        </div>
                        <div class="col-md-3">
                            <div id="heavy_job_lifting"></div>
                        </div>
                    </div>
       </div>
</div>

<style>
    .ui-selected
    {
        background-color:#E0F1FF;
    }
</style>
<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script>
    
    jQuery(document).ready(function($){
        $(".sel-td").selectable({
                selected: function(event, ui) {}
        }); 

        $(".btn-cl").click(function(){
            if($(".sel-opr").hasClass( "ui-selected" )){
                $(".sel-opr").removeClass( "ui-selected" );
                $(".row-sel").removeClass( "ui-selected" );
            }
            $(this).addClass("ui-selected");
            var id = $(this).attr('id');
            var id_cls = id.substring(0, id.length-5);
            $("."+id_cls).addClass("ui-selected");
        });

        $("a.operation").each(function(index){
            $(this).removeClass("ui-selected");
            $(this).click(function(e){
                if($(".sel-opr").hasClass( "ui-selected" )){
                        $(".sel-opr").removeClass( "ui-selected" );
                        $(".row-sel").removeClass( "ui-selected" );
                }
                if($(this).hasClass("delete_confirm")){
                    var r = confirm("Are you sure you want to delete this Applicant.");
                    if (r == false) {
                        return false;
                    } 
                }
                $(this).addClass("ui-selected");
                var id = $(this).attr('id');
                var id_cls = id.substring(0, id.length-5);
                $("."+id_cls).addClass("ui-selected");
                e.preventDefault();
		        var Form = this;
		
                //Form Validation goes here....
                $.ajax({
                    cache: false,
                    url : "<?php echo $this->baseUrl(); ?>/users/job/operationonapplier/format/html",
                    type: "GET",
                    data : {'data':$(this).attr('data-link')},
                    success : function(result){
		
                        $("#heavy_job_lifting").html(result).promise().done(function(){
				    //your callback logic / code here
				    $("form").submit(function(e){
						e.preventDefault();
						var data = {}
						var Form = this;
				
						//Gathering the Data
						$.each(this.elements, function(i, v){
						    var input = $(v);
						    data[input.attr("name")] = input.val();
						    delete data["undefined"];
						});
					    
						//Form Validation goes here....
						$.ajax({
							cache: false,
							url : "<?php echo $this->baseUrl(); ?>/users/job/operationonapplier/format/html",
							type: "POST",
							//dataType : "json",
							//data : JSON.stringify(data),
							data : data,
							//context : Form,
							success : function(result){
								Form.reset();
								$("#preview").html(result);
                                
							},
							error : function(){
								$(this).html("Error!");
							}
						});
				    });
			});

				$("a#removeMessage").click(function(e) {
					var id = $(e.target).attr("data-id");
					$.ajax({
						type: 'GET',
						url: 'http://'+document.location.hostname+'/za/public/admin/messages/remove/format/html',
						data: {id:id}
						}).done(function(result) {
						if ( result.resp == 'success' ) {
							$("#"+id).hide();
						}
				      });	
				});
                    },
                    error : function(){
                        $(this).html("Error!");
                    }
                });
            });            
        });		
        // hire job button excecution 
        $(".hire-job").click(function(e){
          if($(".sel-opr").hasClass("pending")){
             return false;
          }
        var r = confirm("The Term and Conditions of this job will be sent to this vendor as a Contract.\n If The Contract is Accepted by this Vendor, The Term and Condition will not be editable by you Anymore .");
            if (r == false) {
                return false;
            }
                if($(".sel-opr").hasClass( "ui-selected" )){
                        $(".sel-opr").removeClass( "ui-selected" );
                        $(".row-sel").removeClass( "ui-selected" );
                }
                $(this).addClass("ui-selected");
                var id = $(this).attr('id');
                var id_cls = id.substring(0, id.length-5);
                $("."+id_cls).addClass("ui-selected");
            var data = $(this).attr('data-link');
            $.ajax({
                cache: false,
                url : "<?php echo $this->baseUrl(); ?>/users/dashboard/hireoperation",
                type: "POST",                
                data : {data:data,"job_title":"<?php echo $values['title']; ?>"},               
                success : function(result){
                    $("#"+id).html("Acceptence Pending by Vendor").attr('class','pending sel-opr');
                    $(".hire-job").html('').removeClass("hire-job");
                },
                error : function(error){
                    console.log(error);
                }
            });	
        });

        // end job button excecution
        $(".end-job").click(function(){
        
        var r = confirm("After The Job Ends It Will Not be visible to any Vendor and Status will be marked as Completed.");
            if (r == false) {
                return false;
            }
            if($(".sel-opr").hasClass( "ui-selected" )){
                $(".sel-opr").removeClass( "ui-selected" );
                $(".row-sel").removeClass( "ui-selected" );
            }
            $(this).addClass("ui-selected");
            var id = $(this).attr('id');
            var id_cls = id.substring(0, id.length-5);
            $("."+id_cls).addClass("ui-selected");
            var data = $(this).attr('data-link');
            $.ajax({
                cache: false,
                url : "<?php echo $this->baseUrl(); ?>/users/dashboard/endoperation",
                type: "POST",                
                data : {data:data,"job_title":"<?php echo $values['title']; ?>"},               
                success : function(result){
                   window.location.href="/users/dashboard/myjobs";
                },
                error : function(error){

                    console.log(error);
                    window.location.href="/users/dashboard/myjobs";
                }
            }); 

        });

    });
    
</script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>
