<?php $sess = new Zend_Session_Namespace('UserSession'); ?>
<?php $this->placeholder('slider')->captureStart() ?>

 <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/assets/components/library/jquery-ui/css/jquery.ui.chatbox.css" />
 <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/assets/components/library/jquery-ui/css/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/assets/components/library/jquery-ui/css/jquery-ui.css" />




<article class="col-md-9 mp-up-lyt">
		<div class="heading-buttons bg-white border-bottom innerAll">
			<h3 class="content-heading padding-none pull-left">My Contacts</h3>
				<div class="clearfix"></div>
		</div>
		<div class="input-group input-lg frm-cntrl-stly ">
		 	 <input type="text" class="form-control" placeholder="Search Contact">
		  	 <div class="input-group-btn"><button class="btn btn-primary" type="button">Search</button></div>
		</div>

	<?php

	 // echo "<pre>";
		// print_r($this->data['media']); die();
	
		
	?>
	<section  class='' style='min-height:559px; margin-top:0px;'>
	<div class="innerLR border-top">
		
		<div class="row-merge eml-fnt">
	
						<div class="bg-white border-bottom ">
								
									
									<div class="col-md-3">
									<h1>Gmail Contacts </h1><br>
									<?php if( !empty( $this->data['gmail'] )) { 

												foreach ($this->data['gmail'] as $key => $value) {
									?>
													<a href="javascript:void(0);"><?php echo $value['email'] ;?></a>
									<?php 		}
										} else { 
										echo '<a href="javascript:void(0);">You have not Gmail Contacts.</a>';
										   } ?>
									</div>

									
									<div class="col-md-3">
									<h1>Facebook Contacts </h1><br>
									<?php if( !empty( $this->data['facebook'] )) { 

												foreach ($this->data['facebook'] as $key => $value) {
									?>
													<a href="javascript:void(0);"><?php echo $value['email'] ;?></a>
									<?php 		}
										} else { 
										echo '<a href="javascript:void(0);">You have not Facebook Contacts.</a>';
										   } ?>
									</div>

									
									<div class="col-md-3">
									<h1>Yahoo Contacts </h1><br>
									<?php if( !empty( $this->data['yahoo'] )) { 

												foreach ($this->data['yahoo'] as $key => $value) {
									?>
													<a href="javascript:void(0);"><?php echo $value['email'] ;?></a>
									<?php 		}
										} else { 
										echo '<a href="javascript:void(0);">You have not Yahoo Contacts.</a>';
										   } ?>
									</div>

									
									<div class="col-md-3">
									<h1>Msn Contacts </h1><br>
									<?php if( !empty( $this->data['msn'] )) { 

												foreach ($this->data['msn'] as $key => $value) {
									?>
													<a href="javascript:void(0);"><?php echo $value['email'] ;?></a>
									<?php 		}
										} else { 
										echo '<a href="javascript:void(0);">You have not Msn Contacts.</a>';
										   } ?>
									</div>
							
		
							

						</div>		
		</div>
	</div>
						
</article>
<?php $this->placeholder('slider')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>

<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/library/jquery-ui/js/jquery-ui.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/js/chatu.js"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/core/js/ajax.js"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/core/js/chatboxu.js"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/library/jquery/jquery.ui.chatboxu.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/js/general/operations.js"></script>
<script src="<?php echo PUBLIC_URI; ?>/js/review.js"></script>

<?php $this->placeholder('testjavascripts')->captureEnd() ?>