<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/assets/css/admin/module.admin.page.form_elements.min.css" />
<h1 class="bg-white content-heading border-bottom">My Account</h1>
<div class="bg-white innerAll border-bottom">
	<ul class="menubar">
		<li><a href="<?php echo $this->baseUrl(); ?>/admin">Dashboard</a></li>
		<li><a href="#"><span class="badge badge-primary pull-right">30</span> Button</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/admin/index/avp">View Profile</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/admin/index/aep">Edit Profile</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/admin/index/as">Support</a></li>
			</ul>
		</li>
	</ul>
</div>
<div class="innerAll spacing-x2">
	<!-- Widget -->
<div class="widget widget-tabs widget-tabs-gray border-bottom-none">

	<!-- Widget heading -->
	<div class="widget-head">
		<ul>
			<li class="active"><a class="glyphicons edit" href="#account-details" data-toggle="tab"><i></i>Account details</a></li>
			<li><a class="glyphicons settings" href="#account-settings" data-toggle="tab"><i></i>Account settings</a></li>
			<li><a class="glyphicons settings" href="#profile-image" data-toggle="tab"><i></i>Profile Image</a></li>
		</ul>
	</div>
	<!-- // Widget heading END -->
	
	<div class="widget-body">
			<div class="tab-content">			
				<!-- Tab content -->
				<div class="tab-pane active" id="account-details">
					<form name="" id="account-details" class="form-horizontal" action="" method="POST">
						<!-- Row -->
						<div class="row">					
							<!-- Column -->
							<div class="col-md-6">
						
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">First name</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="first_name" value="<?php echo $this->data['data'][0]['first_name']; ?>" class="form-control" placeholder="Enter your first name !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="First name is mandatory"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
							
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Last name</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="last_name" value="<?php echo $this->data['data'][0]['last_name']; ?>" value="Doe" class="form-control" placeholder="Enter your last name !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Last name is mandatory"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
							
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Date of birth</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" id="date_of_birth" required="true" name="date_of_birth" value="<?php echo $this->data['data'][0]['date_of_birth']; ?>" id="datepicker1" class="form-control" placeholder="Enter your Date Of Birth !" />
											<!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
										</div>
									</div>
								</div>
							<!-- // Group END -->							
							</div>
							<!-- // Column END -->
						
							<!-- Column -->
							<div class="col-md-6">
						
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Gender</label>
									<div class="col-md-9">
										<select required="true" name="gender" class="form-control">
											<option selected="selected"><?php echo $this->data['data'][0]['gender']; ?></option>
											<option value="Male">Male</option>
											<option value="Female">Female</option>
										</select>
									</div>
								</div>
								<!-- // Group END -->
							
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Age</label>
									<div class="col-md-9">
										<input name="age" required="true" value="<?php echo $this->data['data'][0]['age']; ?>" type="text" class="form-control" />
									</div>
								</div>
								<!-- // Group END -->
							</div>
						<!-- // Column END -->						
						</div>
						<!-- // Row END -->					
						<div class="separator line bottom"></div>
					
						<textarea id="mustHave5_" class="wysihtml5 form-control" required="true" name="bio" class="form-control" rows="5" placeholder="Enter your biography"><?php echo $this->data['data'][0]['bio']; ?></textarea>
					
						<!-- Form actions -->
						<div class="separator top">
							<button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-check"></i> Save changes</button>
							<button type="button" class="btn btn-default"><i class="fa fa-fw fa-times"></i> Cancel</button>
						</div>
						<!-- // Form actions END -->
					
				</div>
				<!-- // Tab content END -->		
				
				<!-- Tab content -->
				<div class="tab-pane" id="account-settings">
					
						<!-- Row -->
						<div class="row">					
							<!-- Column -->
							<div class="col-md-3">
								<strong>Change password</strong>
								<p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
							<!-- // Column END -->						
							<!-- Column -->
							<div class="col-md-9">
								<label for="inputUsername">Username</label>
								<div class="input-group">
									<input type="text" id="inputUsername" class="form-control" value="<?php echo $this->data['data'][0]['email']; ?>" disabled="disabled" />
									<span class="input-group-addon" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="Username can't be changed"><i class="icon-question-sign"></i></span>
								</div>
								<div class="separator bottom"></div>
								<label for="inputUsername">Address</label>
								<textarea id="mustHave6_" class="wysihtml5 form-control" required="true" name="address" class="wysihtml5 form-control" rows="5" placeholder="Leave empty for no change address"><?php echo $this->data['data'][0]['address']; ?></textarea>
								<div class="separator bottom"></div>
								<label for="inputPhone">Pincode</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone"></i></span>
									<input type="text" id="inputPhone" name="pincode" value="<?php echo $this->data['data'][0]['pincode']; ?>" class="form-control" placeholder="Enter your phone number !" />
								</div>
							</div>
							<!-- // Column END -->
						
						</div>
						<!-- // Row END -->
					
						<div class="separator line bottom"></div>					
						<!-- Row -->
						<div class="row">					
							<!-- Column -->
							<div class="col-md-3">
								<strong>Contact details</strong>
								<p class="muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
							<!-- // Column END -->						
							<!-- Column -->
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-6">
										<label for="inputPhone">Phone</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone"></i></span>
											<input type="text" id="inputPhone" name="phonenumber" value="<?php echo $this->data['data'][0]['phone']; ?>" class="form-control" placeholder="Enter your phone number !" />
										</div>
										<div class="separator bottom"></div>
											
										<label for="inputEmail">E-mail</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
											<input type="text" id="inputEmail" name="email" value="<?php echo $this->data['data'][0]['email']; ?>" class="form-control" placeholder="Enter your email !" />
										</div>
										<div class="separator bottom"></div>
										
										<label for="inputWebsite">Website</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-link"></i></span>
											<input type="text" id="inputWebsite" name="website" value="<?php echo $this->data['data'][0]['website']; ?>" class="form-control" placeholder="Application Url !" />
										</div>
										<div class="separator bottom"></div>
									</div>
									<div class="col-md-6">
										<label for="inputFacebook">Facebook</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-facebook"></i></span>
											<input type="text" id="inputFacebook" name="fb_name" value="<?php echo $this->data['data'][0]['fb_name']; ?>" class="form-control" placeholder="Enter facebook ID !" />
										</div>
										<div class="separator bottom"></div>
										
										<label for="inputTwitter">Twitter</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
											<input type="text" id="inputTwitter" name="tw_name" value="<?php echo $this->data['data'][0]['tw_name']; ?>" class="form-control" placeholder="Enter your twitter ID !" />
										</div>
										<div class="separator bottom"></div>
										
										<label for="inputSkype">Skype ID</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-skype"></i></span>
											<input type="text" id="inputSkype" name="sky_name" value="<?php echo $this->data['data'][0]['sky_name']; ?>" class="form-control" placeholder="mySkypeID" />
										</div>
										<div class="separator bottom"></div>
									
										<label for="inputgplus">Google</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
											<input type="text" id="inputgplus" name="gplus_name" value="<?php echo $this->data['data'][0]['gplus_name']; ?>" class="form-control" placeholder="google ID" />
										</div>
										<div class="separator bottom"></div>
									</div>
								</div>
							</div>
							<!-- // Column END -->						
						</div>
						<!-- // Row END -->
					
						<!-- Form actions -->
						<div class="form-actions" style="margin: 0;">
							<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Save changes</button>
						</div>
					<!-- // Form actions END -->
					</form>
				</div>
				
				<!-- // Tab content END -->
				<div class="tab-pane" id="profile-image">
					<div id="final_image"></div>
					<form class="form-horizontal" id="upload_form" enctype="multipart/form-data" method="post" action="<?php echo PUBLIC_URI; ?>/admin/media-uploader/index/format/html" onsubmit="return checkForm()">
							<!-- Column -->
							<div class="row">
								<strong>Profile Image</strong>
							</div>
							<!-- hidden crop params -->
							<input type="hidden" id="x1" name="x1" />
							<input type="hidden" id="y1" name="y1" />
							<input type="hidden" id="x2" name="x2" />
							<input type="hidden" id="y2" name="y2" />
							<input type="hidden" id="profile" name="section" value="user-avatar" />
							<input type="hidden" id="sess" name="user" value="<?php echo $sess->user; ?>">
							<div class="separator top"></div>
							<div class="row">
								<div class="error alert alert-danger">Click Select Image to change profile pic.</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="step2 hide">Loading.....</div>
									<img id="preview" src="<?php echo PUBLIC_URI; ?>/media/<?php echo $sess->user; ?>/user-avatar_<?php echo $sess->user; ?>_0_250x250<?php echo $this->data['media'][0]['type']; ?>" />															
									<div id="preview-pane" style="display: none;">
										<div class="preview-container" style="width: 250px; height: 250px;">
											<img src="" class="jcrop-preview img-responsive img-clean" alt="Preview Pan" />
										</div>
									</div>
								</div>
							</div>
							<div class="separator bottom"></div>
							<div class="row">
									<div class="fileupload fileupload-new margin-none" data-provides="fileupload">
										<div class="input-group">
											<div class="form-control col-md-3"><i class="fa fa-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
											<span class="input-group-btn">
												<span class="btn btn-default btn-file"><span class="fileupload-new">Select Image</span><span class="fileupload-exists">Change</span>
													<input type="file" reuired="true" class="margin-none" name="image_file" id="image_file" onchange="fileSelectHandler()"/>
												</span>
												<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
											</span>
										</div>
									</div>
									<div class="separator top">
										<div class="form-actions" style="margin: 0;">
											<button type="submit" id="form-submit" class="btn btn-primary"><i class="fa fa-check"></i>Upload Image</button>
										</div>
									</div>
							</div>
							<div class="row">
								<div class="info">
									<label>File size</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filesize" name="filesize" />
									</div>
									<div class="separator bottom"></div>
									<label>Type</label>
							
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filetype" name="filetype" />
									</div>
									<div class="separator bottom"></div>
								
									<label>Image dimension</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filedim" name="filedim" />
									</div>
									<div class="separator bottom"></div>
						
									<label>W</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="w" name="w" value="200"/>
										<input type="hidden" class="form-control" id="ww" name="ww" value="200"/>
									</div>
									<div class="separator bottom"></div>
									<label>H</label>
								
									<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
									<input type="text" class="form-control" id="h" name="h" value="200" />
									<input type="hidden" class="form-control" id="hh" name="hh" value="200"/>
								</div>
								<div class="separator bottom"></div>
							</div>
					</form>						
				</div>
			</div>
		</div>
	</div>
</div>
<?php $this->placeholder('content')->captureEnd() ?>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/wysihtml5-0.3.0_rc2.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/bootstrap-wysihtml5-0.0.2.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/custom/wysihtml5.init.js?v=v1.2.3"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
	
	jQuery(document).ready(function() {
		$("input#date_of_birth").datepicker({dateFormat:"yy-dd-mm"});//	YYYY-DD-MM
	});
	
</script>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>