<?php
/**
 * home.phtml
 *
 * Its template file
 */

$UserSession = new Zend_Session_Namespace( 'UserSession' );
$db          = Zend_Registry::get( "db" );
$graphic     = $db->fetchAll( 'select * from media where section=? order by id DESC', array( 'user-avatar' ), 2 );
$cat         = $db->fetchAll( 'select * from vendor_category order by id DESC', array( 'user-avatar' ), 2 );
$countries   = $db->fetchAll( 'select * from countries order by country_id DESC', array(), 2 );
//$cities = $db->fetchAll('select * from cities_bkp order by cid DESC', array(), 2);
$favorite = $db->fetchAll( 'select favorite_id from favorites where user_id=?', array( $UserSession->userId ) );

$favrt = array();
if ( $favorite ) {
	foreach ( $favorite as $key => $value ) {
		array_push( $favrt, $value->favorite_id );
	}
}
$adds = $db->fetchAll( "select * from media where section=? and owner=?and status=? order by id DESC",
	array( 'advertisement', 20, 1 ), 2 );



?>
<div class="flexslider" id="banner">
	<?php

	// If slider has set
	if ( isset( $this->data['slider'] ) ): ?>

		<ul class="slides">
			<?php
			// Loop to get slider image and descriptions
			foreach ( $this->data['slider'] as $mediaKey => $media ): // If owner or section is blank than can not get image
			{
				if ( ! $media['owner'] || ! $media['section'] ):
					continue;
				endif;

				?>
				<li class="slide">

					<!-- Image for slider -->
					<img
						src="<?php echo $this->baseUrl().'/media/' . $media['owner'] . '/' . $media['section'] . '_' . $media['owner'] . '_' . $media['id'] . '_1680x590' . $media['type']; ?>"
						alt=""/>

					<?php
					// Print slider title
					if ( isset( $media['title'] ) && $media['title'] ): ?>
						<p class="top_text"><span class="line1"><?php echo $media['title']; ?></span>
							<!--<span class="line2">This was designed for you and you only</span>--></p>
					<?php endif; ?>

					<?php
					// Print slider description
					if ( isset( $media['description'] ) && $media['description'] ): ?>
						<p class="bottom_text"><?php echo $media['description']; ?></p>
					<?php endif; ?>

				</li>
			<?php } endforeach; ?>
		</ul>
	<?php endif; ?>
</div>

<div class="tab_bar">
	<div class="wrapper">
		<a href="<?php echo $this->baseUrl(); ?>/users/index/user-step">Plan your XV</a>
		<a href="<?php echo $this->baseUrl(); ?>/pages/index/view/type/page/id/136">How it works</a>
		<a href="<?php echo $this->baseUrl(); ?>/pages/index/view/type/page/id/138">Exclusive offers</a>
		<a href="<?php echo $this->baseUrl(); ?>/pages/index/articles">Do's and Dont's</a>
	</div>
</div>
<div class="block" id="ex-offers">
	<h1 class="block_title">Exclusive Offers</h1>

	<div class="offer_carousel flexslider" id="blog_offer">
		<ul class="slides">

			<?php if ( $adds ) {
				foreach ( $adds as $add ) {
					?>
					<li><a href="<?php echo $add['remote_url']; ?>"><img
								src="<?php echo $this->baseUrl(); ?>/media/<?php echo $add['owner']; ?>/advertisement_<?php echo $add['owner']; ?>_<?php echo $add['id']; ?>_280x180<?php echo $add['type']; ?>"
								alt="<?php echo $add['title']; ?>"/> </a></li>

				<?php
				}
			} else {
				?>
				<li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/bn_2.jpg" alt="BOSS" title="BOSS"/></a></li>
				<li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/bn_3.jpg" alt="Bugati" title="Bugati"/></a></li>
				<li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/bn_2.jpg" alt="Calvin Klein" title="Calvin Klein"/></a></li>
				<li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/bn_1.jpg" alt="Chris" title="Chris"/></a></li>
				<li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/bn_2.jpg" alt="Clinique" title="Clinique"/></a></li>
				<li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/bn_3.jpg" alt="dkny" title="dkny"/></a></li>
				<li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/bn_3.jpg" alt="tomy" title="tomy"/></a></li>
				<li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/bn_1.jpg" alt="estee" title="estee"/></a></li>

				<li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/bn_2.jpg" alt="paul smith" title="paul smith"/></a></li>
				<li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/bn_2.jpg" alt="tomy" title="tomy"/></a></li>
			<?php } ?>
		</ul>
	</div>
</div>


<!-- Vendor Section -->
<div class="block" id="find-vendor"
     ng-controller="vendorSearchIndex">

<div class="cycleElementsContainer wrapper" id="cycle-1">
<h1 class="block_title">Find A Local Vendor</h1>

<div class="filter_vendor">
	<h1 class="filter_title">Search Vendors</h1>
	<div class="search-vendor filter_actions">
		<form action="/vendor/search/vsearch/format/html"
		      id="vendor_search" name="vendor_search" method="POST" class="padBlock">
			<input type="button" class="reset_filters" value="Reset Filters" id="reset_search_form"
			       ng-click='resest_filter()'>
			<input type="search" name="search_key" class="search_vendor" ng-model="search.search_key"
			       placeholder="enter keywords"/>
			<select name="by_location" class="vendor_locations" id="by_location" ng-model="search.by_location">
				<option ng-repeat="loc in searchResult.location" value="{{loc.value}}">{{loc.name}}
				</option>
			</select>

			<h1 class="filter_subtitle">By Rating</h1>

			<ul class="select_rating star_content">
				<li  class=""><a href="javascript:void(0)" data-rating="1" class="heart star_rating"></a></li>
				<li class="" ><a href="javascript:void(0)" data-rating="2" class="heart star_rating"></a></li>
				<li class="" ><a href="javascript:void(0)" data-rating="3" class="heart star_rating"></a></li>
				<li class="" ><a href="javascript:void(0)" data-rating="4" class="heart star_rating"></a></li>
				<li class="" ><a href="javascript:void(0)" data-rating="5" class="heart star_rating"></a></li>
			</ul>
			<input type="range" class="hide" id="rate" ng-model="search.rating" name="rating" min="0" max="5" value="0"/>

			<div class="description padBlock" style="min-height:327px;">
				<h1 class="filter_subtitle">Service Type</h1>
				<ul class="service_list">
				<li class="checkbox" ng-repeat="cat in searchResult.category">
					<label>	<input type="checkbox" name="category[]" checklist-model="search.category"
					       checklist-value="cat.id" value="{{cat.id}}" id="check{{cat.id}}"/>
					<label for="check{{cat.id}}">{{cat.category_name}}</label></label>
				</li>
				</ul>
			</div>

			<!-- ng-keypress="search_vendor($event)" -->
			<input type="button" style="display:none;" class="search_btn_home"
			       ng-click="search_vendor()" id="vendor_search_butt"
			       style="padding-top: 20px;color:#000;background-color:#ccc;margin:7px;"
			       value="Search"/>
		</form>
	</div>
</div>


<div class="vendor-info vendor_list">

	<div class='sucs-ms-srch' style="display: none;"></div>

	<div class="clear"></div>
	<div class="alert alert-success" id="notification"
	     ng-hide="(vendorResult | vendorFilter:search.search_key:search.rating:search.by_location:search.category).length > 0">
		No related results found try some another search combination !!!!
	</div>

	<div class="singleVendor" ng-repeat="record in vendorResult | vendorFilter:search.search_key:search.rating:search.by_location:search.category | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
		<div class="main_info">
			<div class="pro_img">
				<img src="<?php echo $this->baseUrl(); ?>/images/home/pro_img.jpg" alt="" />
				<a target="_blanck"
				   href="<?php echo $this->baseUrl(); ?>/vendor/homepage/index/id/{{record.user_id?record.user_id:''}}"></a>
			</div>
			<div class="address_info">
				<p class="vend_info">{{record.address?'Address: '+record.address:'Address not found !'}},<br>
					{{record.city?'City: '+record.city:'City not found !'}},<br>
					{{record.country?'Country: '+record.country:'country not found !'}},<br>
					{{record.zipcode?'Zipcode: '+record.zipcode:'zipcode not found !'}}</p>

				<p class="vend_info">{{record.phone?'Phone: '+record.phone:'phone not found !'}}<br>
					{{record.fax?'Fax: '+record.fax:'fax not found !'}}<br>
					Email: example@mail.com</p>
			</div>

			<ul class="user_rating star_content">
				<li ng-repeat="star in [1,2,3,4,5]" class="{{star<=record.rating?'active':''}}"><a href="javascript:void(0)" class="heart"></a></li>
			</ul>

		</div>
		<p class="vendor_desc">{{record.about?'About: '+record.about:'Biography not found !'}}.</p>

		<ul class="nav-pills vendor_nav">
			<li class=""><a target="_blanck" href="<?php echo $this->baseUrl(); ?>/vendor/homepage/index/id/{{record.user_id?record.user_id:''}}">Portfolio</a>
			</li>

			<li ng-click="callback_quote(record.user_id)" ng-if="searchResult.user_sess=='yes'"><a
					href="javascript:void(0);" data-key="call_{{record.user_id}}" class="callback_quote">Request Call
					Back / Quote </a></li>
			<li ng-click="request_appointment(record.user_id)" ng-if="searchResult.user_sess=='yes'"><a
					href="javascript:void(0);" data-key="call_{{record.user_id}}" class="request_appointment">Request
					Appointment</a></li>
			<li ng-if="searchResult.user_sess=='yes'" ng-repeat="fav in  searchResult.favorite |filter:record.user_id"
			    ng-click="request_favorite(fav)" ng-class="{true: 'favourite-icon', false: ''}[fav==record.user_id]"
			    id="fav_id_{{record.user_id}}" data-key="call_{{record.user_id}}"><a class="request_favorite"
			                                                                         href="javascript:void(0);"
			                                                                         class="request_favorite">Add to
					favorite</a></li>
			<li ng-if="searchResult.user_sess=='yes' && (searchResult.favorite |filter:record.user_id).length==0"
			    ng-click="request_favorite(record.user_id)" id="fav_id_{{record.user_id}}"
			    data-key="call_{{record.user_id}}"><a class="request_favorite" href="javascript:void(0);"
			                                          class="request_favorite">Add to favorite</a></li>
			<li ng-click="request_like(record.user_id)" ng-if="searchResult.user_sess=='yes'"
			    data-key="call_{{record.user_id}}" id="{{record.user_id}}"><a href="javascript:void(0);"
			                                                                  class="request_like">{{record.like?'Like['+record.like+']':'Like'}}</a>
			</li>

			<li ng-click="login()" class="" ng-if="searchResult.user_sess=='no'"><a id="login" href="javascript:void(0);">Request Call Back / Quote </a></li>
			<li ng-click="login()" class="" ng-if="searchResult.user_sess=='no'"><a id="login" href="javascript:void(0);">Request
					Appointment</a></li>
			<li ng-click="login()" class="" ng-if="searchResult.user_sess=='no'"><a id="login"
			                                                                        href="javascript:void(0);">Add to
					favorite</a></li>
			<li ng-click="login()" class="" ng-if="searchResult.user_sess=='no'"><a id="login"
			                                                                        href="javascript:void(0);">Like </a></li>

		</ul>

		<!--<ul class="vendor_nav">
			<li ng-click="login()" ><a id="login" href="javascript:void(0)">Portfolio</a></li>
			<li ng-click="login()" ><a id="login" href="javascript:void(0)" >Request Call Back / Quote</a></li>
			<li ng-click="login()" ><a id="login" href="javascript:void(0)"  >Request Appointment</a></li>
			<li ng-click="login()" ><a id="login" href="javascript:void(0)" >Add To Favourite</a></li>
			<li ng-click="login()" ><a id="login" href="javascript:void(0)"  >Like</a></li>
		</ul>-->
	</div>

</div>

</div>
</div>
<!-- Close Vendor Section -->
<?php if(isset($this->data['theParty'])){ ?>
<div class="block" id="party">
	<h1 class="block_title">The Party</h1>

	<ul class="party_blog clear">
		<?php foreach( $this->data['theParty'] as $theParty ) { ?>
		<li>
			<ul class="post_social">
				<?php $shareUrl = 'https://www.facebook.com/sharer.php?u=' . $theParty->url; ?>
				<li><a href="javascript:void(0);"
				       onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/fb.png" alt=""/></a></li>

				<?php $shareUrl = 'https://twitter.com/home?status=' . $theParty->title . ' url:' . $theParty->url; ?>
				<li><a href="javascript:void(0);"
				       onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/twitter.png" alt=""/></a></li>
				<?php $shareUrl = 'https://plus.google.com/share?url=' . $theParty->url; ?>
				<li>
					<a href="javascript:void(0);"
					   onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/googleplus.png" alt=""/></a></li>

				<?php
				$content  = addslashes( substr( $theParty->content, 0, 150 ) );
				$shareUrl = 'https://pinterest.com/pin/create/button/?url=' . $theParty->image . '&media = image&description=' . $content;


				?>
				<li>
					<a href="javascript:void(0);"
					   onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/pinterest.png" alt=""/></a></li>

			</ul>

			<img src="<?php echo $theParty->image; ?>" alt=""/>
			<a href="<?php echo $theParty->id; ?>" class="party_details">
				<h1 class="party_title"><?php echo $theParty->title; ?></h1>

				<p class="party_desc"><?php echo $theParty->content;?></p>
			</a>
		</li>
	<?php } ?>
	</ul>
</div>
<?php }
if (isset($this->data['trending'])){
?>
<div class="block" id="trending">
	<div class="wrapper">
		<h1 class="block_title">Trending</h1>
        <?php foreach( $this->data['trending'] as $trending ) { ?>
		<div class="col3">
			<ul class="post_social">
				<?php $shareUrl = 'https://www.facebook.com/sharer.php?u='.$trending->url; ?>
				<li><a href="javascript:void(0);" onClick ="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');" ><img src="<?php echo $this->baseUrl(); ?>/images/fb.png" alt="" /></a></li>

				<?php $shareUrl = 'https://twitter.com/home?status='.$trending->title.' url:'. $trending->url; ?>
				<li><a href="javascript:void(0);"
				       onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img src="<?php echo $this->baseUrl(); ?>/images/twitter.png" alt="" /></a></li>
				<?php $shareUrl = 'https://plus.google.com/share?url=' . $trending->url; ?>
				<li>
					<a href="javascript:void(0);"
					   onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/googleplus.png" alt=""/></a></li>

				<?php
				$content  = addslashes( substr( $trending->content, 0, 150 ) );
				$shareUrl = 'https://pinterest.com/pin/create/button/?url=' . $trending->image . '&media = image&description=' . $content;


				?>
				<li>
					<a href="javascript:void(0);"
					   onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/pinterest.png" alt=""/></a></li>

			</ul>
			<img src="<?php echo $trending->image ; ?>" alt="<?php echo $trending->title; ?>"/>

			<h1 class="trending_title"><?php echo $trending->title; ?></h1>

			<p class="trending_desc"><?php echo $trending->content; ?></p>
		</div>
		<?php } ?>
	</div>
</div>
<?php } ?>
<div class="signup_action">
	<div class="wrapper">
		<h1 class="quote_title">Suspendisse et mauris nisi, in semper justo mauris semper lorem ipsum dolor sit amet
			takilano </h1>
		<input type="button" class="main_signup" value="Sign Up Now"/>
	</div>
</div>
<?php
if (isset($this->data['tipsAndIdea'])){
?>
<div class="block" id="tips">
	<div class="wrapper">
		<h1 class="block_title">Tips And Ideas</h1>
        <?php foreach( $this->data['tipsAndIdea'] as $tipsAndIdea) { ?>
		<div class="col4">
			<ul class="post_social">
				<?php $shareUrl = 'https://www.facebook.com/sharer.php?u=' . $tipsAndIdea->url; ?>
				<li><a href="javascript:void(0);"
				       onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/fb.png" alt=""/></a></li>

				<?php $shareUrl = 'https://twitter.com/home?status=' . $tipsAndIdea->title . ' url:' . $tipsAndIdea->url; ?>
				<li><a href="javascript:void(0);"
				       onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/twitter.png" alt=""/></a></li>
				<?php $shareUrl = 'https://plus.google.com/share?url=' . $tipsAndIdea->url; ?>
				<li>
					<a href="javascript:void(0);"
					   onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/googleplus.png" alt=""/></a></li>

				<?php
				$content  = addslashes( substr( $tipsAndIdea->content, 0, 150 ) );
				$shareUrl = 'https://pinterest.com/pin/create/button/?url=' . $tipsAndIdea->image . '&media = image&description=' . $content;


				?>
				<li>
					<a href="javascript:void(0);"
					   onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/pinterest.png" alt=""/></a></li>

			</ul>
			<img src="<?php echo $tipsAndIdea->image; ?>" alt="<?php echo $tipsAndIdea->title; ?>" />

			<h1 class="ideas_title"><?php echo $tipsAndIdea->title; ?></h1>
		</div>
		<?php } ?>

	</div>
</div>
<?php }

if(isset($this->data['spotLight'])) {
?>
<div class="block" id="spotlight">
	<div class="wrapper">
		<h1 class="block_title">The Spotlight</h1>
        <?php foreach( $this->data['spotLight'] as $spotLight) {?>
		<div class="col3 spotlight">
			<ul class="post_social">
				<?php $shareUrl = 'https://www.facebook.com/sharer.php?u=' . $spotLight->url; ?>
				<li><a href="javascript:void(0);"
				       onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/fb.png" alt=""/></a></li>

				<?php $shareUrl = 'https://twitter.com/home?status=' . $spotLight->title . ' url:' . $spotLight->url; ?>
				<li><a href="javascript:void(0);"
				       onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/twitter.png" alt=""/></a></li>
				<?php $shareUrl = 'https://plus.google.com/share?url=' . $spotLight->url; ?>
				<li>
					<a href="javascript:void(0);"
					   onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/googleplus.png" alt=""/></a></li>

				<?php
				$content  = addslashes(  substr( $spotLight->content, 0, 150 ) );
				$shareUrl = 'https://pinterest.com/pin/create/button/?url='.$spotLight->image.'&media = image&description='. $content;


				?>
				<li>
					<a href="javascript:void(0);"
					   onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
							src="<?php echo $this->baseUrl(); ?>/images/pinterest.png" alt=""/></a></li>

			</ul>
			<img src="<?php echo $spotLight->image; ?>" alt=""/>

			<h1 class="ideas_title"><?php echo $spotLight->title; ?></h1>

			<p class="spotlight_desc"><?php echo $spotLight->content; ?></p>
		</div>
		<?php } ?>
	</div>
</div>
<?php }?>

<div class="features block" id="features">
	<div class="wrapper">
		<h1 class="block_title">Features</h1>

		<div class="features_slider flexslider">
			<ul class="slides">
				<li class="slide">
					<div class="table">
						<div class="img_cont">
							<img src="<?php echo $this->baseUrl(); ?>/images/home/features.jpg" alt=""/>
						</div>
						<div class="text_cont">
							<h1>Responsive Web Design</h1>

							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s.</p>
						</div>
					</div>
				</li>
				<li class="slide">
					<div class="table">
						<div class="img_cont">
							<img src="<?php echo $this->baseUrl(); ?>/images/home/features.jpg" alt=""/>
						</div>
						<div class="text_cont">
							<h1>Responsive Web Design</h1>

							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500s.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="block" id="dos-donts">
	<div class="wrapper">
		<h1 class="block_title">Do's And Don'ts</h1>

		<div class="top_block clear">
			<div class="col2">
				<img src="<?php echo $this->baseUrl(); ?>/images/home/do1.jpg" alt=""/>
			</div>
			<div class="col2">
				<img src="<?php echo $this->baseUrl(); ?>/images/home/do2.jpg" alt=""/>
			</div>
		</div>
		<?php if ( isset($this->data['doAndDont']) ) {
		 ?>
		<div class="bottom_block clear">
			<?php foreach ($this->data['doAndDont'] as $doAndDont) { ?>
				<div class="col4">
					<ul class="post_social">
						<?php $shareUrl = 'https://www.facebook.com/sharer.php?u=' . $doAndDont->url; ?>
						<li><a href="javascript:void(0);"
						       onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
									src="<?php echo $this->baseUrl(); ?>/images/fb.png" alt=""/></a></li>

						<?php $shareUrl = 'https://twitter.com/home?status=' . $doAndDont->title . ' url:' . $doAndDont->url; ?>
						<li><a href="javascript:void(0);"
						       onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
									src="<?php echo $this->baseUrl(); ?>/images/twitter.png" alt=""/></a></li>
						<?php $shareUrl = 'https://plus.google.com/share?url=' . $doAndDont->url; ?>
						<li>
							<a href="javascript:void(0);"
							   onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
									src="<?php echo $this->baseUrl(); ?>/images/googleplus.png" alt=""/></a></li>

						<?php
						$content  = addslashes( substr( $doAndDont->content, 0, 150 ) );
						$shareUrl = 'https://pinterest.com/pin/create/button/?url='.$doAndDont->image.'&media = image&description=' . $content;


						?>
						<li>
							<a href="javascript:void(0);"
							   onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
									src="<?php echo $this->baseUrl(); ?>/images/pinterest.png" alt=""/></a></li>

					</ul>
				<img src="<?php echo $doAndDont->image; ?>" alt="<?php echo $doAndDont->title; ?>"/>

				<h1 class="ideas_title"><?php echo $doAndDont->title; ?></h1>

				<p class="spotlight_desc"><?php echo $doAndDont->content; ?></p>
			</div>
			<?php } ?>
		</div>
		<?php } ?>
	</div>
</div>
<?php if(isset($this->data['ideasAndTips'])) {
	?>
<div class="block" id="ideas">
	<div class="wrapper">
		<h1 class="block_title">Ideas and Tips</h1>
		<ul class="ideas_list">
			<?php foreach ( $this->data['ideasAndTips'] as $ideasAndTips ) { ?>
				<li>
					<div class="col4">
					<ul class="post_social">
						<?php $shareUrl = 'https://www.facebook.com/sharer.php?u=' . $ideasAndTips->url; ?>
						<li><a href="javascript:void(0);"
						       onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
									src="<?php echo $this->baseUrl(); ?>/images/fb.png" alt=""/></a></li>

						<?php $shareUrl = 'https://twitter.com/home?status=' . $ideasAndTips->title . ' url:' . $ideasAndTips->url; ?>
						<li><a href="javascript:void(0);"
						       onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
									src="<?php echo $this->baseUrl(); ?>/images/twitter.png" alt=""/></a></li>
						<?php $shareUrl = 'https://plus.google.com/share?url=' . $ideasAndTips->url; ?>
						<li>
							<a href="javascript:void(0);"
							   onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
									src="<?php echo $this->baseUrl(); ?>/images/googleplus.png" alt=""/></a></li>

						<?php
						$content  = addslashes( substr( $ideasAndTips->content, 0, 150 ) );
						$shareUrl = 'https://pinterest.com/pin/create/button/?url=' . $ideasAndTips->image . '&media = image&description=' . $content;


						?>
						<li>
							<a href="javascript:void(0);"
							   onClick="window.open('<?php echo $shareUrl; ?>','Ratting', 'width = 600,height = 400,left = 150,top = 200,toolbar= 0,status = 0');"><img
									src="<?php echo $this->baseUrl(); ?>/images/pinterest.png" alt=""/></a></li>

					</ul>
					</div>
					<img src="<?php echo $ideasAndTips->image; ?>" alt="<?php echo $ideasAndTips->title; ?>"/></li>

			<?php } ?>

			<!--<li><img src="/images/home/tips1.jpg" alt=""/></li>
			<li><img src="/images/home/tips2.jpg" alt=""/></li>
			<li><img src="/images/home/tips3.jpg" alt=""/></li>
	/*		<l*/i><img src="/images/home/tips4.jpg" alt=""/></li>
			<li><img src="/images/home/tips5.jpg" alt=""/></li>
			<li><img src="/images/home/tips6.jpg" alt=""/></li>-->
		</ul>
	</div>
</div>
<?php } ?>
<div class="newsletter">
	<div class="wrapper">
		<h1 class="newsletter_title">Sign up to our newsletter<br/>
			<span>To recieve latest news and updates</span></h1>

		<form action="http://15plug.us11.list-manage.com/subscribe/post" class="newsletter_form">
			<div class="formControl col3">
				<input type="hidden" name="u" value="9e61805918bcea0c5cd1f9168">
				<input type="hidden" name="id" value="3709e8a947">
				<input type="text" name="MERGE1" id="MERGE1" placeholder="Full Name"/>
			</div>
			<div class="formControl col3">
				<input type="email" autocapitalize="off" id="MERGE0" autocorrect="off" name="MERGE0" placeholder="Email Address"/>
			</div>
			<div class="formControl col3">
				<input type="submit" value="Subscribe"/>
			</div>
		</form>
	</div>
</div>
<div class="block" id="online-source">
	<div class="wrapper">
		<h1 class="block_title">Online Source For Events</h1>

		<p class="final_desc">Any shopaholic would fall in love with this layout, ET WeddingDays Responsive Prestashop
			theme.<br/>
			Super neat design, really modern and high fashion skin for the website.<br/>
			With variety available colors, probably, your website will be congruent with your store image.<br/>
			Need to change? You want a very own color combination?<br/>
			Pieces of cake, you can change it to any color you wish with color variation function.</p>
		<ul class="social_icons">
			<li>Follow Us On:</li>
			<li><a href="https://www.facebook.com/emthemes" class="fb"><img src="<?php echo $this->baseUrl();?>/images/home/fb.png" alt=""/></a></li>
			<li><a href="https://twitter.com/prestashop" class="twitter"><img src="<?php echo $this->baseUrl(); ?>/images/home/twitter.png" alt=""/></a></li>
			<li><a href="https://plus.google.com/114285862387604007220/posts" class="gplus"><img src="<?php echo $this->baseUrl(); ?>/images/home/gplus.png" alt=""/></a></li>
		</ul>
	</div>
</div>