<?php

       $UserSession = new Zend_Session_Namespace('UserSession');
    $db=Zend_Registry::get("db");     
    $graphic = $db->fetchAll('select * from media where section=? order by id DESC', array('user-avatar'), 2);  
    $cat = $db->fetchAll('select * from vendor_category order by id DESC', array('user-avatar'), 2);
    $countries = $db->fetchAll('select * from countries order by country_id DESC', array(), 2);
    //$cities = $db->fetchAll('select * from cities_bkp order by cid DESC', array(), 2);
    $favorite = $db->fetchAll('select favorite_id from favorites where user_id=?', array($UserSession->userId));
    
    $favrt = array();
    if($favorite){
	foreach($favorite as $key => $value){
	    array_push($favrt,$value->favorite_id);
	}
    }
   $adds = $db->fetchAll("select * from media where section=? and owner=?and status=? order by id DESC", array('advertisement',20,1), 2);
?>
<!-- slider section -->
<?php $this->placeholder('slider')->captureStart(); ?>
<!-- banner start here -->
<style>
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
</style>
<div class="mode_slideshow" >
  <div class="forcefullwidth_wrapper_tp_banner">
    
	<div class="tp-banner-container">
		<div class="tp-banner " id="home">
			<ul style="visibility:hidden;" id="banner_slider">
				<?php
				    $i=1;
				    foreach( $this->data['slider'] as $data => $value ) {
					?>					    
					    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
						<!-- MAIN IMAGE -->
						<img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $value['owner']; ?>/<?php echo $value['section']; ?>_<?php echo $value['owner']; ?>_<?php echo $value['id']; ?>_1680x590<?php echo $value['type']; ?>"   alt=""  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
	
						<!-- LAYERS -->
						<div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider"
								data-x="center" data-hoffset="0"
								data-y="60"
								data-speed="500"
								data-start="800"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power1.easeIn"
								data-captionhidden="off"
								style="z-index: 6"><h2 class="text-white custom-font title "><?php echo $value['title']; ?></h2>
	
						</div>
						<div class="tp-caption sfb slider tp-resizeme slider"
							data-x="center"
							data-hoffset="0"
							data-y="240"
							data-speed="800"
							data-start="1000"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6">	<a href="#" class="btn btn-purple btn-lg  btn-large m-r-10"></a>
						</div>
						<div class="tp-caption fade slider tp-resizeme slider"
							data-x="center"
							data-hoffset="0"
							data-y="300"
							data-speed="500"
							data-start="800"
							data-easing="Power4.easeOut"
							data-endspeed="300"
							data-endeasing="Power1.easeIn"
							data-captionhidden="off"
							style="z-index: 6">	<a href="#" class="text-white m-r-10"></a>
						</div>
					    </li>
					    
					<?php
					$i++;
				    }	
				?>
			</ul>
		</div>
	</div>
</div></div>

<!-- banner start here -->
	
<?php $this->placeholder('slider')->captureEnd(); ?>

<!-- frist tab section starts -->
<?php $this->placeholder('first-tab-area')->captureStart(); ?>

<!--cat link -->

<div class="mode_megamenu">

<div class="container_24">

<div style="display: block;" class="cs_mega_menu" id="menu">
<ul class="ul_mega_menu">

<li class=" menu_item menu_last level-1"> <a class="title_menu_parent" href="http://blog.15plug.com/"> Blog</a></li>
</ul>
</div>


<div style="display: none;" id="megamenu-responsive">
<ul id="megamenu-responsive-root">
<li class="menu-toggle">

<p></p>Navigation</li>
<li class="root">
<ul>
<li class=""><a href="">

<span>Home
</span></a>
<ul>
<li class=""><a href="">

<span>Men's
</span></a></li>
<li class="parent ">

<p>+</p><a href="">

<span>Women's
</span></a>
<ul>
<li class=""><a href="">

<span>Eliquam elementum tellus
</span></a></li>
<li class="parent ">

<p>+</p><a href="">

<span>Aliquam elementum
</span></a>
<ul>
<li class=""><a href="">

<span> turpis porta at ultricie
</span></a></li>
<li class=""><a href="">

<span> Praesent sollicitudin
</span></a></li>
<li class=""><a href="">

<span>sem neque vestibu
</span></a></li>
</ul></li>
<li class=""><a href="">

<span>Porta at ultricies diam
</span></a></li>
<li class=""><a href="">

<span>Aliquam nibh ligula
</span></a></li>
<li class=""><a href="">

<span>Nam in magna a lorem
</span></a></li>
</ul></li>
<li class=""><a href="">

<span>Dresses
</span></a></li>
<li class=""><a href="">

<span>outerwear
</span></a></li>
<li class=""><a href="">

<span>Shoes
</span></a></li>
<li class=""><a href="">

<span>Jewelry
</span></a></li>
<li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=9&amp;controller=category&amp;id_lang=1">

<span>Accessories
</span></a></li>
</ul></li>
</ul></li>
</ul>
</div>
</div>
</div>

<!-- cat link end  -->


<!-- small banner slider  -->

<div class="cs_mode_contain mode_megamenu">
<div class="manufacturerContainer">

<div class="list_manufacturer responsive top_banner_slider">

<div style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1072px; height: 180px !important; margin: 0px; overflow: hidden;" class="caroufredsel_wrapper">
	<ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 3752px; height: 180px !important;" id="scroller">
	
		<?php 

			if( $adds ) {

				foreach( $adds as $add ){

		?>
		<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="150"> <a href="<?php echo $add['remote_url']; ?>" title="<?php echo $add['title']; ?>"> <img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $add['owner']; ?>/advertisement_<?php echo $add['owner'];?>_<?php echo $add['id']; ?>_280x180<?php echo $add['type']; ?>" alt="<?php echo $add['title']; ?>"></a></li>

		<?php 		}
			}else{
				//echo "Currently there is no advertisement";

		 ?>
<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="300"> <a href="" title="Boss"> <img src="images/bn_2.jpg" alt="Boss"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="450"> <a href="" title="Bugati"> <img src="images/bn_3.jpg" alt="Bugati"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="600"> <a href="" title="Calvin Klein"> <img src="images/bn_2.jpg" alt="Calvin Klein"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="750"> <a href="" title="Chris"> <img src="images/bn_1.jpg" alt="Chris"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="900"> <a href="" title="Clinique"> <img src="images/bn_2.jpg" alt="Clinique"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="1050"> <a href="" title="dkny"> <img src="images/bn_3.jpg" alt="dkny"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="1200"> <a href="" title="estee"> <img src="images/bn_1.jpg" alt="estee"></a></li>
	<li style="width: 280px;" class="bounceIn animated" data-animate="bounceIn" data-delay="1350"> <a href="" title="paul smith"> <img src="images/bn_2.jpg" alt="paul smith"></a></li>
	<li style="width: 280px;" class="not-animated" data-animate="bounceIn" data-delay="1500"> <a href="" title="tomy"> <img src="images/bn_3.jpg" alt="tomy"></a></li> 
	<?php } ?></ul>
</div> <a style="display: block;" class="prev btn" href="#" id="prev_cs_manu">&lt;</a> <a style="display: block;" class="next btn" href="#" id="next_cs_manu">&gt;</a>
</div>
</div>
<script type="text/javascript">/* <![CDATA[ */$(document).ready(function(){$("#scroller").carouFredSel({auto:false,responsive:true,width:'100%',height:'variable',onWindowResize:'debounce',prev:'#prev_cs_manu',next:'#next_cs_manu',swipe:{onTouch:true},items:{width:280,height:'auto',visible:{min:2,max:10}},scroll:{items:4,direction:'left',duration:500,onBefore:function(data){if(touch==false){var that=$("#scroller");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');items=that.find('.animated');items.removeClass('animated').unbind('appear');}}}});});/* ]]> */
</script></div>

<!-- small banner slider end  -->
<div class="cs_mode_contain mode_megamenu">
 
<div class="home_top_tab">
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" id="ul_cs_tab">
    <li class="refreshCarousel ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><h4 class="title_block">
      <span><a class="g_bm1_t" href="#tabs-1">Find a local vendor</a></span></h4>
    </li>  
    <li class="refreshCarousel ui-state-default ui-corner-top"><h4 class="title_block">
	<span><a class="g_bm1_t" href="#tabs-2">Venue Ideas</a></span></h4>
    </li>
    <li class="refreshCarousel ui-state-default ui-corner-top"><h4 class="title_block">
	<span><a class="g_bm1_t" href="#tabs-3">What XV girls are saying ?</a></span></h4>
    </li>
    <li class="refreshCarousel ui-state-default ui-corner-top"><h4 class="title_block">
	<span><a class="g_bm1_t" href="#tabs-4">Ideas &amp; Tips</a></span></h4>
    </li>	
</ul>

<div class="title_tab_hide_show" style="display: none;"> New Arrivals
</div>


<!-- Code for animation of search Start -->

<!-- Code for animation of search End -->

<div class="tabs-carousel ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-1" ng-controller="vendorSearchIndex">

<div class="cycleElementsContainer" id="cycle-1">

<div id="elements-1">

<div class="responsive">
  
  <aside class="side-nav">
	<h1 class="head">Search Vendors</h1>
	<section class="search-vendor">
	    <form action="<?php echo $this->baseUrl(); ?>/vendor/search/vsearch/format/html" id="vendor_search" name="vendor_search" method="POST">
	   <label> <h4> <a id="reset_search_form" ng-click='resest_filter()' href="javascript:void(0)">Click To Reset Search Filters </a></h4></label>
		<label>By Keyword / Zip Code</label>	
		<input type="search" name="search_key" ng-model="search.search_key" placeholder="enter keywords" />
        <label>By Location</label>
		<select name="by_location"  id="by_location" ng-model="search.by_location">
        <option ng-repeat="loc in searchResult.location" value="{{loc.value}}">{{loc.name}}</option>
        </select>
        
		<label>By Rating  </label>
		<span id="rate_val">
			<div style="float:left" class="star_content clearfix"><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>
		</span>
		<input type="range" id="rate" ng-model="search.rating"  name="rating" min="0" max="5" value="0" />
		

        <label>Service Type</label>
        <div class="description" style="min-height:327px;">
        	<div class="checkbox" ng-repeat="cat in searchResult.category">
        		<input type="checkbox" name="category[]"  checklist-model="search.category" checklist-value="cat.id" value="{{cat.id}}" id="check{{cat.id}}" />
			    <label for="check{{cat.id}}">{{cat.category_name}}</label>
        	</div>
        </div>

         <!-- ng-keypress="search_vendor($event)" -->
		 <input type="button" style="display:none;"  class="search_btn_home" ng-click="search_vendor()" id="vendor_search_butt" style="padding-top: 20px;color:#000;background-color:#ccc;margin:7px;" value="Search"/>
	    </form>
	</section>							
</aside>





<article class="vendor-info">
	<div class='sucs-ms-srch' style="display: none;"></div>
	<div style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1200px; height: 562px; margin: 0px; overflow: auto;" class="caroufredsel_wrapper">
	<ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4080px; height: 562px;" class="product-list" id="carousel2">
		<li class="ajax_block_product first_item item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="150"></li>
	
	</ul>

	<section  class="" style='min-height:559px; margin-top:0px;' ng-cloak>								
        
		<div class="search-content" ng-repeat="record in vendorResult | vendorFilter:search.search_key:search.rating:search.by_location:search.category | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"> 
              
			<div class="pro-rpt-spc">
				<div class="profile-pic">
					<div class="table">
					<a target="_blanck" href="/vendor/homepage/index/id/{{record.user_id?record.user_id:''}}">
                      <span>
                      </span>
                      </a>
					</div>
					<div style='float:left;margin-left:10px;margin-right:10px;'>Rating:</div>
					<div class="star_content clearfix" style='float:left' >
						<div ng-repeat=" star in [1,2,3,4,5] " class="star {{star<=record.rating?'star_on':''}}"></div>
				    </div>
				    </div>
				<div class="vendor-name">
					<p class="vendor-title">{{record.company_name?'Company: '+record.company_name:'Compnay name not found !'}}</p>
					<div class="description">
						<p>
						{{record.address?'Address: '+record.address:'Address not found !'}}<br/>
						{{record.city?'City: '+record.city:'City not found !'}}
						{{record.country?'Country: '+record.country:'country not found !'}}
						{{record.zipcode?'Zipcode: '+record.zipcode:'zipcode not found !'}}<br/>
						{{record.phone?'Phone: '+record.phone:'phone not found !'}}<br/>
						{{record.fax?'Fax: '+record.fax:'fax not found !'}}<br/>
						</p>
					</div>
				</div>
				<div class="about">
					<p class="vendor-title">About Us</p>
					<div class="description">
						<p>{{record.about?'About: '+record.about:'Biography not found !'}}</p>
					</div>
				</div>

				<div class="">
					<div id="target" class="rate-model"></div>
					 <ul class="nav nav-pills">
						<li class=""><a target="_blanck" href="/vendor/homepage/index/id/{{record.user_id?record.user_id:''}}">Portfolio</a></li>
					
						<li ng-click="callback_quote(record.user_id)" ng-if="searchResult.user_sess=='yes'"><a href="javascript:void(0);" data-key="call_{{record.user_id}}"  class="callback_quote" >Request Call Back / Quote </a></li>
						<li ng-click="request_appointment(record.user_id)"  ng-if="searchResult.user_sess=='yes'" ><a href="javascript:void(0);" data-key="call_{{record.user_id}}"  class="request_appointment" >Request Appointment</a></li>
					    <li  ng-if="searchResult.user_sess=='yes'" ng-repeat="fav in  searchResult.favorite |filter:record.user_id" ng-click="request_favorite(fav)" ng-class="{true: 'favourite-icon', false: ''}[fav==record.user_id]" id="fav_id_{{record.user_id}}" data-key="call_{{record.user_id}}" ><a  class="request_favorite"    href="javascript:void(0);"   class="request_favorite">Add to favorite</a></li> 
						<li  ng-if="searchResult.user_sess=='yes' && (searchResult.favorite |filter:record.user_id).length==0"  ng-click="request_favorite(record.user_id)"  id="fav_id_{{record.user_id}}" data-key="call_{{record.user_id}}" ><a  class="request_favorite"    href="javascript:void(0);"   class="request_favorite">Add to favorite</a></li>
						<li ng-click="request_like(record.user_id)" ng-if="searchResult.user_sess=='yes'"  data-key="call_{{record.user_id}}" id="{{record.user_id}}" ><a href="javascript:void(0);"  class="request_like">{{record.like?'Like['+record.like+']':'Like'}}</a></li>                                                                                    
						
						<li ng-click="login()" class="" ng-if="searchResult.user_sess=='no'"><a id="login" href="javascript:void(0);"  >Request Call Back / Quote </a></li>
						<li ng-click="login()" class="" ng-if="searchResult.user_sess=='no'"><a id="login" href="javascript:void(0);" >Request Appointment</a></li>
						<li ng-click="login()" class="" ng-if="searchResult.user_sess=='no'"><a id="login" href="javascript:void(0);">Add to favorite</a></li>
						<li ng-click="login()" class="" ng-if="searchResult.user_sess=='no'"><a id="login" href="javascript:void(0);">Like [ ]</a></li>
						
					</ul> 
				</div>

				<div class="clear"></div>
			</div>
          
			 <div  class="slide-rqst-cl" data-check="{{record.user_id}}" id="call_{{record.user_id}}" style="display: none;">
				<a href="javascript:void(0);" class="close-sld-cntn" ng-click="close_sld_cntn(record.user_id)"></a>
				<form name="quote" id="quoteform{{record.user_id}}" class="quote-form" action="<?php $this->baseUrl(); ?>/users/operations/callbackquote/format/html" method="post">
				<div class="s-rqs-ct">

					<div class="rqst-cl-bk">
						<div class="cl-bk-rd">
							<input type="radio" name="radiog_dark" ng-model="radiog_dark" ng-change='radio_radiog_dark(radiog_dark,record.user_id)' value="quote"  id="radio4_{{record.user_id}}" class="css-checkbox" checked="true" /><label for="radio4_{{record.user_id}}" class="css-label radGroup2">Request a call back / Quote</label>				
						</div>
						<div class="cl-bk-ip cell" id="cellno{{record.user_id}}">
							<input type="text" required class="celno" name="cell_no" placeholder="Enter your cell # here" />
						</div>
					</div>
					<div class="rqst-cl-bk">
						<div class="cl-bk-rd">
							<input type="radio" name="radiog_dark" ng-model="radiog_dark" ng-change='radio_radiog_dark(radiog_dark,record.user_id)' value="apoint"  id="radio5_{{record.user_id}}" class="css-checkbox"/><label for="radio5_{{record.user_id}}" class="css-label radGroup2">Request an appointment</label>		
						</div>
						<div class="cl-bk-ip rqstipt-width" id="rqstipt{{record.user_id}}">
							<input type="text" class="stepExample1" name="start_time" placeholder="Enter start time" />
							<input type="text" class="stepExample2" name="end_time" placeholder="Enter end time" />
							<input type="text" class="appointmentDate" name="appointmentDate" readonly='true' placeholder="Select date" /><input type="hidden" name="date-com" value="">
						</div>
					</div>
				</div>
				<div class="rqst-evnt-info">
					<h4 class="ent-info-hd">Event Info</h4>
					<div class="rqst-ent-rpt">
						<label>Event Date</label>
						<input type="text"  required class="hasDatePickerWithCal" name="event_date" readonly='true' value=""/>
					</div>
					<div class="rqst-ent-rpt">
						<label>Guest</label>
						<input type="text" id="guest" required name="guests"/>
						<span id="guest-check" style="display: none;color:red;">Integer value required !!!</span>
					</div>
					<div class="rqst-ent-rpt">
						<label>Location</label>
						<input type="text"  required class="input-large city_home" value="San Diego, California, United States" name="location" id="city" placeholder="City, State, Country" style="width: 250px"  />
					</div>
					<div class="rqst-ent-rpt">
						<textarea name="comments" required ></textarea>
					</div>
						<input type="hidden" name="vendor_member" value="{{record.user_id}}">
					<div class="rqst-btn" >
						<button type="submit" class="btn btn-primary form-quote" >Send  Request</button>
					</div>
				</div>
				</form>
			</div>
		</div>
		
		<pagination page="currentPage" ng-hide="(vendorResult | vendorFilter:search.search_key:search.rating:search.by_location:search.category).length <= 0" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>

		<div class="clear"></div>
		<div class="alert alert-success" id="notification" ng-hide="(vendorResult | vendorFilter:search.search_key:search.rating:search.by_location:search.category).length > 0">No related results found try some another search combination !!!!</div> 
	</section>
</article>


  
</div>


</div>
</div>
</div>

<!-- Venue idea start -->

<div class="tabs-carousel ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tabs-2">

<div class="cycleElementsContainer" id="cycle-2">

<div id="elements-2">

<div class="list_carousel responsive">

<div style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1200px; height: 562px; margin: 0px; overflow: hidden;" class="caroufredsel_wrapper">
<ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4080px; height: 562px;" class="product-list" id="carousel2">
<?php
	if( isset($this->data['venueidea'][0] ) ) {
	foreach( $this->data['venueidea'] as $data => $value ) { ?>
<li class="ajax_block_product first_item item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="150">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="<?php echo PUBLIC_URI; ?>/media/<?php  echo $value['owner']; ?>/venueidea_<?php echo $value['owner']; ?>_<?php  echo $value['id'];?>_400x400<?php echo $value->type;?>" alt="Quisque pharetra faucibus ante ut pretium" /> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Quisque pharetra faucibus ante ut pretium"> <?php echo $value['description']; ?>   </a></h3>
</div>

<div class="star_content clearfix">

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>
</div>
</div>
</div>
</div>

</li>
<?php } }else{
		echo"There is no Venue Idea";		
	} ?>
</ul>
</div>

<div class="cclearfix">
</div> <a style="display: block;" class="bt prev" href="#" id="prev2">&lt;</a> <a style="display: block;" class="bt next" href="#" id="next2">&gt;</a>
</div>
</div>
</div>
</div>

<!--Venue idea end-->

<div class="tabs-carousel ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tabs-3">

<div class="cycleElementsContainer" id="cycle-4">

<div id="elements-4">

<div class="list_carousel responsive">

<div style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1200px; height: 562px; margin: 0px; overflow: hidden;" class="caroufredsel_wrapper">
<ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4080px; height: 562px;" class="product-list" id="carousel4">
<li class="ajax_block_product first_item item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="150">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/163-p_slider_home.jpg" alt="Quisque pharetra faucibus ante ut pretium"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Quisque pharetra faucibus ante ut pretium">Quisque pharetra faucibus ante ut pretium</a></h3>
</div>

<div class="star_content clearfix">

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>
</div>

</div>
</div>
</div>

<div class="cs_newarrival_p product-2"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/170-p_slider_home.jpg" alt="Integer condimentum ante quis  augue vestibulum"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Integer condimentum ante quis  augue vestibulum">Integer condimentum ante quis  augue vestibulum</a></h3>
</div>

</div>
</div>
</div></li>
<li class="ajax_block_product  item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="450">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/177-p_slider_home.jpg" alt="Nulla tincidunt porttitor enim ut euismod "> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Nulla tincidunt porttitor enim ut euismod ">Nulla tincidunt porttitor enim ut euismod </a></h3>
</div>

<div class="star_content clearfix">

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star">
</div>

<div class="star">
</div>
</div>

</div>
</div>
</div>

<div class="cs_newarrival_p product-2"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/184-p_slider_home.jpg" alt="Nunc sit amet libero ac lacus pellentesque"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Nunc sit amet libero ac lacus pellentesque">Nunc sit amet libero ac lacus pellentesque</a></h3>
</div>

</div>
</div>
</div></li>
<li class="ajax_block_product  last_item_of_line item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="750">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/191-p_slider_home.jpg" alt=" Nullam at risus quis nibh posuere non in massa"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title=" Nullam at risus quis nibh posuere non in massa"> Nullam at risus quis nibh posuere non in massa</a></h3>
</div>

</div>
</div>
</div>

<div class="cs_newarrival_p product-2"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/197-p_slider_home.jpg" alt="Fusce placerat erat sit amet tellus facilisis"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Fusce placerat erat sit amet tellus facilisis">Fusce placerat erat sit amet tellus facilisis</a></h3>
</div>

</div>
</div>
</div></li>
<li class="ajax_block_product  item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="1050">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/203-p_slider_home.jpg" alt="Quisque pharetra faucibus ante ut pretium"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Quisque pharetra faucibus ante ut pretium">Quisque pharetra faucibus ante ut pretium</a></h3>
</div>

</div>
</div>
</div>

<div class="cs_newarrival_p product-2"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/209-p_slider_home.jpg" alt="Suspendisse a lacus eu mi blandit Luctus"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Suspendisse a lacus eu mi blandit Luctus">Suspendisse a lacus eu mi blandit Luctus</a></h3>
</div>

</div>
</div>
</div></li>
<li class="ajax_block_product  item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="1350">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/216-p_slider_home.jpg" alt="Aenean sit amet purus sapien uctus tempor enim"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Aenean sit amet purus sapien uctus tempor enim">Aenean sit amet purus sapien uctus tempor enim</a></h3>
</div>

</div>
</div>
</div>

<div class="cs_newarrival_p product-2"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/223-p_slider_home.jpg" alt="Mauris diam augue, rhoncus nec nec"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Mauris diam augue, rhoncus nec nec">Mauris diam augue, rhoncus nec nec</a></h3>
</div>

</div>
</div></li>
<li class="ajax_block_product last_item last_item_of_line item fadeInDown animated" style="width: 220px;" data-animate="fadeInDown" data-delay="1650">

<div class="cs_newarrival_p product-1"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/233-p_slider_home.jpg" alt="volutpat orci. Curabitur porta porttitor velit"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="volutpat orci. Curabitur porta porttitor velit">volutpat orci. Curabitur porta porttitor velit</a></h3>
</div>

<div class="star_content clearfix">

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star star_on">
</div>

<div class="star">
</div>
</div>

</div>
</div>
</div>

<div class="cs_newarrival_p product-2"> <a class="product_image outside" href="javascript:void(0);" title=""><img src="images/240-p_slider_home.jpg" alt="Aliquam consequat rhoncus vulputate"> </a>

<div class="cs_hide">

<div class="cs_new_bottom">

<div class="name_product"><h3><a href="javascript:void(0);" title="Aliquam consequat rhoncus vulputate">Aliquam consequat rhoncus vulputate</a></h3>
</div>

</div>
</div>
</div></li>
</ul>
</div>

<div class="cclearfix"></div>
<a style="display: block;" class="bt prev" href="#" id="prev4">&lt;</a> <a style="display: block;" class="bt next" href="#" id="next4">&gt;</a>
</div>
</div>
</div>
</div>

</div>
<script>
// ******************** For Vendor Search Start ********************************************
$(document).ready(function (e){
var rating0 = '<div style="float:left" class="star_content clearfix"><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>';
var rating1 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>';
var rating2 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star star_on"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>';
var rating3 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star"></div><div class="star"></div></div>';
var rating4 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star"></div></div>';
var rating5 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div></div>';

	$("#reset_search_form").click(function (e){
		document.getElementById("vendor_search").reset();
		$("#rate_val").html(rating0);
		$('#state').find('option').remove().end();
		$('#mySelect').find('option').remove().end();
		$('#state').append($("<option></option>").attr("value",'').text("--select--"));
		$('#mySelect').append($("<option></option>").attr("value",'').text("--select--"));
	});

	$("#rate").on("change",function(e){
		
			if($(this).val()==1){
				$("#rate_val").html(rating1);
			}else if($(this).val()==2){
				$("#rate_val").html(rating2);
			}else if($(this).val()==3){
				$("#rate_val").html(rating3);
			}else if($(this).val()==4){
				$("#rate_val").html(rating4);
			}else if($(this).val()==5){
				$("#rate_val").html(rating5);
			}else{
				$("#rate_val").html(rating0);
			}
	});
});
// ******************** For Vendor Search End  ********************************************
</script> 
<script>
    $( "#state" ).change(function() {
    var state_code = this.value;
    var state=$('#state option:selected').text();
    select_city(state_code,state)
});
    
    
</script>
<script>
     function select_state(country){
	//alert(country);
	if (country) {
	
	
	    $.ajax({
			cache: false,
			url : '/vendor/index/countrystate',
			type: "POST",
			dataType : "json",
                        //data : JSON.stringify(data),
			data : {"country":country},
			//context : Form,
			success : function(result){
			    $('#state')
                            .find('option')
                            .remove()
                            .end();
			     $('#state')
			    .append($("<option></option>")
			    .attr("value",'')
			    .text("--select--"));
			    $.each(result, function(index, element) {
			    $('#state')
			    .append($("<option></option>")
			    .attr("value",element.state_code)
			    .text(element.state));
			    });
			    if (country == 'USA') {
				var state = 'Ak';
				var statename = 'Alaska';
			    }else{
				var state = 'AG';
				var statename = 'Aguascalientes';
			    }
			    $.ajax({
					cache: false,
					url : '/vendor/index/statecity',
					type: "POST",
					dataType : "json",
					//data : JSON.stringify(data),
					data : {"state":state,"statename":statename},
					//context : Form,
					success : function(result){
					    $('#mySelect')
					    .find('option')
					    .remove()
					    .end();
					        $('#mySelect')
					    .append($("<option></option>")
					    .attr("value",'')
					     .text("--select--"));
					    $.each(result, function(index, element) {
					    $('#mySelect')
					    .append($("<option></option>")
					    .attr("value",element.city)
					    .text(element.city));
			});
						//$(this)[0].reset();
						  //$('#mySelect').html(result);
					},
					error : function(){
						//$(this).html("Error!");
						console.log('error');
					}
				});
        
				//$(this)[0].reset();
				  //$('#mySelect').html(result);
			},
			error : function(){
				//$(this).html("Error!");
				console.log('error');
			}
		});
	    }
     }
</script>
<script>
    function select_city(state,name)
    {
	if (state) {
	//alert(state);
	//alert(name);
	    $.ajax({
			cache: false,
			url : '/vendor/index/statecity',
			type: "POST",
			dataType : "json",
                        //data : JSON.stringify(data),
			data : {"state":state,"statename":name},
			//context : Form,
			success : function(result){
			    $('#mySelect')
                            .find('option')
                            .remove()
                            .end();
			      $('#mySelect')
			    .append($("<option></option>")
			    .attr("value",'')
			    .text("_select_"));
			    $.each(result, function(index, element) {
			    
			    $('#mySelect')
			    .append($("<option></option>")
			    .attr("value",element.city)
			    .text(element.city));
        });
				//$(this)[0].reset();
				  //$('#mySelect').html(result);
			},
			error : function(){
				//$(this).html("Error!");
				console.log('error');
			}
		});
	    }
    }
</script>

<script type="text/javascript">/* <![CDATA[ */$(document).ready(function(){initCarousel();cs_resize();});$(window).resize(function(){if(!isMobile())
{cs_resize();}});function cs_resize(){if(getWidthBrowser()<767){$('#tabs').tabs('destroy');$('#ul_cs_tab').hide();$('#tabs div.title_tab_hide_show').show();}else{$('#tabs').tabs({fx:{opacity:'toggle'}});$('.tabs-carousel').show();$('#ul_cs_tab').show();$('#tabs div.title_tab_hide_show').hide();}}
function initCarousel(){$('#carousel1').carouFredSel({responsive:true,width:'100%',height:'variable',onWindowResize:'debounce',prev:'#prev1',next:'#next1',auto:false,swipe:{onTouch:true},items:{width:290,height:'auto',visible:{min:1,max:5}},scroll:{items:2,direction:'left',duration:500,onBefore:function(data){if(touch==false){var that=$("#carousel1");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');items=that.find('.animated');items.removeClass('animated').unbind('appear');}}}});$('#carousel2').carouFredSel({responsive:true,width:'100%',height:'variable',onWindowResize:'debounce',prev:'#prev2',next:'#next2',auto:false,swipe:{onTouch:true},items:{width:290,height:'auto',visible:{min:1,max:5}},scroll:{items:2,direction:'left',duration:500,onBefore:function(data){if(touch==false){var that=$("#carousel2");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');items=that.find('.animated');items.removeClass('animated').unbind('appear');}}}});$('#carousel3').carouFredSel({responsive:true,width:'100%',height:'variable',onWindowResize:'debounce',prev:'#prev3',next:'#next3',auto:false,swipe:{onTouch:true},items:{width:290,height:'auto',visible:{min:1,max:5}},scroll:{items:2,direction:'left',duration:500,onBefore:function(data){if(touch==false){var that=$("#carousel3");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');items=that.find('.animated');items.removeClass('animated').unbind('appear');}}}});$('#carousel4').carouFredSel({responsive:true,width:'100%',height:'variable',onWindowResize:'debounce',prev:'#prev4',next:'#next4',auto:false,swipe:{onTouch:true},items:{width:290,height:'auto',visible:{min:1,max:5}},scroll:{items:2,direction:'left',duration:500,onBefore:function(data){if(touch==false){var that=$("#carousel4");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');items=that.find('.animated');items.removeClass('animated').unbind('appear');}}}});}
function isMobile()
{if(navigator.userAgent.match(/(iPhone)|(iPod)/i)){return true;}
else
{return false;}}
function isIpad()
{if(navigator.userAgent.match(/iPad/i)){return true;}
else
{return false;}}
function unAnimated()
{if(touch==false){var that=$("#carousel1");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');}
if(touch==false){var that=$("#carousel2");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');}
if(touch==false){var that=$("#carousel3");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');}
if(touch==false){var that=$("#carousel4");var items=that.find('.not-animated');items.removeClass('not-animated').unbind('appear');}}/* ]]> */
</script>

</div></div>

  <script>
            jQuery(function ($) {
                jeoquery.defaultData.userName = 'tompi';
                $(".city_home").jeoCityAutoComplete({callback: function(city) { if (console) console.log(city);}});
                //prettyPrint();
            });
    </script>

<script src="<?php echo $this->baseUrl().'/js/jeoquery.js';?>"></script>  
<!-- mid part box end  -->
  

<?php $this->placeholder('first-tab-area')->captureEnd(); ?>

<?php $this->placeholder('second-tab-area')->captureStart(); ?>		
<?php $this->placeholder('second-tab-area')->captureEnd(); ?>

<?php $this->placeholder('testjavascripts')->captureStart(); ?>

<script src="<?php echo $this->baseUrl().'/js/general/operations.js'; ?>" type="text/javascript" ></script>

<script src="<?php echo $this->baseUrl().'/js/vendorsearch.js'; ?>" type="text/javascript" ></script>


<?php $this->placeholder('testjavascripts')->captureEnd(); ?>
<?php $this->placeholder('culprit')->captureStart(); ?>
<script src="<?php echo $this->baseUrl().'/js/af386943ba396e44373c56840d7ab3c3.js';?>" type="text/javascript"></script>

<?php $this->placeholder('culprit')->captureEnd(); ?>
