img.logo {
	width:auto;
	float:none;
}

header.header {
	text-align:center;
}

.menu {
	width:100%;
	float:none;
}

.search {
	float:none;
	margin:0 auto;
}

ul.navigation {
	padding-right:0;
	width:80%;
	margin:30px auto 0;
}

aside.side-nav {
	width:40%;
}

article.vendor-info {
	width:58%;
}

.about {
	float:none;
	clear:both;
	width:100%;
}

ul.headings {
	display:none;
}

.vendor-name, .profile-pic {
	width:50%;
}

ul.sign li {
	padding:0 10px;
}

.tabbable.responsive .nav-tabs {
	font-size: 16px;
}

.tabbable.responsive .nav-tabs ul {
	margin: 0;
}

.tabbable.responsive .nav-tabs li {
/* box-sizing seems like the cleanest way to make sure width includes padding */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box; 
	display: inline-block; 
	width: 100%; 
	height:auto;
	line-height: 44px; 
	padding:5px 15px;
	border: 1px solid #ddd;
	overflow: hidden;
}

.tabbable.responsive .nav-tabs > li > a {
	border-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.tabbable.responsive .nav-tabs > li > a:hover {
	border-style: none; 
	background-color: transparent;
}

.tabbable.responsive .nav-tabs > li > a:active,
.tabbable.responsive .nav-tabs > .active > a,
.tabbable.responsive .nav-tabs > .active > a:hover {
	border-style: none;
}

.nav-tabs > li.active {
	margin-bottom:0;
}

.nav-tabs > li {
	margin-left:0;
	border-bottom:0;
}

.nav-tabs {
	border-bottom:0;
}

.tabbable.responsive {
	width:100%;
}

.side, .middle {
	width:100%;
	float:none;
	margin-top:20px;
	height:auto;
	max-height:inherit;
	overflow:visible;
}

.middle p {
	width:100%;
}

ul.topmost {
	float:none;
	clear:both;
}

h1.left-float {
	float:none;
}

article.img-gallery figure, article.img-gallery figure:nth-of-type(4n+1) {
	width:30%;
	margin-left:5%;
	clear:none;
}

article.img-gallery figure:nth-of-type(3n+1) {
	margin-left:0;
	clear:left;
}

figure.dont-forget:nth-of-type(4n+1), figure.dont-forget {
	width:30%;
	margin-left:5%;
	clear:none;
}

figure.dont-forget:nth-of-type(3n+1) {
	margin-left:0;
	clear:left;
}

h1.coming-soon {
	font-size:120px;
}

article.img-gallery figure:nth-of-type(n+4) {
	margin-top:20px;
}

article.sign-up-blocks {
	width:100%;
	margin:20px 0;
}

.sign-up-form table tr td .chosen-container {
	width:100%!important;
}

.wrapper {
	padding:0 5%;
}

.four-block .blog,
.four-block .blog:nth-of-type(4n+1),
.five-block .blog,
.five-block .blog:nth-of-type(4n+1),
.five-block .blog:nth-of-type(5n+1) {
	width:30%;
	margin-left:5%;
	clear:none;
}

.four-block .blog:nth-of-type(3n+1),
.five-block .blog:nth-of-type(3n+1) {
	margin-left:0;
	clear:left;
}

.nav-bg {
	display:none;
}

nav.side-nav,
article.dash {
	float:none;
	width:100%;
}

section.profile-det {
	width:50%;
	float:left;
}

ul.stars-d {
	width:50%;
	float:right;
	padding:20px;
}

ul.side-menu {
	clear:both;
}

ul.side-menu > li {
	width:33.333%; /* Fallback for old browsers */
	width:calc(100% / 3);
	float:left;
	border-right:1px solid #ebebeb;
}

ul.side-menu > li:nth-of-type(3n+1) {
	clear:left;
}

ul.side-menu:before,
ul.side-menu:after {
	clear:both;
	display:table;
	content:"";
}

table.contact-list td:nth-child(3) {
	max-width:180px;
}

p.or-text {
	left:45%;
}

.banner-preview img {
	margin:0;
	padding:10px;
}

.banner-opt input[type="file"] {
	display:block;
}

.heading-edit {
	width:50%;
	padding:20px;
	float:left;
}

input[type=file].smallTabWidth {
	max-width:100%;
}

.vendor-account-sign {
	width:100%;
	max-width:100%;
}

.topPaddings {
	padding:100px 10px;
}

.blue_plan, .red_plan, .yellow_plan, .pink_plan {
	-moz-transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-ms-transform:scale(1,1);
	-o-transform:scale(1,1);
	transform:scale(1,1);
}

.rate_plan, .rate_plan:nth-of-type(n+2) {
	width:30%;
	margin-left:5%;
	margin-bottom:20px;
}

.rate_plan:nth-of-type(3n+1) {
	margin-left:0;
	clear:left;
}

.sign_up_form {
	float:none;
	padding-right:0;
	margin:20px auto;
}

.guest_info li:nth-of-type(odd) {
	clear:left;
}

.guest_info li, .guest_info li:nth-of-type(2n) {
	width:auto;
}

.guest_info li:nth-of-type(even) {
	float:right;
}

.wide_bar {
	width:75%;
}

.wide_bar + .narrow_bar {
	width:100%;
	margin-top:30px;
}

.narrow_bar .edit_btn_home {
	clear:both;
}

.short_links {
	margin-left:0;
}

.left_bar {
	float:none;
	width:100%;
}

.right_barnew {
	width:100%;
	float:none;
	margin-top:20px;
	text-align:center;
}

.right_barnew > img {
	max-width:100%;
	width:auto;
	vertical-align:top;
	margin-top:0;
}

[class*="saved_vendor"] li:nth-of-type(2), [class*="saved_vendor"] li:nth-of-type(3), [class*="saved_vendor"] li:nth-of-type(4) {
	display:none;
}

[class*="saved_vendor"] li:nth-of-type(5), [class*="saved_vendor"] li:nth-of-type(6), [class*="saved_vendor"] li:nth-of-type(7), .saved_vendor_list li:first-child {
	width:25%;
}

.infographics-user li {
	word-wrap:break-word;
}

.two-col-block2, .two-col-block2 + .two-col-block2 {
	width:100%;
	float:none;
	clear:both;
	margin-top:20px;
}

.address_tb td:first-child {
	text-align:right;
}

.bio.noBG .two-col-block, .wedding_info .three_col_block:nth-of-type(n+2) {
	width:100%;
	margin-left:0;
	margin-right:0;
	clear:both;
	margin-top:10px;
}

.slider-pr, .center-align_button {
	float:none;
	margin:0;
	margin-top:10px;
	width:100%;
}

.album_content {
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
}

.album_img_iso {
	-moz-column-gap:10px;
	-webkit-column-gap:10px;
	-ms-column-gap:10px;
	-o-column-gap:10px;
	column-gap:10px;
	padding:0 10px;
}

.album_img_iso > img {
	margin-bottom:10px;
}

/* Vendor Portfolio Images Styles */

.hover_img, .hover_img:nth-child(4n+1), .hover_img:nth-child(3n+1) {
	width:49%;
	clear:none;
	margin-left:2%;
}

.hover_img:nth-child(odd) {
	clear:left;
	margin-left:0;
}