input[type=button] {
	font-family:Bebas, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#fff;
	text-shadow:0 2px 2px rgba(0,0,0,0.2);
	box-shadow:0 2px 3px rgba(255,255,255,0.5) inset;
	padding:10px;
}

input[type=button]:hover {
	box-shadow:0 -2px 3px rgba(255,255,255,0.5) inset;
	text-shadow:0 -2px 2px rgba(0,0,0,0.2);
	cursor:pointer;
}

input[type=button].start-planning img {
	vertical-align:middle;
	margin-right:15px;
}

input[type=button].start-planning {
	border:1px solid #64773d;
	background:url(../images/btn-bg.png) #8abf22; /* Fallback for gradient */
	background:url(../images/btn-bg.png), url(../images/btn-arrow.png) no-repeat 20px center, -webkit-linear-gradient(bottom, #8abf22, #bee969);
	background:url(../images/btn-bg.png), url(../images/btn-arrow.png) no-repeat 20px center, -moz-linear-gradient(bottom, #8abf22, #bee969);
	background:url(../images/btn-bg.png), url(../images/btn-arrow.png) no-repeat 20px center, -ms-linear-gradient(bottom, #8abf22, #bee969);
	background:url(../images/btn-bg.png), url(../images/btn-arrow.png) no-repeat 20px center, -o-linear-gradient(bottom, #8abf22, #bee969);
	background:url(../images/btn-bg.png), url(../images/btn-arrow.png) no-repeat 20px center, linear-gradient(bottom, #8abf22, #bee969);
	margin:40px;
}

input[type=button].start-planning {
	padding-left:55px;
	padding-right:20px;
}

input[type=button].start-planning:hover {
	background:url(../images/btn-bg.png) #bee969; /* Fallback for gradient */
	background:url(../images/btn-bg.png), url(../images/btn-arrow.png) no-repeat 20px center, -webkit-linear-gradient(top, #8abf22, #bee969);
	background:url(../images/btn-bg.png), url(../images/btn-arrow.png) no-repeat 20px center, -moz-linear-gradient(top, #8abf22, #bee969);
	background:url(../images/btn-bg.png), url(../images/btn-arrow.png) no-repeat 20px center, -ms-linear-gradient(top, #8abf22, #bee969);
	background:url(../images/btn-bg.png), url(../images/btn-arrow.png) no-repeat 20px center, -o-linear-gradient(top, #8abf22, #bee969);
	background:url(../images/btn-bg.png), url(../images/btn-arrow.png) no-repeat 20px center, linear-gradient(top, #8abf22, #bee969);
}

input[type=button].see-more {
	border:1px solid #004a7b;
	background:url(../images/btn-bg.png) #2277bf; /* Fallback for gradient */
	background:url(../images/btn-bg.png), -webkit-linear-gradient(bottom, #2277bf, #69aee9);
	background:url(../images/btn-bg.png), -moz-linear-gradient(bottom, #2277bf, #69aee9);
	background:url(../images/btn-bg.png), -ms-linear-gradient(bottom, #2277bf, #69aee9);
	background:url(../images/btn-bg.png), -o-linear-gradient(bottom, #2277bf, #69aee9);
	background:url(../images/btn-bg.png), linear-gradient(bottom, #2277bf, #69aee9);
	margin-top:40px;
	float:right;
}

input[type=button].see-more:hover {
	background:url(../images/btn-bg.png) #69aee9; /* Fallback for gradient */
	background:url(../images/btn-bg.png), -webkit-linear-gradient(top, #2277bf, #69aee9);
	background:url(../images/btn-bg.png), -moz-linear-gradient(top, #2277bf, #69aee9);
	background:url(../images/btn-bg.png), -ms-linear-gradient(top, #2277bf, #69aee9);
	background:url(../images/btn-bg.png), -o-linear-gradient(top, #2277bf, #69aee9);
	background:url(../images/btn-bg.png), linear-gradient(top, #2277bf, #69aee9);
}

input[type=button].sub {
	background:-webkit-linear-gradient(bottom, #83a854, #9cc46a);
	background:-moz-linear-gradient(bottom, #83a854, #9cc46a);
	background:-ms-linear-gradient(bottom, #83a854, #9cc46a);
	background:-o-linear-gradient(bottom, #83a854, #9cc46a);
	background:linear-gradient(bottom, #83a854, #9cc46a);
	box-shadow:0 1px 0 rgba(255,255,255,0.3) inset;
	vertical-align:middle;
	border:1px solid #647d44;
	font-size:15px;
	border-radius:5px;
	padding:4px 10px;
	text-shadow:0 1px 0 rgba(67,97,29,0.77);
}

.sign-block input[type=button].see-more {
	float:none;
}

input[type=button].submit {
	border:1px solid #64773d;
	background:url(../images/btn-bg.png) #8abf22; /* Fallback for gradient */
	background:url(../images/btn-bg.png), -webkit-linear-gradient(bottom, #8abf22, #bee969);
	background:url(../images/btn-bg.png), -moz-linear-gradient(bottom, #8abf22, #bee969);
	background:url(../images/btn-bg.png), -ms-linear-gradient(bottom, #8abf22, #bee969);
	background:url(../images/btn-bg.png), -o-linear-gradient(bottom, #8abf22, #bee969);
	background:url(../images/btn-bg.png), linear-gradient(bottom, #8abf22, #bee969);
}

.sign-up-blocks input[type=button].submit {
	float:right;
	margin:20px 0;
}

.subs input[type=button] {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	text-shadow:none;
	background:#e15440;
	box-shadow:none;
	width:20%;
	border-radius:0 10px 10px 0;
}

p.btn-call {
	background:#2896c6;
	padding:10px 20px;
	font-family:PTSans, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#fff;
	text-transform:uppercase;
	width:auto;
	display:inline-block;
	clear:both;
	margin-top:10px;
	border-radius:5px;
}

.themer-btn {
	background:#706e6c;
	border-radius:5px;
	float:left;
	box-shadow:0 1px 0 #000;
}

.themer-btn a {
	padding:11px 10px 9px 10px;
	display:block;
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
}

.themer-btn img {
	vertical-align:middle;
}

.btn-add {
	background:#484b50;
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.8);
	border-radius:5px;
	padding:5px 0;
	width:25%;
	float:left;
	margin-right:10px;
	text-align:center;
}

.vendor-dashboard #div3_example {
	margin-bottom:0;
	min-height:400px;
}

.view-all-btn {
	background:#d94175;
	padding:5px 10px;
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
	text-shadow:1px 1px 0 rgba(0,0,0,0.6);
	float:left;
	border-radius:5px;
	margin:20px;
}

input[type=button].send-msg {
	background:#484b50;
	box-shadow:none;
	padding:5px;
	border-radius:5px;
	width:20%;
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	text-transform:capitalize;
	text-shadow:1px 1px 1px rgba(0,0,0,1);
}

input[type=button].add-new,
section.auth-user table input[type=button] {
	float:right;
	margin-right:10px;
	background:-moz-linear-gradient(bottom, #83a854, #9cc46a);
	background:-webkit-linear-gradient(bottom, #83a854, #9cc46a);
	background:-ms-linear-gradient(bottom, #83a854, #9cc46a);
	background:-o-linear-gradient(bottom, #83a854, #9cc46a);
	background:linear-gradient(bottom, #83a854, #9cc46a);
	box-shadow:0 1px 0 rgba(255,255,255,0.3) inset;
	border:1px solid #647d44;
	border-radius:5px;
	padding:5px;
	max-width:18%;
	max-width:calc(20% - 15px);
	margin-top:10px;
}

section.auth-user table input[type=button] {
	float:none;
	background:-moz-linear-gradient(bottom, #447daf, #52b0d1);
	background:-webkit-linear-gradient(bottom, #447daf, #52b0d1);
	background:-ms-linear-gradient(bottom, #447daf, #52b0d1);
	background:-o-linear-gradient(bottom, #447daf, #52b0d1);
	background:linear-gradient(bottom, #447daf, #52b0d1);
	max-width:100%;
	width:100%;
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	margin:0;
	text-shadow:none;
}

table.order-details tr td input[type=button], input[type=button].submit {
	background:-moz-linear-gradient(bottom, #6ca814, #9dc821);
	background:-webkit-linear-gradient(bottom, #6ca814, #9dc821);
	background:-ms-linear-gradient(bottom, #6ca814, #9dc821);
	background:-o-linear-gradient(bottom, #6ca814, #9dc821);
	background:linear-gradient(bottom, #6ca814, #9dc821);
	border-radius:5px;
	font-family:PTSans, Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#fff;
	padding:5px 20px;
	box-shadow:none;
	width:100%;
}

input[type=button].submit {
	width:auto;
}

input[type=button].delete-btn {
	float:right;
	background:-moz-linear-gradient(bottom, #0290cc, #0fc3f9);
	background:-webkit-linear-gradient(bottom, #0290cc, #0fc3f9);
	background:-ms-linear-gradient(bottom, #0290cc, #0fc3f9);
	background:-o-linear-gradient(bottom, #0290cc, #0fc3f9);
	background:linear-gradient(bottom, #0290cc, #0fc3f9);
	border:1px solid #117ca2;
	border-radius:5px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	padding:2px 5px;
	margin:10px;
}

input[type=button].edit-link {
	background:-moz-linear-gradient(bottom, #6ca814, #9dc821);
	background:-webkit-linear-gradient(bottom, #6ca814, #9dc821);
	background:-ms-linear-gradient(bottom, #6ca814, #9dc821);
	background:-o-linear-gradient(bottom, #6ca814, #9dc821);
	background:linear-gradient(bottom, #6ca814, #9dc821);
	font-family:PT Sans, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
	padding:3px 5px;
	border-radius:5px;
	margin-left:20px;
	text-shadow:none;
	box-shadow:none;
}

input[type=button].edit-link.save-btn {
	border-radius:0;
	text-transform:uppercase;
	margin:10px;
	margin-top:0;
}

input[type=button].vendor_expand_all_btn {
	background:#e3e3e3;
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#2c2c2c;
	text-shadow:none;
	box-shadow:none;
	margin:10px 0;
	text-transform:uppercase;
}

a.edit_btn_home {
	display:inline-block;
	background:-moz-linear-gradient(bottom, #6ca814, #9dc821);
	background:-webkit-linear-gradient(bottom, #6ca814, #9dc821);
	background:-ms-linear-gradient(bottom, #6ca814, #9dc821);
	background:-o-linear-gradient(bottom, #6ca814, #9dc821);
	background:linear-gradient(bottom, #6ca814, #9dc821);
	margin-bottom:10px;
	padding:5px 10px;
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
	line-height:20px;
}

a.edit_btn_home i {
	font-size:18px;
	vertical-align:middle;
	margin-right:10px;
}

.sliderContainer .btn_wrapper {
	position:absolute;
	z-index:29;
	right:48px;
	top:50px;
}

a.greyBG {
	border:1px solid rgba(0,0,0,0.15);
	background:-moz-linear-gradient(bottom, #e7e7e7, #f4f4f4);
	background:-webkit-linear-gradient(bottom, #e7e7e7, #f4f4f4);
	background:-ms-linear-gradient(bottom, #e7e7e7, #f4f4f4);
	background:-o-linear-gradient(bottom, #e7e7e7, #f4f4f4);
	background:linear-gradient(bottom, #e7e7e7, #f4f4f4);
	-moz-background-clip:padding-box;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	color:#52504d;
}

.vendor_home .sliderContainer {
	position:relative;
}

input[type=button].expand_collapse {
	width:24px;
	border-radius:100%;
	margin-left:5%;
	background:#94c400;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	border:1px solid #448700;
	box-shadow:1px 1px 1px rgba(255,255,255,1) inset;
	font-weight:bold;
	vertical-align:middle;
	text-shadow:none;
}

input[type=button].guest_add_btn {
	background:#78CD51;
	border:none;
	box-shadow:none;
	text-shadow:none;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
	border-radius:3px;
	padding:5px 15px;
	margin-left:1%;
}

input[type=button].blue_color_btn {
	background:#58C9F3;
}

a.post-job-btn2 {
	display:inline-block;
	background:-moz-linear-gradient(bottom, #83a854, #9cc46a);
	background:-webkit-linear-gradient(bottom, #83a854, #9cc46a);
	background:-ms-linear-gradient(bottom, #83a854, #9cc46a);
	background:-o-linear-gradient(bottom, #83a854, #9cc46a);
	background:linear-gradient(bottom, #83a854, #9cc46a);
	border:1px solid #647d44;
	border-radius:5px;
	padding:5px 10px;
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:14px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
	box-shadow:0 1px 0 rgba(255,255,255,0.5) inset;
}

input.submit[type="submit"] {
    background: url("../images/btn-bg.png") repeat scroll 0 0%, -moz-linear-gradient(center bottom , #8ABF22, #BEE969) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #64773D;
 box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5) inset;
    color: #FFFFFF;
    font-family: Bebas,Arial,Helvetica,sans-serif;
    font-size: 16px;
    padding: 10px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    word-spacing: 4px;
    width: 135px;
}


input[type=submit] {
	font-family:Bebas, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#fff;
	text-shadow:0 2px 2px rgba(0,0,0,0.2);
	box-shadow:0 2px 3px rgba(255,255,255,0.5) inset;
	padding:10px;
}

input[type=submit]:hover {
	box-shadow:0 -2px 3px rgba(255,255,255,0.5) inset;
	text-shadow:0 -2px 2px rgba(0,0,0,0.2);
	cursor:pointer;
}
