img.logo {
	width:40%;
}

.menu {
	width:60%;
}

.about, ul.headings li:nth-child(3) {
	width:40%;
}

.profile-pic, ul.headings li:first-child {
	width:34%;
}

.nav-tabs {
	padding-left:0;
}

.nav-tabs > li.active {
	font-size:1.4em;
}

.nav-tabs > li.active > a {
	padding:8px 12px;
}

.nav-tabs > li {
	margin-left:1%;
}

ul.topmost li {
	margin-left:5px;
}

ul.comment-row li:nth-of-type(2) {
	width:50%;
}

section.promo-img, section.left-text {
	width:100%;
	clear:both;
	float:none;
}

p.promo-description {
	text-align:center;
}

.five-block .blog,
.five-block .blog:nth-of-type(5n+1) {
	width:22%;
	margin-left:4%;
	clear:none;
}

.five-block .blog:nth-of-type(4n+1) {
	margin-left:0;
	clear:left;
}

.vendor-dashboard .wrapper {
	padding-left:0;
	padding-right:0;
}

.vendor-dashboard article.themer-bar .wrapper {
	padding-left:10px;
	padding-right:10px;
}

ul.side-menu li a:before,
ul.side-menu li a:after {
	display:table;
	clear:both;
	content:"";
}



section.pro-info,
section.auth-user {
	float:none;
	width:100%;
	margin-top:10px;
}

.form-block-dash:last-of-type {
	width:100%;
	clear:both;
	float:none;
	padding-top:30px;
}

.form-block-dash {
	width:50%;
}

ul.form-list li {
	width:50%;
	margin-top:20px;
}

ul.form-list li:nth-child(odd) {
	clear:left;
}

.small-width + .chosen-container {
	width:25%!important;
}

.fullyWide + .chosen-container {
	width:60%!important;
}

.profile_det2 td:nth-of-type(3) {
	overflow:hidden;
	max-width:50px;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.vendor_home .rsBottomStrap {
	top:50px;
}

.vendor_home .header {
	text-align:center;
}

.vendor_home .logo {
	float:none;
	max-width:none;
}

.vendor_home ul.navigation li {
	float:none;
}

.vendor_home ul.navigation {
	text-align:center;
}

.vendor_home ul.navigation li:nth-of-type(n+2) {
	padding-left:1px;
}

.narrow_bar {
	width:25%;
}

.wide_bar {
	width:50%;
}

.ipad_other {
	width:75%;
}

.ipad_full {
	width:100%;
}

.ipad_full .video-container {
	width:48%;
	float:left;
}

.ipad_full .video-container.marginTop {
	margin-top:0;
	float:right;
}

.ipad_full:before,
.ipad_full:after {
	clear:both;
	content:"";
	display:table;
}

.guest_list tr, .guest_list, .guest_list tbody, .guest_list th, .guest_list td {
	display:block;
}

.guest_list tr:nth-of-type(-n+2) {
	position:absolute;
	display:none;
	top:-9999em;
}

.guest_list tr {
	width:50%;
	padding:20px;
	background:#fff;
	float:left;
	border-top:1px solid #ededed;
}

.guest_list tr:nth-of-type(odd) {
	border-right:1px solid #ededed;
	clear:left;
}

.guest_list tr:after,
.guest_list tr:before {
	clear:both;
	content:"";
	display:table;
}

.guest_list td:before {
	float:left;
	text-align:right;
	padding:5px 2%;
	position:absolute;
	width:96%;
	left:-100%;
	top:0;
	background:#fff;
	display:block;
	height:100%;
}

.guest_list td {
	position:relative;
	width:50%;
	float:right;
	clear:right;
	text-align:left;
	border:none;
}

.guest_list td p {
	max-width:100%;
}

.guest_list tr:nth-of-type(2n+1) td {
	background:#fff;
}

.guest_list td:first-child:before {
	content:"RSVP ID#";
}

.guest_list td:nth-of-type(2):before {
	content:"Guest Name";
}

.guest_list td:nth-of-type(3):before {
	content:"Address";
}

.guest_list td:nth-of-type(4):before {
	content:"Ceremony";
}

.guest_list td:nth-of-type(5):before {
	content:"Dinner";
}

.guest_list td:nth-of-type(6):before {
	content:"Reception";
}

.guest_list td:nth-of-type(7):before {
	content:"Dinner";
}

.guest_list td:nth-of-type(8):before {
	content:"Mailed";
}

.guest_list td:nth-of-type(9):before {
	content:"Will Attend";
}

.guest_list td:nth-of-type(10):before {
	content:"Declined";
}

.guest_list td:nth-of-type(11):before {
	content:"Invited";
}

.link_guest {
	display:block;
}

.guest_list:after,
.guest_list:before {
	display:block;
	content:"";
	clear:both;
}

.flat-select .chosen-container {
	max-width:100%!important;
	width:100%!important;
	min-width:100%!important;
}

.flat-select {
	width:100%;
}

.wedding_info .three_col_block:first-of-type {
	width:100%;
	clear:both;
}

.wedding_info .three_col_block:nth-of-type(n+2) {
	width:49%;
	margin:10px 0.5%;
}

.timeline:before {
	display:none;
}

.mail_box p {
	max-width:120px;
}

/* Vendor portfolio images styles */

.hover_img, .hover_img:nth-child(4n+1) {
	width:30%;
	margin-left:5%;
	clear:none;
}

.hover_img:nth-child(3n+1) {
	margin-left:0;
	clear:left;
}