.JsDatePickBox {
	position: relative;
	width: 400px;
	font-family: Arial;
}

.JsDatePickBox .jsDatePickCloseButton {
	cursor: pointer;
	position: absolute;
	z-index: 1;
	top: 1px;
	right: 10px;
	width: 33px;
	height: 13px;
	background: url(../images/calendar/closeButton_normal.gif) left top no-repeat;
}

.JsDatePickBox .jsDatePickCloseButtonOver {
	cursor: pointer;
	position: absolute;
	z-index: 1;
	top: 1px;
	right: 10px;
	width: 33px;
	height: 13px;
	background: url(../images/calendar/closeButton_over.gif) left top no-repeat;
}

.JsDatePickBox .jsDatePickCloseButtonDown {
	cursor: pointer;
	position: absolute;
	z-index: 1;
	top: 1px;
	right: 10px;
	width: 33px;
	height: 13px;
	background: url(../images/calendar/closeButton_down.gif) left top no-repeat;
}

.JsDatePickBox .boxLeftWall {
	float: left;
	width: 7px;
	margin: 0;
	padding: 0;
}

.JsDatePickBox .boxLeftWall .leftTopCorner {
	margin: 0;
	padding: 0;
	width: 7px;
	height: 8px;
	background: url(../images/calendar/boxTopLeftCorner.png) left top no-repeat;
	overflow: hidden;
}

.JsDatePickBox .boxLeftWall .leftBottomCorner {
	margin: 0;
	padding: 0;
	width: 7px;
	height: 8px;
	background: url(../images/calendar/boxBottomLeftCorner.png) left top no-repeat;
	overflow: hidden;
}

.JsDatePickBox .boxLeftWall .leftWall {
	margin: 0;
	padding: 0;
	width: 7px;
	background: url(../images/calendar/boxSideWallPx.gif) #fff left top repeat-y;
	overflow: hidden;
}

.JsDatePickBox .boxRightWall {
	float: left;
	width: 7px;
	margin: 0;
	padding: 0;
}

.JsDatePickBox .boxRightWall .rightTopCorner {
	margin: 0;
	padding: 0;
	width: 7px;
	height: 8px;
	background: url(../images/calendar/boxTopRightCorner.png) left top no-repeat;
	overflow: hidden;
}

.JsDatePickBox .boxRightWall .rightBottomCorner {
	margin: 0;
	padding: 0;
	width: 7px;
	height: 8px;
	background: url(../images/calendar/boxBottomRightCorner.png) left top no-repeat;
	overflow: hidden;
}

.JsDatePickBox .boxRightWall .rightWall {
	margin: 0;
	padding: 0;
	width: 7px;
	background: url(../images/calendar/boxSideWallPx.gif) #fff right top repeat-y;
	overflow: hidden;
}

.JsDatePickBox .topWall {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 7px;
	width: 198px;
	height: 4px;
	background: url(../images/calendar/boxTopPx.gif) #fff left top repeat-x;
}

.JsDatePickBox .bottomWall {
	position: absolute;
	overflow: hidden;
	bottom: -1px;
	left: 7px;
	width: 198px;
	height: 4px;
	background: url(../images/calendar/boxTopPx.gif) #fff left top repeat-x;
}

.JsDatePickBox .hiddenBoxLeftWall {
	float: left;
	width: 0;
	overflow: hidden;
	overflow: hidden;
}

.JsDatePickBox .hiddenBoxRightWall {
	float: left;
	width: 0;
	overflow: hidden;
	overflow: hidden;
}

.JsDatePickBox .boxMain {
	float: left;
	background-color: #fff;
	margin: 0;
	padding: 15px 0 5px 0;
}

.JsDatePickBox .boxMainStripped {
	background: #fff;
	border: none;
}

.JsDatePickBox .tooltip {
	height: 12px;
	display:none;
	line-height: 11px;
	overflow: hidden;
	font-size: 10px;
	color: #666;
	text-align: left;
	padding: 0;
	margin: 2px 0 2px 0;
}

.JsDatePickBox .weekDaysRow {
	border-bottom:1px solid #bbb;
	height: auto;
	background:#f5f5f5;
	overflow: hidden;
	color: #222;
	text-transform:uppercase;
	text-align: center;
	padding: 0;
	margin: 2px 0 0 0;
}

.JsDatePickBox .weekDaysRow .weekDay {
	float: left;
	height: auto;
	overflow: hidden;
	width: auto;
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:16px;
	margin: 0;
	width:57px;
	padding: 5px 0;
}

.JsDatePickBox .boxMainInner {
	background: #fff;
	width: 400px;
	float: left;
	margin: 5px 0 0 0;
	padding: 0;
}

.JsDatePickBox .boxMainCellsContainer {
	background-color: #fff;
	margin: 0;
	padding: 0;
}

.JsDatePickBox .boxMainInner .controlsBar {
	overflow: hidden;
	height: auto;
	position: relative;
}

.JsDatePickBox .boxMainInner .controlsBarText {
	overflow: hidden;
	height: auto;
	padding:10px 0;
	line-height: normal;
	color: #fff;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	background:#333;
}

.JsDatePickBox .boxMainInner .monthForwardButton {
	overflow: hidden;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	right: 34px;
	background: url(../images/calendar/monthForward_normal.png) left top no-repeat;
}

.JsDatePickBox .boxMainInner .monthForwardButtonOver {
	overflow: hidden;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	right: 34px;
	background: url(../images/calendar/monthForward_normal.png) left top no-repeat;
}

.JsDatePickBox .boxMainInner .monthForwardButtonDown {
	overflow: hidden;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	right: 34px;
	background: url(../images/calendar/monthForward_normal.png) left top no-repeat;
}

.JsDatePickBox .boxMainInner .monthBackwardButton {
	overflow: hidden;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	left: 34px;
	background: url(../images/calendar/monthBackward_normal.png) left top no-repeat;
}

.JsDatePickBox .boxMainInner .monthBackwardButtonOver {
	overflow: hidden;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	left: 34px;
	background: url(../images/calendar/monthBackward_normal.png) left top no-repeat;
}

.JsDatePickBox .boxMainInner .monthBackwardButtonDown {
	overflow: hidden;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	left: 34px;
	background: url(../images/calendar/monthBackward_normal.png) left top no-repeat;
}

.JsDatePickBox .boxMainInner .yearForwardButton {
	overflow: hidden;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	right: 12px;
	background: url(../images/calendar/yearForward_normal.png) left top no-repeat;
}

.JsDatePickBox .boxMainInner .yearForwardButtonOver {
	overflow: hidden;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	right: 12px;
	background: url(../images/calendar/yearForward_normal.png) left top no-repeat;
}

.JsDatePickBox .boxMainInner .yearForwardButtonDown {
	overflow: hidden;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	right: 12px;
	background: url(../images/calendar/yearForward_normal.png) left top no-repeat;
}

.JsDatePickBox .boxMainInner .yearBackwardButton {
	overflow: hidden;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	left: 12px;
	background: url(../images/calendar/yearBackward_normal.png) left top no-repeat;
}

.JsDatePickBox .boxMainInner .yearBackwardButtonOver {
	overflow: hidden;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	left: 12px;
	background: url(../images/calendar/yearBackward_normal.png) left top no-repeat;
}

.JsDatePickBox .boxMainInner .yearBackwardButtonDown {
	overflow: hidden;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	left: 12px;
	background: url(../images/calendar/yearBackward_normal.png) left top no-repeat;
}

.JsDatePickBox .boxMainInner .skipDay {
	cursor: default;
	overflow: hidden;
	width: 24px;
	height: 25px;
	float: left;
	margin: 4px 5px 0 0;
	padding: 0;
}

.JsDatePickBox .boxMainInner .dayNormal {
	-khtml-user-select: none;
	font-size: 12px;
	cursor: pointer;
	overflow: hidden;
	color: #4c4c4c;
	width: 24px;
	height: 25px;
	float: left;
	margin: 4px 5px 0 0;
	padding: 0;
	text-align: center;
	line-height: 25px;
}

.JsDatePickBox .boxMainInner .dayNormalToday {
	-khtml-user-select: none;
	font-size: 12px;
	cursor: pointer;
	overflow: hidden;
	color: #f40f0f;
	font-weight: bold;
	width: 24px;
	height: 25px;
	float: left;
	margin: 4px 5px 0 0;
	padding: 0;
	text-align: center;
	line-height: 25px;
}

.JsDatePickBox .boxMainInner .dayDisabled {
	-khtml-user-select: none;
	cursor: default;
	font-size: 12px;
	overflow: hidden;
	color: #999;
	width: 24px;
	height: 25px;
	float: left;
	margin: 4px 5px 0 0;
	padding: 0;
	text-align: center;
	line-height: 25px;
}

.JsDatePickBox .boxMainInner .dayOver {
	-khtml-user-select: none;
	cursor: pointer;
	font-size: 12px;
	overflow: hidden;
	color: #4c4c4c;
	width: 24px;
	height: 25px;
	float: left;
	margin: 4px 5px 0 0;
	padding: 0;
	text-align: center;
	line-height: 25px;
}

.JsDatePickBox .boxMainInner .dayOverToday {
	-khtml-user-select: none;
	cursor: pointer;
	font-size: 12px;
	overflow: hidden;
	font-weight: bold;
	color: #f40f0f;
	float: left;
	padding: 0;
	text-align: center;
	line-height: 25px;
}

.JsDatePickBox .boxMainInner .dayDown {
	-khtml-user-select: none;
	cursor: pointer;
	font-size: 12px;
	overflow: hidden;
	color: #F9F9F9;
	float: left;
	padding: 0;
	text-align: center;
	line-height: 25px;
}

.JsDatePickBox .boxMainInner .dayDownToday {
	-khtml-user-select: none;
	cursor: pointer;
	font-size: 12px;
	overflow: hidden;
	color: #f40f0f;
	font-weight: bold;
	float: left;
	padding: 0;
	text-align: center;
	line-height: 25px;
}

#div3_example {
	margin:40px auto;
	width:400px;
	height:400px;
}



.JsDatePickBox .boxMainInner .dayDown,
.JsDatePickBox .boxMainInner .dayDownToday,
.JsDatePickBox .boxMainInner .dayOverToday,
.JsDatePickBox .boxMainInner .dayNormal,
.JsDatePickBox .boxMainInner .skipDay,
.JsDatePickBox .boxMainInner .dayDisabled,
.JsDatePickBox .boxMainInner .dayOver,
.JsDatePickBox .boxMainInner .dayDown,
.JsDatePickBox .boxMainInner .dayNormalToday {
	width:57px;
	margin:0;
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#222;
	padding-top:15px;
	height:57px;
	border:1px solid #000;
	vertical-align:middle;
	background:-webkit-linear-gradient(bottom, #e0e0e0, #ededed)!important;
	background:-moz-linear-gradient(bottom, #e0e0e0, #ededed)!important;
	background:-ms-linear-gradient(bottom, #e0e0e0, #ededed)!important;
	background:-o-linear-gradient(bottom, #e0e0e0, #ededed)!important;
	background:linear-gradient(bottom, #e0e0e0, #ededed)!important;
	border:1px solid #bbb;
}

.JsDatePickBox .boxMainInner .dayDown {
	background:#d44187!important;
	border:1px solid #ab2766;
	color:#fff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}

.JsDatePickBox .boxMainInner .dayNormalToday,
.JsDatePickBox .boxMainInner .dayDownToday {
	background:#0dbbf2!important;
	text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	border:1px solid #15647d;
	color:#fff;
}

.JsDatePickBox .boxMainInner .dayOver,
.JsDatePickBox .boxMainInner .dayOverToday {
	background:#f06aaa!important;
	color:#fff;
}

/*** Dashboard Calendar ***/

.vendor-dashboard .JsDatePickBox,
.vendor-dashboard .JsDatePickBox .boxMainStripped,
.vendor-dashboard .JsDatePickBox .boxMainInner {
	width:100%;
}

.vendor-dashboard .controlsBar, .vendor-dashboard .JsDatePickBox .boxMainInner .controlsBarText {
	background:#ec1f78;
	border-radius:5px;
}

.vendor-dashboard .JsDatePickBox .boxMainInner .controlsBarText {
	border-radius:5px;
	padding:3px 0;
}

.vendor-dashboard .JsDatePickBox .boxMainInner .monthBackwardButton,
.vendor-dashboard .JsDatePickBox .boxMainInner .monthForwardButton,
.vendor-dashboard .JsDatePickBox .boxMainInner .yearForwardButton,
.vendor-dashboard .JsDatePickBox .boxMainInner .yearBackwardButton {
	top:7px;
}

.vendor-dashboard .JsDatePickBox .weekDaysRow .weekDay,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDown,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDownToday,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayOverToday,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayNormal,
.vendor-dashboard .JsDatePickBox .boxMainInner .skipDay,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDisabled,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayOver,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDown,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayNormalToday {
	width:11.285%; /* Fallback Width */
	width:calc(100% / 7 - 3%);
	margin:10px 1.5%;
	border-radius:5px;
}

.vendor-dashboard .JsDatePickBox .weekDaysRow {
	background:none;
}


.vendor-dashboard .JsDatePickBox .boxMainInner .dayDown,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDownToday,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayOverToday,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayNormal,
.vendor-dashboard .JsDatePickBox .boxMainInner .skipDay,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDisabled,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayOver,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDown,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayNormalToday {
	background:none!important;
}

.vendor-dashboard .JsDatePickBox .boxMainInner .dayNormalToday,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDownToday,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDown {
	color:#000;
	border-right:1px solid #bbb;
	border-bottom:1px solid #bbb;
}

.vendor-dashboard .JsDatePickBox .boxMainInner .dayNormalToday,
.venor-dashboard .JsDatePickBox .boxMainInner .dayDownToday,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDown {
	border:1px solid #000;
}

.vendor-dashboard .JsDatePickBox .boxMainInner .dayDown,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDownToday,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayOverToday,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayNormal,
.vendor-dashboard .JsDatePickBox .boxMainInner .skipDay,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDisabled,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayOver,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayDown,
.vendor-dashboard .JsDatePickBox .boxMainInner .dayNormalToday {
	height:auto;
	padding:5px 0;
	min-height:37px;
}

.vendor-dashboard #div3_example {
	min-height:450px;
}

/* User Calendar */

.user-dashboard .JsDatePickBox,
.user-dashboard .JsDatePickBox .boxMainStripped,
.user-dashboard .JsDatePickBox .boxMainInner {
	width:100%;
}

.user-dashboard .controlsBar, .user-dashboard .JsDatePickBox .boxMainInner .controlsBarText {
	background:#ec1f78;
	border-radius:5px;
}

.user-dashboard .JsDatePickBox .boxMainInner .controlsBarText {
	border-radius:5px;
	padding:3px 0;
}

.user-dashboard .JsDatePickBox .boxMainInner .monthBackwardButton,
.user-dashboard .JsDatePickBox .boxMainInner .monthForwardButton,
.user-dashboard .JsDatePickBox .boxMainInner .yearForwardButton,
.user-dashboard .JsDatePickBox .boxMainInner .yearBackwardButton {
	top:7px;
}

.user-dashboard .JsDatePickBox .weekDaysRow .weekDay,
.user-dashboard .JsDatePickBox .boxMainInner .dayDown,
.user-dashboard .JsDatePickBox .boxMainInner .dayDownToday,
.user-dashboard .JsDatePickBox .boxMainInner .dayOverToday,
.user-dashboard .JsDatePickBox .boxMainInner .dayNormal,
.user-dashboard .JsDatePickBox .boxMainInner .skipDay,
.user-dashboard .JsDatePickBox .boxMainInner .dayDisabled,
.user-dashboard .JsDatePickBox .boxMainInner .dayOver,
.user-dashboard .JsDatePickBox .boxMainInner .dayDown,
.user-dashboard .JsDatePickBox .boxMainInner .dayNormalToday {
	width:11.285%; /* Fallback Width */
	width:calc(100% / 7 - 3%);
	margin:10px 1.5%;
	border-radius:5px;
}

.user-dashboard .JsDatePickBox .weekDaysRow {
	background:none;
}


.user-dashboard .JsDatePickBox .boxMainInner .dayDown,
.user-dashboard .JsDatePickBox .boxMainInner .dayDownToday,
.user-dashboard .JsDatePickBox .boxMainInner .dayOverToday,
.user-dashboard .JsDatePickBox .boxMainInner .dayNormal,
.user-dashboard .JsDatePickBox .boxMainInner .skipDay,
.user-dashboard .JsDatePickBox .boxMainInner .dayDisabled,
.user-dashboard .JsDatePickBox .boxMainInner .dayOver,
.user-dashboard .JsDatePickBox .boxMainInner .dayDown,
.user-dashboard .JsDatePickBox .boxMainInner .dayNormalToday {
	background:none!important;
}

.user-dashboard .JsDatePickBox .boxMainInner .dayNormalToday,
.user-dashboard .JsDatePickBox .boxMainInner .dayDownToday,
.user-dashboard .JsDatePickBox .boxMainInner .dayDown {
	color:#000;
	border-right:1px solid #bbb;
	border-bottom:1px solid #bbb;
}

.user-dashboard .JsDatePickBox .boxMainInner .dayNormalToday,
.venor-dashboard .JsDatePickBox .boxMainInner .dayDownToday,
.user-dashboard .JsDatePickBox .boxMainInner .dayDown {
	border:1px solid #000;
}

.user-dashboard .JsDatePickBox .boxMainInner .dayDown,
.user-dashboard .JsDatePickBox .boxMainInner .dayDownToday,
.user-dashboard .JsDatePickBox .boxMainInner .dayOverToday,
.user-dashboard .JsDatePickBox .boxMainInner .dayNormal,
.user-dashboard .JsDatePickBox .boxMainInner .skipDay,
.user-dashboard .JsDatePickBox .boxMainInner .dayDisabled,
.user-dashboard .JsDatePickBox .boxMainInner .dayOver,
.user-dashboard .JsDatePickBox .boxMainInner .dayDown,
.user-dashboard .JsDatePickBox .boxMainInner .dayNormalToday {
	height:auto;
	padding:5px 0;
	min-height:37px;
}

.user-dashboard #div3_example {
	min-height:450px;
}