/********************************************************************************
* This script is brought to you by Vasplus Programming Blog
* Website: www.vasplus.info
* Email: info@vasplus.info
*********************************************************************************/


#vpb_upload_button , .ajax_upload_btn
{
 display:inline-block;
   background:#6ca814;
	background:-moz-linear-gradient(bottom, #6ca814, #9dc821);
	background:-webkit-linear-gradient(bottom, #6ca814, #9dc821);
	background:-ms-linear-gradient(bottom, #6ca814, #9dc821);
	background:-o-linear-gradient(bottom, #6ca814, #9dc821);
	background:linear-gradient(bottom, #6ca814, #9dc821);
	
	margin-top:10px;
	line-height:20px;
	float:right;
	font-family:Open Sans Semibold,Arial,Helvetica,sans-serif;
	font-size:14px;
	color:#fff;
	text-shadow:0 2px 2px rgba(0,0,0,0.2);
	box-shadow:0 2px 3px rgba(255,255,255,0.5) inset;
	padding:5px 10px;	word-spacing: 4px;
}
#vpb_upload_button:hover ,  .ajax_upload_btn:hover
{
	background:#9dc821;
	background:-moz-linear-gradient(bottom, #9dc821, #6ca814);
	background:-webkit-linear-gradient(bottom, #9dc821, #6ca814);
	background:-ms-linear-gradient(bottom, #9dc821, #6ca814);
	background:-o-linear-gradient(bottom, #9dc821, #6ca814);
	background:linear-gradient(bottom, #9dc821, #6ca814);
	box-shadow:0 -2px 3px rgba(255,255,255,0.5) inset;
	text-shadow:0 -2px 2px rgba(0,0,0,0.2);
    cursor: pointer; 
}



.vpb_remove_button ,  .rm_ajax_upload_btn
{
 display:inline-block;
	background:-moz-linear-gradient(bottom, #6ca814, #9dc821);
	background:-webkit-linear-gradient(bottom, #6ca814, #9dc821);
	background:-ms-linear-gradient(bottom, #6ca814, #9dc821);
	background:-o-linear-gradient(bottom, #6ca814, #9dc821);
	background:linear-gradient(bottom, #6ca814, #9dc821);
	margin-bottom:10px;
	padding:5px 10px;
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
	line-height:20px;
	float:right;
}
.vpb_remove_button:hover ,  .rm_ajax_upload_btn:hover
{
    background:-moz-linear-gradient(bottom, #9dc821, #6ca814);
	background:-webkit-linear-gradient(bottom, #9dc821, #6ca814);
	background:-ms-linear-gradient(bottom, #9dc821, #6ca814);
	background:-o-linear-gradient(bottom, #9dc821, #6ca814);
	background:linear-gradient(bottom, #9dc821, #6ca814);
    cursor: pointer; 
}


.vpb_main_demo_wrapper
{
	width:970px;
	border:1px solid #CCC;
	background-color: #FFF;
	 box-shadow: 0 2px 10px #DF536B;
	-moz-box-shadow: 0 2px 10px #DF536B;
	-webkit-box-shadow: 0 2px 10px #DF536B;
	-webkit-border-radius: 15px 15px; 15px 15px;-moz-border-radius: 15px 15px; 15px 15px;border-radius: 15px 15px; 15px 15px;
	display:none;
}


.vpb_image_wrappers
{
	width:180px; 
	margin:20px; 
	padding:10px; 
	float:left; 
	border:1px solid #CCC;
	background-color: #FFF;
	 box-shadow: 0 2px 10px #DF536B;
	-moz-box-shadow: 0 2px 10px #DF536B;
	-webkit-box-shadow: 0 2px 10px #DF536B;
	-webkit-border-radius: 15px 15px; 15px 15px;-moz-border-radius: 15px 15px; 15px 15px;border-radius: 15px 15px; 15px 15px;
}

.vpb_image_design
{
	width:180px; 
	height:150px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.vpb_image_names
{
	font-family:Verdana, Geneva, sans-serif; font-size:13px; color:black;margin-bottom:8px;
	text-shadow: 0px 1px 0px #C30;
}



.vpb_error_info
{
	font-family:Verdana, Geneva, sans-serif; 
	font-size:12px; 
	padding:10px; 
	background:#FFFFB7; 
	border:1px solid #F1F1F1; 
	-moz-box-shadow: 0 2px 20px #cbcbcb;
	-webkit-box-shadow: 0 2px 20px #cbcbcb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
	line-height:20px;
}

.ccc A:link {text-decoration: none}
.ccc A:visited {text-decoration: none}
.ccc A:active {text-decoration: none}
.ccc A:hover {text-decoration:underline; font: Arial, Helvetica, sans-serif;color: blue;} 

.uplading_image
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#000;
	padding:10px;
	border:1px solid #F1F1F1; 
	-moz-box-shadow: 0 2px 20px #cbcbcb;
	-webkit-box-shadow: 0 2px 20px #cbcbcb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
}/*.ajax_upload_btn{	font-size:12px;	margin-bottom:1em;}*/.left{	margin-left:20%;	float:left;}.right{	margin-right:20%;	float:right;}.left.rm_ajax_upload_btn, .right.rm_ajax_upload_btn{	margin-left:8px;	margin-right:0;}

/* Styles added on Feb 25 */ 
.left.rm_ajax_upload_btn {
	background:none;
	padding:0;
	color:#222;
}