<?php
    if($this->data) {
	
        ?>
            <option value="0">Parent Itself</option>
        <?php
        foreach( $this->data as $data => $value) {
        ?>
            <option value="<?php echo $value['ID']; ?>"><?php echo $value['post_title']; ?></option>
        <?php
        }
    } else {
        ?>
            <option value="0">Parent Itself</option>
        <?php
    }
?>
