<?php $this->placeholder('slider')->captureStart() ?>

<div class="wrapper" style="min-height:500px;">

	<div class="container-fluid">
  		<div class="row">
<div class="col-md-12">
<legend><h4> Congratulations! You have successfully registered. To activate your account, Please check your Email and fill the activation code being send to you.</h4></legend>
<li id="your_account"><a href="javascript:void(0);" id = "login">Log in</a></li>
<?php 

  if(isset($this->message)){
	?>
		<div id="notification" style="color:green; text-align:center;" class="alert alert-danger"><?php echo $this->message; ?></div>
	<?php
  }


?>
<div class="col-md-4"></div>
<div class="col-md-4">
<form id="activate" action ="#" method="POST" name="activateform" class="form-horizontal">
<fieldset>

<!-- Form Name -->

<div class="control-group">
  <label class="control-label" for="email">Enter Activation Code</label>

  <div class="controls">
    <input id="activation_code" name="activation_code" placeholder="Enter Activation Code !" class="form-control" required="" type="password">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="activeAccount"></label>
  <div class="controls">
    <button id="activeAccount" name="activeAccount" class="btn btn-success">Submit</button>
  </div>
</div>
</fieldset>
</form>
</div>
<div class="col-md-4"></div>
</div>
</div>
</div>

</div>
<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>
