<?php $this->placeholder('slider')->captureStart() ?>
<script>
	var baseUrl = "<?php echo PUBLIC_URI; ?>";
</script>
<div class="wrapper">
 <div class="container-fluid">
  <div class="row">

  <div class="col-lg-4 col-lg-offset-4">

      <div class="row">
		<div class="error alert alert-success" id="password-reset" style="display:none;"></div>
	</div>

                <div class="panel panel-default pswd-actv">
                    <div class="panel-heading">
                        <h3 class="panel-title">Password Reset Request</h3>
                    </div>

                    <div class="panel-body">
                        <form  role="form" class="password_activate" action ="<?php echo PUBLIC_URI; ?>/users/index/password-activation/format/html" method="POST" name="password_activate" >

                            <div class="form-group">
                                <input type="text" value="" class="form-control" name="email" placeholder="Enter Email" />
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {

    $('#password_activate').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required and can\'t be empty'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            }
           
        }
    });
});
</script>

<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>
