<?php 

  if ( $this->data['method'] == 'GET') {
  
  require './Facebook/facebook.php';

$facebook = new Facebook( array(
	//'appId'  => '1428793450717975',
	'appId'  => '724095021045417',
	//'secret' => 'ee676537ca66d9c9411a1c065fb2606e'
	'secret' => '473b0ef025c38b1240b71240add3c148'

) );
$fblogin  = $facebook->getLoginUrl();

//Login with Google
require_once './Google/src/Google_Client.php';
require_once './Google/src/contrib/Google_Oauth2Service.php';

$google_client_id     = '157008869080-h83c0eaecmp5sgmcjuieh5f9jalqhgfc.apps.googleusercontent.com';
$google_client_secret = 'fKOhtlmXcxZcrz8KgpUhcFTC';
$google_redirect_url  = PUBLIC_URI . '/users/index/google-login';
$google_developer_key = '157008869080-h83c0eaecmp5sgmcjuieh5f9jalqhgfc@developer.gserviceaccount.com';

$gClient = new Google_Client();
$gClient->setClientId( $google_client_id );
$gClient->setClientSecret( $google_client_secret );
$gClient->setRedirectUri( $google_redirect_url );
$gClient->setDeveloperKey( $google_developer_key );

$google_oauthV2 = new Google_Oauth2Service( $gClient );
$authUrl        = $gClient->createAuthUrl();
		

    ?>
    <div class="panel panel-default login-cnntt">
      <div class="panel-body">
      <div id="preview" class="panel panel-success"></div>
     
       <legend>User Login</legend>
	
      <a href="javascript:void(0);" class="close sprited" id="close_x">close</a>
      <form role="form" class="form" action="<?php echo PUBLIC_URI; ?>/users/index/signin/format/html" method="post">

          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input id="email" name="email" placeholder="Enter your email" required="required" class="form-control" >
          </div>

          <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" id="password" name="password" placeholder="Enter your password"  required="required" class="form-control" >
          </div>

          <div class="remember_box">
              <div class="md-checkbox"><input type="checkbox" checked id="remember_me"><label for="remember_me"><span class="inc"></span><span class="check"></span><span class="box"></span>
                   Remember Me
              </label></d
          </div>

          <button type="submit" id="login" class="btn btn-default btn-primary">Submit</button>

      </form>

      <div>
      <div class="help_links"> 
        <p><a href="#" class="go-to-singup" >Don't have an account ? Register</a></p>
        <p><a class="lnk-tfrgt" href="<?php echo PUBLIC_URI; ?>/users/index/password-activation"> Forgot Password? </a></p> <div>

      <div>
      </div>
      <hr class="section_seperator">
    </div>
    <div class="social_media_login">
      <h3 class="social_login_title">Login with your social account</h3>
      <ul class="social_login_icons">
      <li><a href="<?php echo $fblogin ?>" id="fb_login"><img src="/images/fb_login.png" alt="" /></a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/index/twitter-login"><img src="/images/twitter_login.png" alt="" /></a></li>
				<li><a href="<?php echo $authUrl; ?>"|id = "Google
-login"><img src="/images/googleplus_login.png" alt="" /></a></li>
      </ul>
    </div>
    </div>
    </div>
  <?php
  }

  if ( $this->data['method'] == 'POST') {

      //echo "in post request";
      echo $this->data['data'];

      $status = $this->data['status'];
      $role = $this->data['role'];

      if($status == 'valid' && $role =='0' || $role =='10' ){

  ?>
        <script>
          setTimeout(function() {            
            window.location.href = "<?php echo PUBLIC_URI; ?>/users/dashboard/index";      
          }, 1000);          
        </script>

  <?php

      } else if ($status == 'valid' && $role =='2') {
  ?>
        <script>
          setTimeout(function() {
              window.location.href = "<?php echo PUBLIC_URI; ?>/vendor/dashboard/index";
          }, 1000);         
        </script>  
    <?php

      } else if($status == 'valid' && $role =='10') {
          
      }

  }

?>