<?php

		if( $this->data['method'] == 'GET') {
		
		require './Facebook/facebook.php';

$facebook = new Facebook( array(
	//'appId'  => '1428793450717975',
	'appId'  => '724095021045417',
	//'secret' => 'ee676537ca66d9c9411a1c065fb2606e'
	'secret' => '473b0ef025c38b1240b71240add3c148'

) );
$fblogin  = $facebook->getLoginUrl();

//Login with Google
require_once './Google/src/Google_Client.php';
require_once './Google/src/contrib/Google_Oauth2Service.php';

$google_client_id     = '157008869080-h83c0eaecmp5sgmcjuieh5f9jalqhgfc.apps.googleusercontent.com';
$google_client_secret = 'fKOhtlmXcxZcrz8KgpUhcFTC';
$google_redirect_url  = PUBLIC_URI . '/users/index/google-login';
$google_developer_key = '157008869080-h83c0eaecmp5sgmcjuieh5f9jalqhgfc@developer.gserviceaccount.com';

$gClient = new Google_Client();
$gClient->setClientId( $google_client_id );
$gClient->setClientSecret( $google_client_secret );
$gClient->setRedirectUri( $google_redirect_url );
$gClient->setDeveloperKey( $google_developer_key );

$google_oauthV2 = new Google_Oauth2Service( $gClient );
$authUrl        = $gClient->createAuthUrl();
		
		
	?>
				 <div class="panel panel-default login-cnntt signup_form">
						<div class="panel-body">
						<div>
								<legend> Sign up </legend>
						</div>
						<div id="preview" class="panel panel-success"></div>
							<form id="defaultForm" class="form" action="<?php echo PUBLIC_URI; ?>/users/index/signup/format/html" method="post">
									<div class="form-group">
										<label>Email</label>
											<input type="text" value="" class="form-control" name="email" placeholder="Enter Email" />
									</div>

									<div class="form-group">
										<label>Password</label>
											<input type="password" value="" class="form-control" name="password" placeholder="Enter Password" />
									</div>

									<div class="form-group">
										<label>Password</label>
											<input type="password" class="form-control" name="confirmPassword" value=""  placeholder="Confirm password" />
									</div>
<!--                           <div class="form-group">
											<input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
											<label class="control-label" for="checkboxes">Remember Me</label>
									</div> -->
									<div class="form-group">
											<button type="submit"  id="create" class="btn btn-primary">Create Account</button>
									</div>
									<div class="clear"></div>
							</form>
			<div class="help_links"> 
				<p><a href="#" class="go-to-signin" >Already have an account ? Sign In</a></p>
			</div>
												<a href="javascript:void(0);" class="close sprited" id="close_x">close</a>
										</div>
			<hr class="section_seperator">
		<div class="social_media_login">
			<h3 class="social_login_title">Login with your social account</h3>
			<ul class="social_login_icons">
				<li><a href="<?php echo $fblogin ?>" id="fb_login"><img src="/images/fb_login.png" alt="" /></a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/index/twitter-login"><img src="/images/twitter_login.png" alt="" /></a></li>
				<li><a href="<?php echo $authUrl; ?>"|id = "Google
-login"><img src="/images/googleplus_login.png" alt="" /></a></li>
			</ul>
		</div>
			<hr class="section_seperator">
		<div class="bottom_section">
			<div class="md-checkbox"><input type="checkbox" checked id="terms_cond"><label for="terms_cond"><span class="inc"></span><span class="check"></span><span class="box"></span>
									 I agree to the Terms and Conditions.
							</label></div>
			<div class="md-checkbox"><input type="checkbox" checked id="subscribe_newsletter"><label for="subscribe_newsletter"><span class="inc"></span><span class="check"></span><span class="box"></span>
									 Subscribe to the Newsletters.
							</label></div>
		</div>
</div>
</div>
</div>

	<?php  } 
 
			 if($this->data['method'] == 'POST'){
				
				 if($this->data['resp']  ==  'success'){
						echo $this->data['data'].'<br><a  class="btn btn-success" href="'.PUBLIC_URI.'/users/index/account-activation">Activate My Account</a>';
				 }elseif($this->data['resp']  ==  'error'){
						 echo $this->data['data'];

				 }
				
			
	
		 }
	


 ?>