<?php $this->placeholder('slider')->captureStart() ?>

<div class="wrapper">

	<div class="container-fluid">
  		<div class="row">

<h4> Welcome to My Profile Page.</h4> 


</div>
	</div>

</div>
<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>
