article.img-gallery figure:nth-of-type(3n+1),
article.img-gallery figure,
article.img-gallery figure:nth-of-type(4n+1),
figure.dont-forget:nth-of-type(3n+1),
figure.dont-forget:nth-of-type(4n+1),
figure.dont-forget,
article.img-gallery figure:nth-of-type(even),
figure.dont-forget:nth-of-type(even) {
	margin-left:0;
	margin-right:0;
	float:none;
	clear:both;
	width:100%;
	text-align:center;
}

h1.step-heading
h2.step-sub-heading {
	font-size:30px;
}

.blue-select.religion,
.blue-select .chosen-container {
	width:100%!important;
}

h1.promo-title {
	word-wrap:break-word;
}

/*.four-block .blog,
.four-block .blog:nth-of-type(odd),
.four-block .blog:nth-of-type(even),
.four-block .blog:nth-of-type(4n+1),
.four-block .blog:nth-of-type(3n+1),
.five-block .blog:nth-of-type(odd),
.five-block .blog:nth-of-type(even),
.five-block .blog:nth-of-type(5n+1),
.five-block .blog:nth-of-type(4n+1),
.five-block .blog:nth-of-type(3n+1) {
	clear:both;
	float:none;
	width:100%;
	margin-top:20px;
}*/

section.profile-det,
ul.stars-d {
	width:100%;
	float:none;
	clear:both;
}

ul.stars-d {
	padding-top:10px;
	padding-bottom:0;
}

ul.side-menu > li,
ul.side-menu > li:nth-of-type(3n+1),
ul.side-menu > li:nth-of-type(2n+1) {
	float:none;
	width:100%;
}

.floatright {
	float:left;
}

article.themer-bar .themer-btn.no-bg {
	float:left;
}

ul.dashboard-nav li,
ul.dashboard-nav li:nth-of-type(4n+1),
ul.dashboard-nav li:nth-of-type(3n+1) {
	width:50%;
	clear:none;
}

,
ul.dashboard-nav li:nth-of-type(2n+1) {
	clear:left;
}

.profile-pic-place,
.general-info {
	width:100%;
	float:none;
	padding-left:0;
}

section.bio {
	padding:10px;
}

.JsDatePickBox .boxMainInner .dayDown,
.JsDatePickBox .boxMainInner .dayDownToday,
.JsDatePickBox .boxMainInner .dayOverToday,
.JsDatePickBox .boxMainInner .dayNormal,
.JsDatePickBox .boxMainInner .skipDay,
.JsDatePickBox .boxMainInner .dayDisabled,
.JsDatePickBox .boxMainInner .dayOver,
.JsDatePickBox .boxMainInner .dayDown,
.JsDatePickBox .boxMainInner .dayNormalToday {
	font-size:14px;
}

.btn-add {
	width:100%;
	float:none;
	margin-top:10px;
}

ul.dashboard-nav li:nth-of-type(3n+3) {
	border-right:1px solid #ededed;
}

ul.dashboard-nav li:nth-of-type(even) {
	border-right:0;
}

ul.dashboard-nav li:nth-last-child(-n+2) {
	border-bottom:0;
}

ul.dashboard-nav li {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

ul.tabs li,
ul.tabs li:first-child,
ul.tabs li:nth-child(4) {
	width:100%;
	float:none;
	clear:both;
	border-radius:5px;
	margin-top:10px;
	text-align:center;
}

.posted-bid-table table tr td {
	float:none;
}

.posted-bid-table table td:first-child {
	float:left;
}

ul.appointments-sort li {
	width:100%;
	float:none;
}

ul.sort-select li {
	width:100%;
	float:none;
	margin-top:5px;
	margin-left:0;
	padding:0 10px;
}

ul.permalink li input.edit-link[type="button"] {
	margin-left:0;
	width:100%;
	border-radius:0;
}

ul.permalink li:last-child,
ul.permalink li {
	width:100%;
	float:none;
	margin-top:10px;
}

.template-opt, .template-opt + .chosen-container,
input.edit-link.save-btn[type="button"] {
	margin:10px auto;
	width:95%;
	display:block;
	float:none;
	font-size:20px;
}

.comp-name {
	width:100%;
}

.two-col-block {
	padding:10px;
}

.add-images {
	width:100%;
	display:block;
}

.video-options {
	width:100%;
	float:none;
	clear:both;
}

.video-options + .video-options {
	border-top:1px solid #d7d7d7;
}

.overview-btn {
	width:49%;
}

ul.sign {
	width:100%;
	margin-left:0;
	margin-right:0;
}

.rate_plan, .rate_plan:nth-of-type(n+2), .rate_plan:nth-of-type(even), .rate_plan:nth-of-type(3n+1) {
	clear:both;
	width:100%;
	margin-left:0;
}

ul.social {
	width:100%;
}

.sign_up_form {
	width:100%;
	padding:0 5px;
}