<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/assets/css/admin/module.admin.page.form_elements.min.css" />
	<h1 class="bg-white content-heading border-bottom">Messages</h1>
	<div class="innerAll spacing-x2">

		<!-- Widget -->
		<div class="widget widget-tabs widget-tabs-gray border-bottom-none">
	
			<!-- Widget heading -->
			<div class="widget-head">
				<h4 class="heading">Spam Messages</h4>
			</div>
			<!-- // Widget heading END -->
	
			<div class="widget-body">
				<div class="tab-content">
				
					<!-- Tab content -->
					<div id="account-details">
						<!-- Row -->
						<div class="row">
						
						
							
						</div>
				
					</div>
					<!-- // Tab content END -->
							
				</div>
			</div>
	<!-- // Widget END -->	
<?php $this->placeholder('content')->captureEnd() ?>