<?php $this->placeholder('staticStylesheet')->captureStart() ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables_responsive.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables.min.css'); ?>
<?php $this->placeholder('staticStylesheet')->captureEnd() ?>
<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<h1 class="bg-white content-heading border-bottom">Messages</h1>
<div class="innerAll spacing-x2">
	<div class="widget widget-inverse">		
		<div class="widget-head">
			<div class="widget-head">
				<h4 class="heading"> Trash Messages </h4>
			</div>
		</div>
		<div class="widget-body padding-bottom-none">
			<?php if( $this->data ) {  ?>
			<!-- Table -->
				<table class="dynamicTable colVis table orders_table">
					<!-- Table heading -->
					<thead class="bg-gray">
						<tr>
							<th>Message</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<!-- Table body --> 
					<tbody>
					<?php //echo "<pre>"; print_r($this->data);die;
					if( isset( $this->data['messages'][0] )) {	
						foreach( $this->data['messages'] as $data => $value ) {
							$wordsCount = str_word_count( $value['message'] );
							
							if( $wordsCount > 11 ){
								$words = explode(" ", $value['message'], 12);
								array_pop($words);
								$message = implode(" ", $words).'...';
							}else { 
								$message = $value['message'];
							}
					?>
							<tr id="message_<?php echo $value['id']; ?>" class="gradeX order">
								<td> <?php echo $message ; ?></td>
								<td><?php echo $value['status'] ;?></td>
								<td class="center">
									<div class="btn-group btn-group-sm">
										<a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this message permanently ?')" href="<?php echo $this->baseUrl() ;?>/admin/messages/delperma?id=<?php echo $value['id']; ?>"><i class="fa fa-times"></i></a>
									</div>											
								</td>
							</tr>
					<?php			
					 	}	
					} else {
					?>
						<tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">No trash Messages.</td></tr>
					<?php
					
					}
										
					?>	
					</tbody>
				</table><!-- // Table END -->
		<?php  }else { ?>
			Nothing here.
		<?php }	?>
		</div>
	</div>
</div>
<?php $this->placeholder('content')->captureEnd() ?>
<?php $this->placeholder('staticJavascript')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>