@media only screen and (max-width:1024px) {
	.vendor_list {
		margin-left:240px;
	}
	.filter_vendor {
		width:220px;
	}
	.newsletter_form {
		padding-left:355px;
	}
}

@media only screen and (max-width:768px) {
	.left_nav {
		display:none;
	}
	.bottom_text {
		font-size:14px;
		padding:10px;
	}
	.line1 {
		font-size:27px;
	}
	.line2 {
		font-size:15px;
	}
	.nav > li + li {
		margin-left:10px;
	}
	.tab_bar a {
		padding:10px;
	}
	.filter_vendor {
		float:none;
		width:100%;
	}
	.padBlock {
		width:48%;
		float:left;
	}
	.padBlock + .padBlock {
		margin-left:4%;
	}
	.padBlock + .padBlock .filter_subtitle {
		margin-top:0;
	}
	.filter_actions:before,
	.filter_actions:after {
		content:"";
		display:table;
		clear:both;
	}
	.vendor_list {
		margin-left:0;
		margin-top:20px;
	}
	.party_blog li {
		width:33.3334%;
	}
	.quote_title {
		font-size:36px;
	}
	div:not(.footer_top) > .col4, div:not(.footer_top) > .col4:nth-of-type(4n+1) {
		width:32%;
		margin-left:2%;
		clear:none;
	}
	div:not(.footer_top) > .col4:nth-of-type(3n+1) {
		margin-left:0;
		clear:left;
	}
	
	.table > div {
		padding:10px;
	}
	.img_cont {
		max-width:150px;
	}
	.newsletter_title {
		float:none;
		width:100%;
		text-align:center;
	}
	.newsletter_form {
		padding:10px;
	}
	.newsletter_form:before,
	.newsletter_form:after {
		content:"";
		display:table;
		clear:both;
	}
	.final_desc {
		font-size:14px;
	}
}

@media only screen and (max-width:600px) {
	body.innerPages {
		padding-top:0;
	}
	.header {
		position:static;
	}
	.logo {
		width:122px;
	}
	.nav_bar {
		position:absolute;
		z-index:9999;
		left:0;
		right:0;
		background:#efefef;
		border-bottom:1px solid #ccc;
		padding:10px 0;
	}
	.sticky {
		position:fixed;
		top:0;
	}

	.sticky .logo {
		position:static;
		top:-400%;
	}
	.no-touch .main_nav {
		position:absolute;
		top:100%;
		right:-250px;
		background:#ededed;
		border:1px solid #ccc;
		-moz-transition:all 0.5s;
		-o-transition:all 0.5s;
		-ms-transition:all 0.5s;
		-webkit-transition:all 0.5s;
		transition:all 0.5s;
	}
	.no-touch .main_nav.active {
		right:0;
	}
	.no-touch .nav {
		padding-top:0;
		width:240px;
	}
	.no-touch .nav > li {
		display:block;
	}
	.no-touch .nav > li + li {
		margin:0;
	}
	.no-touch .nav > li > a {
		display:block;
		padding:10px;
	}
	.touch .main_nav {
		position:absolute;
		top:100%;
		right:0;
		left:0;
		height:0;
		overflow:hidden;
		background:#ededed;
		border-bottom:1px solid #ccc;
		-moz-transition:all 0.5s;
		-o-transition:all 0.5s;
		-ms-transition:all 0.5s;
		-webkit-transition:all 0.5s;
		transition:all 0.5s;
	}
	.touch .main_nav.active {
		height:40px;
	}
	.touch .nav {
		max-width:100%;
		overflow-y:auto;
		-webkit-overflow-scrolling:touch;
		white-space:nowrap;
		padding:10px 0 50px;
	}
	.mobile_menu {
		display:block;
		float:right;
		margin-top:10px;
	}
	.mobile_menu:before, .mobile_menu:after {
		content:"";
		display:block;
		border-top:4px solid #fff;
		height:4px;
		width:32px;
	}
	.mobile_menu:after {
		border-bottom:4px solid #fff;
	}
	.tab_bar a {
		font-size:14px;
	}
	.main_signup {
		width:100%;
	}
	.footer_top .col4 {
		width:48%;
		margin-bottom:20px;
		margin-left:0;
	}
	.footer_top .col4:nth-of-type(even) {
		margin-left:4%;
		clear:right;
	}
	.contactWrapper {
		margin-top:92px;
	}
	.mobile_menu:before, .mobile_menu:after {
		border-color:#666;
	}
	body {
		overflow-x:hidden;
	}
	.imgLeft {
		margin:0;
		float:none;
		text-align:center;
	}
	.nav > li {
		color:#666;
	}
}

@media only screen and (max-width:480px) {
	.login_bar {
		float:none;
		padding:0 0 10px;
		font-size:14px;
		text-align:center;
	}
	.login_bar li {
		margin:0;
		font-size:14px;
	}
	.login_bar li + li {
		margin-left:10px;
	}
	.search_bar input[type="search"] {
		width:100%;
	}
	.search_bar {
		float:none;
	}
	.bottom_text, .top_text {
		display:none;
	}
	.tab_bar a {
		padding:0 3px;
	}
	.tab_bar a + a {
		border:0;
	}
	.block_title {
		font-size:24px;
	}
	.padBlock, .padBlock + .padBlock {
		float:none;
		width:100%;
		margin-left:0;
	}
	.padBlock + .padBlock {
		margin-top:20px;
	}
	.pro_img {
		float:none;
		width:100%;
		text-align:center;
		margin:0;
	}
	.vend_info, .vendor_desc {
		font-size:14px;
	}
	.vendor_nav li + li {
		margin-left:5px;
	}
	.vendor_nav li {
		font-size:14px;
	}
	.party_blog li, .ideas_list li {
		width:50%;
		clear:none;
	}
	.party_blog li:nth-of-type(odd), .ideas_list li:nth-of-type(odd) {
		clear:left;
	}
	.col3:nth-of-type(3n+1), .col3, div:not(.footer_top) > .col4, div:not(.footer_top) > .col4:nth-of-type(4n+1), div:not(.footer_top) > .col4:nth-of-type(3n+1), .col2, .col2:nth-of-type(2n) {
		float:none;
		width:100%;
		clear:both;
		padding-left:5px;
		padding-right:5px;
		margin-left:0;
		margin-top:20px;
	}
	.signup_action {
		background-attachment:scroll;
	}
	.quote_title, .main_signup {
		font-size:18px;
	}
	#tips {
		text-align:center;
	}
	.table, .table > div {
		display:block;
		text-align:center;
	}
	.img_cont {
		width:auto;
		max-width:100%;
	}
	.social_icons li img {
		height:23px;
	}
	.social_icons li a {
		height:40px;
		width:40px;
	}
	.trending_title, .ideas_title {
		font-size:18px;
	}
	.trending_desc, .spotlight_desc {
		font-size:14px;
	}
	.footer_bottom p {
		line-height:1.5;
	}
	.footer_bottom p a + a {
		border:0;
	}
	.page_title {
		font-size:24px;
	}
	.page_desc {
		font-size:16px;
	}
}