* {
	margin:0;
	padding:0;
	-moz-box-sizing:inherit;
	-webkit-box-sizing:inherit;
	box-sizing:inherit;
	border:0;
	outline:0;
}

img {
	max-width:100%;
	vertical-align:middle;
}

html {
	-webkit-text-size-adjust:none;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

input, textarea, select {
	resize:none;
	-webkit-appearance:none;
	border-radius:0;
	box-shadow:none;
	font-family:"Lato", Arial, Helvetica, sans-serif;
}

input[type=submit], input[type=button] {
	cursor:pointer;
}

a, a:hover, a:active, a:visited, a:link, a:target {
	color:inherit;
	text-decoration:none;
}

.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after {
	content:"";
	display:table;
	clear:both;
}

@font-face {
	font-family:"Lato";
	src:url("../fonts/Lato-Light.eot?") format("eot"),
		url("../fonts/Lato-Light.woff") format("woff"),
		url("../fonts/Lato-Light.ttf") format("truetype"),
		url("../fonts/Lato-Light.svg#Lato-Light") format("svg");
	font-weight:100;
	font-style:normal;
}

@font-face {
	font-family:"Lato";
	src: url('../fonts/lato-reg-webfont.eot');
	src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato-reg-webfont.woff') format('woff'),
		url('../fonts/lato-reg-webfont.ttf') format('truetype'),
		url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:"Lato";
	src: url('../fonts/lato-bol-webfont.eot');
	src: url('../fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato-bol-webfont.woff') format('woff'),
		url('../fonts/lato-bol-webfont.ttf') format('truetype'),
		url('../fonts/lato-bol-webfont.svg#latobold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family:"Lato";
	src: url('../fonts/lato-bolita-webfont.eot');
	src: url('../fonts/lato-bolita-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato-bolita-webfont.woff') format('woff'),
		url('../fonts/lato-bolita-webfont.ttf') format('truetype'),
		url('../fonts/lato-bolita-webfont.svg#latobold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family:"Lato";
	src: url('../fonts/lato-regita-webfont.eot');
	src: url('../fonts/lato-regita-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato-regita-webfont.woff') format('woff'),
		url('../fonts/lato-regita-webfont.ttf') format('truetype'),
		url('../fonts/lato-regita-webfont.svg#latoitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

body {
	font-family:"Lato", Arial, Helvetica, sans-serif;
	color:#666;
}

ul, ol {
	list-style:none;
}

.wrapper {
	width:96%;
	max-width:1100px;
	margin:0 auto;
}

.top_bar {
	background:#000;
	background:rgba(0,0,0,0.8);
	padding:10px 0;
}

.header {
	z-index:2147483647;
	position:absolute;
	top:0;
	left:0;
	right:0;
}

.login_bar li {
	display:inline-block;
	font-size:18px;
	color:#fff;
	margin-right:20px;
}

.search_icon {
	background:url(/images/home/search_icon.png) no-repeat;
	width:12px;
	height:12px;
	display:block;
	position:absolute;
	top:50%;
	right:10px;
	margin-top:-6px;
	z-index:100;
}

.login_bar {
	float:left;
	padding-top:5px;
}

.search_bar {
	float:right;
	position:relative;
	background:#fff;
	background:rgba(255,255,255,0.2);
	border-radius:3px;
}

.search_bar input[type=search] {
	background:none;
	display:block;
	width:270px;
	padding:10px 32px 10px 10px;
	font-style:italic;
	color:#fff;
	font-size:14px;
}

.logo {
	float:left;
	position:relative;
	top:0;
}

.sticky .logo {
	position:absolute;
	top:-400%;
}

.main_nav {
	float:right;
}

.nav > li {
	display:inline-block;
	font-weight:100;
	color:#fff;
	text-transform:uppercase;
	font-size:16px;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

.nav > li + li {
	margin-left:20px;
}

.nav {
	padding-top:33px;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

.nav_bar {
	padding:20px 0;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

.flexslider {
	border-radius:0;
	margin:0;
	padding:0;
	z-index:50px;
	overflow:hidden;
	border:0;
}

.bottom_text {
	text-align:center;
	padding:20px;
	background:#fff;
	background:rgba(255,255,255,0.8);
	color:#666;
	font-size:20px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

.top_text {
	color:#666;
	position:absolute;
	left:10%;
	top:30%;
	text-transform:uppercase;
}

.line1, .line2 {
	display:block;
	background:#fff;
	background:rgba(255,255,255,0.8);
	padding:10px;
}

.line1 {
	font-size:42px;
	font-weight:100;
}

.line2 {
	font-weight:bold;
	font-size:23px;
	margin-top:3px;
}

.tab_bar {
	text-align:center;
	background:#d65679;
	padding:10px 0;
}

.tab_bar a {
	font-size:18px;
	color:#fff;
	text-transform:capitalize;
	display:inline-block;
	padding:5px 20px;
}

.tab_bar a + a {
	border-left:1px solid #fff;
}

.block_title {
	font-size:30px;
	color:#666;
	font-weight:100;
	text-transform:uppercase;
	padding:40px 0;
	text-align:center;
}

.filter_vendor {
	width:300px;
	border:1px solid #ccc;
	float:left;
}

.filter_title {
	font-size:18px;
	color:#666;
	padding:12px 10px 10px;
	border-bottom:1px solid #ccc;
	text-align:center;
	background:#f5f5f5;
	text-transform:uppercase;
}

.filter_actions {
	padding:20px;
}

.reset_filters {
	font-weight:bold;
	width:100%;
	padding:10px;
	border-radius:5px;
	color:#fff;
	font-size:18px;
	background:#d65679;
	text-transform:uppercase;
}

.search_vendor::-moz-placeholder {
	opacity:1;
}

.search_vendor, .vendor_locations {
	background:#f4f4f4;
	display:block;
	width:100%;
	margin-top:20px;
	padding:10px;
	font-size:18px;
	color:#ccc;
	border:1px solid #ccc;
	font-style:italic;
}

.vendor_locations {
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
	background-image:url(/images/home/arrow_down.png);
	background-repeat:no-repeat;
	background-position:96% center;
	background-position:calc(100% - 10px) center;
}

.filter_subtitle {
	font-weight:normal;
	font-size:18px;
	margin-top:30px;
}

.heart {
	position: relative;
	width: 24px;
	height: 21px;
	display:block;
}

.heart:before, .heart:after {
	position: absolute;
	content: "";
	left: 12px;
	top: 0;
	width: 12px;
	height: 21px;
	background: #ccc;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.active .heart:before, .active .heart:after {
	background:#d65679;
}

.heart:after {
	left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin :100% 100%;
}

.select_rating {
	text-align:justify;
	font-size:0;
	margin-top:20px;
}

.select_rating:after {
	content:"";
	display:inline-block;
	width:100%;
}

.select_rating li, .user_rating li {
	display:inline-block;
	font-size:14px;
}

.user_rating li + li {
	margin-left:10px;
}

.user_rating {
	margin-top:20px;
}

.service_list {
	margin-top:20px;
	font-size:18px;
}

.service_list li + li {
	margin-top:10px;
}

.service_list input[type=checkbox] {
	display:block;
	float:left;
	margin-right:5px;
	margin-top:4px;
}

.service_list label {
	cursor:pointer;
}

.vendor_list {
	max-height:722px;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	margin-left:320px;
	border:1px solid #ccc;
}

.singleVendor {
	padding:10px;
	border-bottom:1px solid #ccc;
}

.main_info {
	overflow:hidden;
}

.pro_img {
	border:1px solid #ccc;
	width:170px;
	float:left;
	margin-right:10px;
}

.address_info {
	overflow:hidden;
}

.vend_info {
	font-size:18px;
	line-height:1.5;
	float:left;
	width:49%;
}

.vend_info + .vend_info {
	float:right;
}

.vendor_desc {
	font-size:16px;
	line-height:1.7;
	margin-top:10px;
}

.vendor_nav {
	margin-top:10px;
}

.vendor_nav li + li {
	margin-left:15px;
}

.vendor_nav li {
	display:inline-block;
	color:#d65679;
}

.party_blog li {
	width:25%;
	overflow:hidden;
	float:left;
	position:relative;
}

.party_blog li img {
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	-webkit-transition:all 1s;
	transition:all 1s;
}

.party_details {
	position:absolute;
	top:0;
	left:0;
	right:0;
	opacity:0;
	bottom:0;
	background:#000;
	background:rgba(0,0,0,0.7);
	z-index:50;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

.party_details:hover {
	opacity:1;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

.party_blog img {
	width:100%;
}

.party_title {
	font-size:26px;
	font-weight:100;
	text-align:center;
	padding-top:20px;
	color:#fff;
	text-transform:uppercase;
}

.party_desc {
	font-size:19px;
	color:#fff;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	padding:10px 10px 20px;
	text-align:center;
}

.col3 {
	width:32%;
	float:left;
	margin-left:1.5%;
}

.col3:nth-of-type(3n+1) {
	clear:left;
	margin-left:0;
}

.trending_title {
	font-size:24px;
	text-transform:uppercase;
	text-align:center;
	margin:20px 0;
}

.trending_desc {
	font-size:18px;
	text-align:justify;
	line-height:1.5;
	padding:0 5px;
}

.signup_action {
	margin-top:40px;
	background:url(/images/home/signup_bg.jpg) no-repeat center center;
	background-attachment:fixed;
	padding:200px 0;
	background-size:cover;
	text-align:center;
}

.quote_title {
	font-size:48px;
	font-weight:100;
	text-transform:uppercase;
	color:#fff;
}

.main_signup {
	font-weight:bold;
	font-size:35px;
	color:#fff;
	text-transform:uppercase;
	padding:20px;
	width:485px;
	background:#d65679;
	border-radius:5px;
	margin-top:20px;
}

.col4 {
	width:24%;
	margin-left:1.3334%;
	float:left;
}

.col4:nth-of-type(4n+1) {
	clear:left;
	margin-left:0;
}

.ideas_title {
	font-size:24px;
	margin:20px 0 40px;
	text-align:center;
	text-transform:uppercase;
	font-weight:normal;
}

.spotlight {
	background:#f3f3f3;
	border:1px solid #ccc;
}

.spotlight .ideas_title, .bottom_block .ideas_title {
	margin:20px 0;
}

.spotlight_desc {
	text-align:center;
	padding:0 10px 20px;
	font-size:16px;
	line-height:1.7;
}

.col3:nth-of-type(n+4) {
	margin-top:20px;
}

.features {
	background:#ecaf69;
	padding:0 0 60px;
	margin-top:40px;
}

.features .block_title {
	color:#fff;
}

.table {
	display:table;
}

.table > div {
	display:table-cell;
	vertical-align:middle;
}

.img_cont {
	width:300px;
}

.img_cont {
	max-width:300px;
}

.text_cont h1 {
	font-weight:100;
	text-transform:uppercase;
	color:#d65679;
	font-size:30px;
	margin-bottom:20px;
}

.text_cont p {
	font-size:18px;
	line-height:1.7;
}

.features_slider {
	overflow:visible;
	box-shadow:0 5px 2px rgba(0,0,0,0.1);
}

.flex-control-paging li a.flex-active, .flex-control-paging li a:hover {
	background:#fff;
}

.flex-control-paging li a {
	background:#fff;
	background:rgba(255,255,255,0.4);
	box-shadow:none;
}

.flex-control-nav {
	bottom:-24px;
}

.col2 {
	float:left;
	width:49.334%;
	clear:left;
}

.col2:nth-of-type(even) {
	float:right;
	clear:right;
}

.bottom_block {
	margin-top:20px;
}

.ideas_list li {
	width:33.3334%;
	float:left;
}

.ideas_list li img {
	width:100%;
}

.newsletter {
	background:#333333;
	padding:30px 0;
	margin-top:40px;
}

.newsletter_title {
	font-size:24px;
	font-weight:100;
	text-transform:uppercase;
	color:#fff;
	float:left;
}

.newsletter_title span {
	text-transform:none;
	font-size:18px;
}

.newsletter_form {
	padding-top:10px;
	padding-left:430px;
}

.formControl input[placeholder] {
	background:rgba(255,255,255,0.4);
}

.formControl input {
	color:#fff;
	font-size:18px;
	font-weight:100;
	text-transform:uppercase;
	padding:10px;
	width:100%;
}

.formControl input[value] {
	padding:9px 10px;
	background:#d65679;
}

.formControl.col3 {
	clear:none;
}

.final_desc {
	font-size:18px;
	text-align:center;
	line-height:1.5;
}

.social_icons {
	padding:30px 0;
	text-align:center;
}

.social_icons li {
	display:inline-block;
	vertical-align:middle;
	margin:0 5px;
}

.social_icons li img {
	position:relative;
	z-index:200;
}

.social_icons li a {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	width:70px;
	height:70px;
	background:#838383;
	position:relative;
	overflow:hidden;
	border-radius:100%;
}

.social_icons li a:before {
	content:"";
	display:block;
	position:absolute;
	bottom:50%;
	left:50%;
	right:50%;
	top:50%;
	border-radius:100%;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

.social_icons li a:hover:before {
	top:0;
	bottom:0;
	left:0;
	right:0;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

a.fb:before {
	background:#3b5998;
}

a.twitter:before {
	background:#00aced;
}

a.gplus:before {
	background:#dd4b39;
}

.footer_top {
	padding:30px 0;
	border-bottom:1px solid #ccc;
}

.footer {
	background:#f5f5f5;
	border-top:1px solid #ccc;
}

.foot_title {
	font-weight:normal;
	font-size:18px;
	color:#000;
	text-transform:uppercase;
}

.foot_links li {
	font-size:14px;
	margin-top:10px;
}

.footer_bottom {
	padding:20px 0;
}

.footer_bottom p {
	font-size:14px;
	text-align:center;
}

.footer_bottom p a {
	padding:0 10px;
	display:inline-block;
}

.footer_bottom p a + a {
	border-left:1px solid #666;
}

.footer_bottom p + p {
	margin-top:20px;
}

.left_nav {
	position:fixed;
	right:20px;
	top:50%;
	-moz-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	color:#666;
	z-index:5000;
}

.left_nav_links a {
	opacity:0;
	vertical-align:middle;
	display:inline-block;
	font-size:14px;
	overflow:hidden;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

.left_nav_links a.active {
	opacity:1;
}

.left_nav_links:before {
	position:absolute;
	right:5px;
	width:1px;
	top:10px;
	bottom:10px;
	background:#666;
	content:"";
	display:block;
}

.left_nav_links li:hover a {
	opacity:1;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

.left_nav_links li:after {
	display:inline-block;
	content:"";
	width:11px;
	height:11px;
	background:#666;
	margin-left:10px;
	vertical-align:middle;
	border-radius:20px;
}

.left_nav_links li {
	text-align:right;
}

.left_nav_links li + li {
	margin-top:20px;
}

.mobile_menu {
	display:none;
}

.innerPages .header {
	border-bottom:1px solid #ccc;
}

body.innerPages {
	padding-top:185px;
}

.page_title {
	font-weight:100;
	font-size:48px;
	color:#666;
	text-transform:uppercase;
	padding:40px 0 20px;
	text-align:center;
}

.page_desc {
	font-size:18px;
	color:#666;
	text-align:center;
	line-height:2;
}

.form_contact {
	width:100%;
	max-width:470px;
	margin:30px auto;
}

.contactWrapper {
	background:url(../images/contact_bg.png) no-repeat center center;
}

.form_control > input:not([type=submit]), .form_control > textarea {
	background:#efefef;
	border:1px solid #ccc;
}

.form_control > textarea {
	height:170px;
}

.form_control > input, .form_control > textarea {
	padding:10px;
	width:100%;
	font-size:18px;
}

.form_control > input[type=submit] {
	background:#ff5c67;
	font-weight:bold;
	color:#fff;
	font-size:24px;
	text-transform:uppercase;
}

.form_control + .form_control {
	margin-top:20px;
}

.innerPages .nav > li {
	color:#666;
}

.hide {
    display: none;
}

#create_account legend {
    font-family: Lato, Open Sans, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 22px;
    padding: 10px 50px 10px 20px;
    color: #666666;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}

#create_account .btn-primary, #create_account .btn-primary:hover {
    background: #d65679;
    width: 100%;
    height: auto;
    border-radius: 3px;
    font-family: 'LatoLight', Open Sans, Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: 0;
    text-transform: uppercase;
}

#create_account {
    width: 100% !important;
    margin-left: 0 !important;
    left: 0 !important;
    max-width: 100% !important;
}

#create_account .panel {
    background: #f5f5f5;
    border-radius: 0;
}

#create_account .login-cnntt {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

#create_account .bv-form {
    padding: 10px 20px;
}

#create_account .login-cnntt .panel-body {
    padding: 0;
}

#create_account .section_seperator {
    width: 100%;
    margin: 10px 0;
    background: #ccc;
    border: 0;
    color: #ccc;
    height: 1px;
}

#create_account .form-group {
    position: relative;
    margin-bottom: 0px;
}

#create_account .login-cnntt .form-group label {
    position: absolute;
    top: 1px;
    width: 88px;
    margin: 0;
    left: 1px;
    bottom: 1px;
    background: #d65679;
    padding: 10px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0 5px 5px 0;
}

#create_account .login-cnntt .form-group label:after {
	content:"";
	display:block;
	height:0;
	width:0;
	border:6px solid transparent;
	border-left-color:#d65679;
	position:absolute;
	left:100%;
	top:50%;
	margin-top:-6px;
}

.help_links a {
	display:block;
	margin:10px 0;
	color:#d65679;
}

.social_login_icons li {
	display:inline-block;
}

#create_account .panel-default .form-control, .frm-cntrl-stly .form-control {
	width:100%;
	border:1px solid #ccc;
	font-size:14px;
}

.md-checkbox {
	text-align:center;
}

#create_account .btn-primary, #create_account .btn-primary:hover {
	width:auto;
	margin:10px auto;
	color:#fff;
	display:block;
	padding:5px 10px;
}

#create_account .form-group {
	margin-bottom:30px;
}

.help-block {
	position:absolute;
	top:100%;
	left:0;
}

#create_accoun .panel-default .form-control, .frm-cntrl-stly .form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

#create_account .login-cnntt label {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
}

#create_account .panel-default .form-control, .frm-cntrl-stly .form-control {
    border-radius: 0;
    box-shadow: none;
    padding: 10px 10px 10px 110px;
    height: auto;
}

#close_x {
	position:absolute;
	top:0;
	right:0;
	display:block;
	text-indent:-9999em;
	height:12px;
	width:12px;
	margin:10px;
	background:url(../../images/close_btn.png) no-repeat center center;
}

.post_social {
	position:absolute;
	top:0;
	right:0;
	padding:10px;
	z-index:100
}

.post_social li {
	display:inline-block;
}

.block .col3, .block .col4 {
	position:relative;
}

.md-checkbox {
	position: relative;
	/* handling click events */
	/* when checkbox is checked */
}

.md-checkbox input[type=checkbox] {
	visibility: hidden;
	position: absolute;
}
.md-checkbox label {
	cursor: pointer;
	padding-left: 30px;
	display:block;
	text-align:left;
}
.md-checkbox label > span {
	display: block;
	position: absolute;
	left: 0;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.md-checkbox label > span.inc {
	background: #fff;
	left: -20px;
	top: -20px;
	height: 60px;
	width: 60px;
	opacity: 0;
	border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
}
.md-checkbox label > .box {
	top: 0px;
	border: 2px solid #666;
	height: 20px;
	width: 20px;
	z-index: 5;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.md-checkbox label > .check {
	top: -4px;
	left: 6px;
	width: 10px;
	height: 20px;
	border: 2px solid #45B6AF;
	border-top: none;
	border-left: none;
	opacity: 0;
	z-index: 5;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.md-checkbox label > span.inc {
	-webkit-animation: growCircle 0.3s ease;
	-moz-animation: growCircle 0.3s ease;
	animation: growCircle 0.3s ease;
}
.md-checkbox input[type=checkbox]:checked ~ label > .box {
	opacity: 0;
	-webkit-transform: scale(0) rotate(-180deg);
	-moz-transform: scale(0) rotate(-180deg);
	transform: scale(0) rotate(-180deg);
}
.md-checkbox input[type=checkbox]:checked ~ label > .check {
	opacity: 1;
	-webkit-transform: scale(1) rotate(45deg);
	-moz-transform: scale(1) rotate(45deg);
	transform: scale(1) rotate(45deg);
}
.md-checkbox input[type=checkbox]:disabled ~ label,
.md-checkbox input[type=checkbox][disabled] ~ label {
	cursor: not-allowed;
	opacity: 0.7 ;
	filter: alpha(opacity=70) ;
}
.md-checkbox input[type=checkbox]:disabled ~ label > .box,
.md-checkbox input[type=checkbox][disabled] ~ label > .box {
	cursor: not-allowed;
	opacity: 0.7 ;
	filter: alpha(opacity=70) ;
}
.md-checkbox input[type=checkbox]:disabled:checked ~ label > .check,
.md-checkbox input[type=checkbox][disabled]:checked ~ label > .check {
	cursor: not-allowed;
	opacity: 0.7 ;
	filter: alpha(opacity=70) ;
}

#blog_offer.flexslider .slides > li {
	max-height:170px;
}

.help_links, .social_media_login {
	text-align:center;
}

.social_login_icons {
	margin-top:10px;
}

.bottom_section {
	padding:0 10px 10px;
}

.social_login_icons img {
	max-width:40px;
}

.hoverOverlay {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#d65679;
	opacity:0;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	-webkit-transition:all 1s;
	transition:all 1s;
	z-index:10;
}

.hoverOverlay p {
	color:#fff;
	font-weight:100;
	text-transform:uppercase;
	padding:10px;
	font-size:22px;
	left:0;
	right:0;
	text-align:center;
	top:50%;
	-moz-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	position:absolute;
}

.ideas_list li img {
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	-webkit-transition:all 1s;
	transition:all 1s;
}

.ideas_list li:hover img {
	-moz-transform:scale(1.4, 1.4);
	-o-transform:scale(1.4, 1.4);
	-ms-transform:scale(1.4, 1.4);
	-webkit-transform:scale(1.4, 1.4);
	transform:scale(1.4, 1.4);
}

.party_blog li:hover img {
	-moz-transform:scale(1.2, 1.2);
	-o-transform:scale(1.2, 1.2);
	-ms-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);
}

.ideas_list li {
	position:relative;
	overflow:hidden;
}

.ideas_list li:hover .hoverOverlay {
	opacity:1;
}

.ideas_list li .col4 {
	position:static;
}

body .lb-style-disk .lb-like-icon, body .lb-style-disk .lb-voted .lb-like-icon, body .lb-style-disk .lb-voted .lb-a:hover .lb-like-icon, body .lb-style-disk .lb-a:hover .lb-like-icon {
	height:30px;
	width:30px;
	background:url(../../images/like_heart.png) no-repeat center center;
	background-size:100% auto;
}

.party_blog .post_social li, .ideas_list .post_social li {
	width:auto;
}

body .lb-style-disk .lb-like, body .lb-style-disk .lb-dislike {
	height:auto;
}

body .lb-style-disk .lb-like-label, body .lb-style-disk .lb-dislike-label {
	vertical-align:middle;
}

.about_information p + p {
	margin-top:20px;
}

.about_information {
	padding-bottom:50px;
	line-height:1.5;
}

.imgLeft {
	float:left;
	margin:10px;
}

@media only screen and (min-width:601px) {
	.sticky {
		position:fixed;
		top:0;
		left:0;
		right:0;
		background:#efefef;
		border-bottom:1px solid #ccc;
		padding:10px 0;
	}
	.sticky .nav {
		padding-top:0;
	}
	.sticky .nav > li {
		color:#666;
	}
}