<!-- application/layouts/scripts/layout.phtml -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta name="google-translate-customization" content="29622b545bc381a4-788df79e2215d174-ge4b34f610a340488-9">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/home/flexslider.css' ); ?>"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/home/style.css'); ?>"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/home/responsive.css');?>"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/home/retina.css');?>"
	      media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"/>

	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/chosen.css');?>"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/jquery.mCustomScrollbar.css');?>"/>

	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/ipad-landscape.css');?>"
	      media="only screen and (max-width:1024px), (max-device-width:1024px) and (orientation:landscape)"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/ipad-portrait.css'); ?>"
	      media="only screen and (max-width:768px), (max-device-width:768px) and (orientation:portrait)"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/small-tabs.css'); ?>"
	      media="only screen and (max-width:600px)"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/iphone-landscape.css'); ?>"
	      media="only screen and (max-width:480px), (max-device-width:480px) and (orientation:landscape)"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('/css/iphone-portrait.css'); ?>"
	      media="only screen and (max-width:320px), (max-device-width:320px) and (orientation:portrait)"/>


	<script src="<?php echo $this->baseUrl('js/jquery-1.7.2.js'); ?>" type="text/javascript"></script>
	<!--<script src="<?php /*echo $this->baseUrl() . '/js/home/jquery.js'; */?>" type="text/javascript"></script>-->
	<script src="<?php echo $this->baseUrl('js/bootstrap.min.js'); ?>" type="text/javascript"></script>



	<script type="text/javascript" src="<?php echo $this->baseUrl('/js/angular/lib/angular.min.js'); ?>"></script>
	<script type="text/javascript"
	        src="<?php echo $this->baseUrl('js/angular/lib/checklist-model.js'); ?>"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl('js/angular/lib/elif.js'); ?>"></script>
	<script type="text/javascript"
	        src="<?php echo $this->baseUrl( 'js/angular/controllers/index/indexApp.js'); ?>"></script>
	<script src="<?php echo $this->baseUrl('js/angular/lib/ui-bootstrap-tpls-0.10.0.js');?>" type="text/javascript"></script>
	<script src="<?php echo $this->baseUrl('js/angular/lib/angular-animate.js');?>"></script>
	<script src="<?php echo $this->baseUrl('js/bootstrapValidator.js'); ?>" type="text/javascript"></script>


	<script type="text/javascript"
	        src="<?php echo $this->baseUrl('js/angular/controllers/index/searchCtrl.js'); ?>"></script>


</head>
<?php

$db       = Zend_Registry::get( "db" );
$category = $db->fetchAll( 'select * from vendor_category' );
require './Facebook/facebook.php';

$facebook = new Facebook( array(
	//'appId'  => '1428793450717975',
	'appId'  => '724095021045417',
	//'secret' => 'ee676537ca66d9c9411a1c065fb2606e'
	'secret' => '473b0ef025c38b1240b71240add3c148'

) );
$fblogin  = $facebook->getLoginUrl();

//Login with Google
require_once './Google/src/Google_Client.php';
require_once './Google/src/contrib/Google_Oauth2Service.php';

$google_client_id     = '157008869080-h83c0eaecmp5sgmcjuieh5f9jalqhgfc.apps.googleusercontent.com';
$google_client_secret = 'fKOhtlmXcxZcrz8KgpUhcFTC';
$google_redirect_url  = PUBLIC_URI . '/users/index/google-login';
$google_developer_key = '157008869080-h83c0eaecmp5sgmcjuieh5f9jalqhgfc@developer.gserviceaccount.com';

$gClient = new Google_Client();
$gClient->setClientId( $google_client_id );
$gClient->setClientSecret( $google_client_secret );
$gClient->setRedirectUri( $google_redirect_url );
$gClient->setDeveloperKey( $google_developer_key );

$google_oauthV2 = new Google_Oauth2Service( $gClient );
$authUrl        = $gClient->createAuthUrl();
$db             = Zend_Registry::get( "db" );
$pages          = $db->fetchAll( "select * from wp_posts where post_status=? and post_type=?",
	array( 'publish', 'page' ), 2 ); //echo "<pre>"; print_r($pages);die;
$bottomlinks    = $db->fetchAll( 'SELECT * FROM wp_posts WHERE post_type= ? order by menu_order asc',
	array( 'bottomfooter' ), 2 );
$contact_info   = $db->fetchAll( 'SELECT * FROM wp_posts WHERE post_status= ? and post_type= ?',
	array( 'publish', 'contact' ), 2 );

$UserSession   = new Zend_Session_Namespace( 'UserSession' );
$VendorSession = new Zend_Session_Namespace( 'VendorSession' );
$events        = $db->fetchAll( "select * from bookings where user_id=?", array( $UserSession->userId ), 2 );


?>

<body class="events-page" data-page="events" ng-app="indexApp" >

<?php
$getKeyword = $_GET['keyword'];
if ( Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == "dashboard" || Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == "conversation" ) {
	$db          = Zend_Registry::get( "db" );
	$UserSession = new Zend_Session_Namespace( 'UserSession' );
	$user        = $db->fetchAll( "SELECT first_name, last_name , email FROM user where id = ?",
		array( $UserSession->userId ), 2 );
	$messages    = $db->fetchAll( "select count(*) from messages where sent_to=? and status=0",
		array( $UserSession->userId ), 2 );
	?>

<?php
}?>
<div class="left_nav">
	<ul class="left_nav_links"></ul>
</div>
<div id="create_account" style="max-width:40%;min-width:40%;"></div>
<div class="header">
	<div class="top_bar">
		<div class="wrapper">
			<ul class="login_bar">
				<li><a href="javascript:void(0);" id="sign_up" >Sign Up</a></li>
				<li id="your_account"><a href="javascript:void(0);" id="login">Login</a></li>
			</ul>
			<div class="search_bar">
				<form action="/" id="vendor_search" name="vendor_search" method="GET">	   
			
		<input type="search" id="topSearch" name="keyword" ng-model="search.search_key" placeholder="enter keywords" />
       		<input type="hidden" id="getKeyword" value="<?php echo $getKeyword; ?>"/>
        
         <!-- ng-keypress="search_vendor($event)" -->
		 <input type="button" style="display:none;"  class="search_btn_home" id="vendor_search_butt" style="padding-top: 20px;color:#000;background-color:#ccc;margin:7px;" value="Search"/>
	    </form>
			</div>
		</div>
	</div>
	<div class="nav_bar">
		<div class="wrapper">
			<a href="#" class="mobile_menu"></a>
			<a href="#" class="logo"><img src="<?php echo $this->baseUrl('images/home/logo.png');?>" alt=""/></a>

			<div class="main_nav">
				<ul class="nav">
					<li><a class="active" href="/" title="Home">Home</a></li>
					<li><a href="http://blog.15plug.com/" title="Blog">Blog</a></li>

					<?php
					// If page has any value
					if ( $pages ): // Loo to get page links
					{
						foreach ( $pages as $pageKey => $pageContent ):

							if ( isset( $pageContent['ID'] ) && $pageContent['ID'] == 50 ):?>
								<li><a href="http://blog.15plug.com/?page_id=50"
								       title="<?php echo $pageContent['post_title']; ?>"><?php echo $pageContent['post_title']; ?></a>
								</li>
								<?php
							endif;

                            if ( isset( $pageContent['ID'] ) && $pageContent['ID'] == 48 ):?>
							<li>
								<a href="http://blog.15plug.com/?page_id=48"								   title="<?php echo $pageContent['post_title']; ?>"><?php echo $pageContent['post_title']; ?></a>
							</li>
                                <?php
                            endif;
						 endforeach;
					}
					endif;
					?>
				</ul>
			</div>
		</div>
	</div>
</div>

<?php
// View call here
echo $this->layout()->content; ?>





<script>

	// ******************** For Vendor Search Start ********************************************
	$(document).ready(function (e) {
		var rating0 = '<div style="float:left" class="star_content clearfix"><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>';
		var rating1 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>';
		var rating2 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star star_on"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>';
		var rating3 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star"></div><div class="star"></div></div>';
		var rating4 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star"></div></div>';
		var rating5 = '<div style="float:left" class="star_content clearfix"><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div><div class="star star_on"></div></div>';

		$("#reset_search_form").click(function (e) {
			document.getElementById("vendor_search").reset();
			$("#rate_val").html(rating0);
			$('#state').find('option').remove().end();
			$('#mySelect').find('option').remove().end();
			$('#state').append($("<option></option>").attr("value", '').text("--select--"));
			$('#mySelect').append($("<option></option>").attr("value", '').text("--select--"));
		});

		$("#rate").on("change", function (e) {

			if ($(this).val() == 1) {
				$("#rate_val").html(rating1);
			} else if ($(this).val() == 2) {
				$("#rate_val").html(rating2);
			} else if ($(this).val() == 3) {
				$("#rate_val").html(rating3);
			} else if ($(this).val() == 4) {
				$("#rate_val").html(rating4);
			} else if ($(this).val() == 5) {
				$("#rate_val").html(rating5);
			} else {
				$("#rate_val").html(rating0);
			}
		});
	});
	// ******************** For Vendor Search End  ********************************************
</script>
<script>
	$("#state").change(function () {
		var state_code = this.value;
		var state = $('#state option:selected').text();
		select_city(state_code, state)
	});
	
	$(document).on('click','.go-to-singup',function(){
		$( this).parentsUntil('div#create_account').find('.close').trigger('click');
		$('#sign_up').trigger('click');
	});

	$(document).on('click','.go-to-signin',function(){
		$( this).parentsUntil('div#create_account').find('.close').trigger('click');
		$('#login').trigger('click');
	});
	
	


</script>
<script>
	function select_state(country) {
		//alert(country);
		if (country) {


			$.ajax({
				cache: false,
				url: <?php ?>'/vendor/index/countrystate',
				type: "POST",
				dataType: "json",
				//data : JSON.stringify(data),
				data: {"country": country},
				//context : Form,
				success: function (result) {
					$('#state')
						.find('option')
						.remove()
						.end();
					$('#state')
						.append($("<option></option>")
							.attr("value", '')
							.text("--select--"));
					$.each(result, function (index, element) {
						$('#state')
							.append($("<option></option>")
								.attr("value", element.state_code)
								.text(element.state));
					});
					if (country == 'USA') {
						var state = 'Ak';
						var statename = 'Alaska';
					} else {
						var state = 'AG';
						var statename = 'Aguascalientes';
					}
					$.ajax({
						cache: false,
						url: '/vendor/index/statecity',
						type: "POST",
						dataType: "json",
						//data : JSON.stringify(data),
						data: {"state": state, "statename": statename},
						//context : Form,
						success: function (result) {
							$('#mySelect')
								.find('option')
								.remove()
								.end();
							$('#mySelect')
								.append($("<option></option>")
									.attr("value", '')
									.text("--select--"));
							$.each(result, function (index, element) {
								$('#mySelect')
									.append($("<option></option>")
										.attr("value", element.city)
										.text(element.city));
							});
							//$(this)[0].reset();
							//$('#mySelect').html(result);
						},
						error: function () {
							//$(this).html("Error!");
							console.log('error');
						}
					});

					//$(this)[0].reset();
					//$('#mySelect').html(result);
				},
				error: function () {
					//$(this).html("Error!");
					console.log('error');
				}
			});
		}
	}
</script>
<script>
	function select_city(state, name) {
		if (state) {
			//alert(state);
			//alert(name);
			$.ajax({
				cache: false,
				url: '/vendor/index/statecity',
				type: "POST",
				dataType: "json",
				//data : JSON.stringify(data),
				data: {"state": state, "statename": name},
				//context : Form,
				success: function (result) {
					$('#mySelect')
						.find('option')
						.remove()
						.end();
					$('#mySelect')
						.append($("<option></option>")
							.attr("value", '')
							.text("_select_"));
					$.each(result, function (index, element) {

						$('#mySelect')
							.append($("<option></option>")
								.attr("value", element.city)
								.text(element.city));
					});
					//$(this)[0].reset();
					//$('#mySelect').html(result);
				},
				error: function () {
					//$(this).html("Error!");
					console.log('error');
				}
			});
		}
	}
</script>

<?php
require_once ('footer.phtml');
?>

<script src="http://malsup.github.com/jquery.form.js"></script>

<script src="<?php echo $this->baseUrl('js/home/jquery.flexslider-min.js'); ?>"></script>
<script src="<?php echo $this->baseUrl('/js/general.js'); ?>" ></script>

<script src="<?php echo $this->baseUrl('js/home/global.js'); ?>"></script>
<script src="<?php echo $this->baseUrl('js/home/home.js'); ?>"></script>
<script src="<?php echo $this->baseUrl('js/jquery.lightbox_me.js'); ?>"></script>

</body>
</html>