<!-- application/layouts/scripts/layout.phtml -->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="google-translate-customization" content="29622b545bc381a4-788df79e2215d174-ge4b34f610a340488-9"></meta>
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->

    
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/home/flexslider.css' ); ?>"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/home/style.css'); ?>"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/home/responsive.css');?>"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/home/retina.css');?>"
		  media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"/>

	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/chosen.css');?>"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/jquery.mCustomScrollbar.css');?>"/>

	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/ipad-landscape.css');?>"
		  media="only screen and (max-width:1024px), (max-device-width:1024px) and (orientation:landscape)"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/ipad-portrait.css'); ?>"
		  media="only screen and (max-width:768px), (max-device-width:768px) and (orientation:portrait)"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/small-tabs.css'); ?>"
		  media="only screen and (max-width:600px)"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('css/iphone-landscape.css'); ?>"
		  media="only screen and (max-width:480px), (max-device-width:480px) and (orientation:landscape)"/>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('/css/iphone-portrait.css'); ?>"
		  media="only screen and (max-width:320px), (max-device-width:320px) and (orientation:portrait)"/>

	<script src="<?php echo $this->baseUrl('js/jquery-1.7.2.js'); ?>" type="text/javascript"></script>
	<!--<script src="<?php /*echo $this->baseUrl() . '/js/home/jquery.js'; */?>" type="text/javascript"></script>-->
	<script src="<?php echo $this->baseUrl('js/bootstrap.min.js'); ?>" type="text/javascript"></script>



	<script type="text/javascript" src="<?php echo $this->baseUrl('/js/angular/lib/angular.min.js'); ?>"></script>
	<script type="text/javascript"
			src="<?php echo $this->baseUrl('js/angular/lib/checklist-model.js'); ?>"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl('js/angular/lib/elif.js'); ?>"></script>
	<script type="text/javascript"
			src="<?php echo $this->baseUrl( 'js/angular/controllers/index/indexApp.js'); ?>"></script>
	<script src="<?php echo $this->baseUrl('js/angular/lib/ui-bootstrap-tpls-0.10.0.js');?>" type="text/javascript"></script>
	<script src="<?php echo $this->baseUrl('js/angular/lib/angular-animate.js');?>"></script>
	<script src="<?php echo $this->baseUrl('js/bootstrapValidator.js'); ?>" type="text/javascript"></script>


	<script type="text/javascript"
			src="<?php echo $this->baseUrl('js/angular/controllers/index/searchCtrl.js'); ?>"></script>    
 
  

</head>
<?php 
$db=Zend_Registry::get("db");
    $category=$db->fetchAll('select * from vendor_category'); 
	require './Facebook/facebook.php';	

	$facebook = new Facebook(array(
		//'appId'  => '1428793450717975',
		'appId'  => '724095021045417',
		//'secret' => 'ee676537ca66d9c9411a1c065fb2606e'
		'secret' => '473b0ef025c38b1240b71240add3c148'

	));	
	$fblogin = $facebook->getLoginUrl();

    //Login with Google
	require_once'./Google/src/Google_Client.php';
	require_once'./Google/src/contrib/Google_Oauth2Service.php';

	$google_client_id 	= '157008869080-h83c0eaecmp5sgmcjuieh5f9jalqhgfc.apps.googleusercontent.com';
	$google_client_secret 	= 'fKOhtlmXcxZcrz8KgpUhcFTC';
	$google_redirect_url 	= PUBLIC_URI.'/users/index/google-login';
	$google_developer_key 	= '157008869080-h83c0eaecmp5sgmcjuieh5f9jalqhgfc@developer.gserviceaccount.com';

	$gClient = new Google_Client();
	$gClient->setClientId($google_client_id);
	$gClient->setClientSecret($google_client_secret);
	$gClient->setRedirectUri($google_redirect_url);
	$gClient->setDeveloperKey($google_developer_key);

	$google_oauthV2 = new Google_Oauth2Service($gClient);
	$authUrl = $gClient->createAuthUrl();
	$db=Zend_Registry::get("db"); $pages = $db->fetchAll("select * from wp_posts where post_status=? and post_type=?", array('publish','page'), 2); //echo "<pre>"; print_r($pages);die;
	$bottomlinks = $db->fetchAll('SELECT * FROM wp_posts WHERE post_type= ? order by menu_order asc', array('bottomfooter'),2);
	$contact_info = $db->fetchAll('SELECT * FROM wp_posts WHERE post_status= ? and post_type= ?', array('publish' , 'contact'), 2);

	$UserSession = new Zend_Session_Namespace('UserSession');
	$VendorSession = new Zend_Session_Namespace('VendorSession');
	$events = $db->fetchAll("select * from bookings where user_id=?", array($UserSession->userId), 2);


?>

<body class="innerPages">
    
<?php
if ( Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == "dashboard" || Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == "conversation" ) {
	$db          = Zend_Registry::get( "db" );
	$UserSession = new Zend_Session_Namespace( 'UserSession' );
	$user        = $db->fetchAll( "SELECT first_name, last_name , email FROM user where id = ?",
			array( $UserSession->userId ), 2 );
	$messages    = $db->fetchAll( "select count(*) from messages where sent_to=? and status=0",
			array( $UserSession->userId ), 2 );
	?>

	<?php
}?>
<div class="left_nav">
	<ul class="left_nav_links"></ul>
</div>
<div id="create_account" style="max-width:40%;min-width:40%;"></div>
<div class="header">
	<div class="top_bar">
		<div class="wrapper">
			<ul class="login_bar">
				<li><a href="javascript:void(0);" id="sign_up" >Sign Up</a></li>
				<li id="your_account"><a href="javascript:void(0);" id="login">Login</a></li>
			</ul>
			<div class="search_bar">
				<form action="<?php echo $this->baseUrl(); ?>/" id="vendor_search" name="vendor_search" method="GET" class="ng-pristine ng-valid">	   
			
		<input type="search" id="topSearch" name="keyword" ng-model="search.search_key" placeholder="enter keywords" class="ng-pristine ng-valid">       		
        
         <!-- ng-keypress="search_vendor($event)" -->
		 <input type="button" style="display:none;" class="search_btn_home" id="vendor_search_butt" value="Search">
	    </form>
				<a href="#" class="search_icon"></a>
			</div>
		</div>
	</div>
	<div class="nav_bar">
		<div class="wrapper">
			<a href="#" class="mobile_menu"></a>
			<a href="#" class="logo"><img src="<?php echo $this->baseUrl('images/home/logo.png');?>" alt=""/></a>

			<div class="main_nav">
				<ul class="nav">
					<li><a href="/" title="Home">Home</a></li>
					<li><a href="http://blog.15plug.com/" title="Blog">Blog</a></li>

					<?php
					// If page has any value
					if ( $pages ): // Loo to get page links
					{
						foreach ( $pages as $pageKey => $pageContent ):

							if ( isset( $pageContent['ID'] ) && $pageContent['ID'] == 50 ):?>
								<li><a href="http://blog.15plug.com/?page_id=50"
									   title="<?php echo $pageContent['post_title']; ?>"><?php echo $pageContent['post_title']; ?></a>
								</li>
								<?php
							endif;

							if ( isset( $pageContent['ID'] ) && $pageContent['ID'] == 48 ):?>
								<li>
									<a href="http://blog.15plug.com/?page_id=48"								   title="<?php echo $pageContent['post_title']; ?>"><?php echo $pageContent['post_title']; ?></a>
								</li>
								<?php
							endif;
						endforeach;
					}
					endif;
					?>
				</ul>
			</div>
		</div>
	</div>
</div>    

	    <div class="mode_header">
<?php
    if( Zend_Controller_Front::getInstance()->getRequest()->getControllerName()=="dashboard" || Zend_Controller_Front::getInstance()->getRequest()->getControllerName()=="conversation" ) {
	$db=Zend_Registry::get("db");
	$UserSession = new Zend_Session_Namespace('UserSession');
	$user = $db->fetchAll("SELECT first_name, last_name , email FROM user where id = ?",array($UserSession->userId),2);
	$messages = $db->fetchAll("select count(*) from messages where sent_to=? and status=0", array($UserSession->userId), 2);
	?>
		<nav class="side-nav col-sm-3">
		    <section class="profile-det">
			<?php if( $this->data['media'] ) {; ?>
			    <?php foreach( $this->data['media'] as $data => $values ) {
				if( $values['section']=='user-avatar' && $values['owner']==$UserSession->userId ) {					    
				    ?>
					<a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mypic"><img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $values['owner']; ?>/<?php echo $values['section']; ?>_<?php echo $values['owner']; ?>_0_51x51<?php echo $values['type']; ?>" alt="" class="profile-pic2" /></a>
				    <?php					    
				}					
			    }?>					    
			<?php } ?>
			<p class="user-name2">Welcome <span><?php if($user[0]['first_name']){ echo $user[0]['first_name'].' '.$user[0]['last_name']; }else{ echo $user[0]['email']; } ?></span></p>
		    </section>
		    
		    <ul class="side-menu">
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard"><i class="fa-dashboard"></i>Dashboard</a></li>
			
			<li><a href="javascript:void(0)"><i class="fa-building-o"></i>Settings</a>
			    <ul class="sub-side-menu">
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/settings">Account Settings</a></li>
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/events">Event Settings</a></li>
			    </ul>
			</li>
			<li><a href="javascript:void(0);"><i class="fa-envelope-o"></i>Mail Box <div class="badge"><?php if($messages){ echo $messages[0]['count(*)']; } ?></div></a>
			    <ul class="sub-side-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mailbox">Inbox</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/conversation/sent">Sent</a></li>
			    </ul>
			</li>
			<li><a href="javascript:void(0)"><i class="fa-list"></i>Contact List</a>
			    <ul class="sub-side-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mycontacts">My Contacts</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/venderlist">My vendors</a></li>
			    </ul>
			</li>

			<li><a href="javascript:void(0)"><i class="fa-building-o"></i>Jobs</a>
			    <ul class="sub-side-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/users/job/new">Create New</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/myjobs">My Jobs</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/contracts">Contracts</a>
				<!-- <a href="<?php echo $this->baseUrl(); ?>/users/dashboard/appliers">Applicants</a> --></li>
			    </ul>
			</li>
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/budgetplanner"><i class="fa-building-o"></i>Budget Planner<span></span></a></li>
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/reviews"><i class="fa-building-o"></i>Feedback Reviews<span></span></a></li>
			<!--<li><a href="<?php // echo $this->baseUrl(); ?>/users/dashboard/events"><i class="fa-building-o"></i>Events<span></span></a></li>-->
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/guestlist"><i class="fa-building-o"></i>Guest List<span></span></a></li>
			<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/vendorcat/cat/all"><i class="fa-building-o"></i>Vendor Categories<span></span></a></li>
		    </ul>
		</nav>
	<?php
    }
?>
<?php 
echo $this->placeholder('slider');
 ?>
<div class="clear"></div>
<div id="content">                
            <?php echo $this->placeholder('first-tab-area') ?>
            <?php echo $this->placeholder('second-tab-area') ?>              
	  
     <?php echo $this->placeholder('testjavascripts');  ?>
  <script src="<?php echo $this->baseUrl()?>/js/jquery.maskMoney.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/css/assets/components/library/jquery-ui/js/jquery-ui.min.js?v=v1.2.3'; ?>" type="text/javascript"></script>
     <script src="<?php echo $this->baseUrl(); ?>/js/jquery.form.js"></script>
    <script src="<?php echo $this->baseUrl().'/js/responsive-tabs.js'; ?>" type="text/javascript"></script>

    <script src="<?php echo $this->baseUrl().'/js/chosen.jquery.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.mCustomScrollbar.js';?>" type="text/javascript"></script>
    
    	
    
    
    <script src="<?php echo $this->baseUrl().'/js/jquery.validate.js'; ?>" type="text/javascript"></script>
   
    <script src="<?php echo $this->baseUrl().'/js/jquery.colorwheel.min.js'; ?>" type="text/javascript"></script>
    
    <script src="<?php echo $this->baseUrl().'/js/vendor_dashboard.js'; ?>"type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.maskedinput.js'; ?>"type="text/javascript"></script>
    <!--script src="<?php //echo $this->baseUrl().'/js/jquery.timepicker.js'; ?>" type="text/javascript"></script-->
    <script src="<?php echo $this->baseUrl().'/js/bootstrap-timepicker.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery-ui-datepicker.js'; ?>"type="text/javascript"></script>
    
    <script src="<?php echo $this->baseUrl().'/js/jquery.mockjax.js';?>" type="text/javascript"></script>
  
    <script src="<?php echo $this->baseUrl().'/js/demo.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/countries.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.cookies.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/common.js'; ?>" type="text/javascript"></script>
    
    <script src="<?php echo $this->baseUrl().'/js/classie.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/eventie.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/doc-ready.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/get-style-property.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/EventEmitter.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/get-size.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/item.js'; ?>"></script>
<?php if( Zend_Controller_Front::getInstance()->getRequest()->getControllerName()!="dashboard") {; ?>  
<script type="text/javascript">

  	function isMobile() {
  		try{ document.createEvent("TouchEvent"); return true; }
  		catch(e){ return false; }
	}
/* <![CDATA[ */if(!isMobile())
	{jQuery(document).ready(function($){$("#pattern_10w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/10w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_10w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_11w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/11w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_11w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_12w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/12w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_12w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_16w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/16w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_16w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_17w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/17w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_17w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_18").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/18.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_18');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_18w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/18w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_18w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_19w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/19w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_19w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_1w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/1w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_1w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_20").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/20.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_20');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_20w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/20w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_20w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_2w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/2w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_2w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_3w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/3w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_3w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_4w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/4w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_4w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_5w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/5w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_5w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_6w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/6w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_6w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_7").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/7.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_7');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_7w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/7w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_7w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_8").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/8.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_8');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_8w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/8w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_8w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_9").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/9.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_9');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_9w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/9w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_9w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_body-bg-1").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/body-bg-1.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_body-bg-1');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_dot").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/dot.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_dot');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_embossed_paper").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/embossed_paper.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_embossed_paper');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_grid1").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/grid1.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_grid1');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_grid_noise").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/grid_noise.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_grid_noise');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_purty_wood").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/purty_wood.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_purty_wood');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}});}/* ]]> */
</script>

<?php echo $this->placeholder('culprit');  ?>


<?php } ?>
<?php
require_once ('footer.phtml');
?>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="<?php echo $this->baseUrl('js/home/jquery.flexslider-min.js'); ?>"></script>
<script src="<?php echo $this->baseUrl('js/modernizr.js'); ?>"></script>
<script src="<?php echo $this->baseUrl('/js/general.js'); ?>" ></script>
<script src="<?php echo $this->baseUrl('js/home/global.js'); ?>"></script>
<script src="<?php echo $this->baseUrl('js/home/home.js'); ?>"></script>
<script src="<?php echo $this->baseUrl('js/jquery.lightbox_me.js'); ?>"></script>
</body>
</html>