<!-- application/layouts/scripts/layout.phtml -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="google-translate-customization" content="29622b545bc381a4-788df79e2215d174-ge4b34f610a340488-9"></meta>
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/bootstrapValidator.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/tabs.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/royal-slider.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/style.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/chosen.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/jsDatePick_ltr.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/jquery.timepicker.css" />
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/jquery_ui_datepicker.css" />

    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/ipad-landscape.css" media="only screen and (max-width:1024px), (max-device-width:1024px) and (orientation:landscape)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/ipad-portrait.css" media="only screen and (max-width:768px), (max-device-width:768px) and (orientation:portrait)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/small-tabs.css" media="only screen and (max-width:600px)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/iphone-landscape.css" media="only screen and (max-width:480px), (max-device-width:480px) and (orientation:landscape)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/iphone-portrait.css" media="only screen and (max-width:320px), (max-device-width:320px) and (orientation:portrait)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/index.css" media="all">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/jquery.colorwheel.css" type="text/css"/>
    <!-- Latest compiled and minified JavaScript -->    

    <!-- the ui jQuery library -->
    
    <!-- HTML5 Support for IE7 - 8 -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="<?php echo $this->baseUrl().'/js/jquery-1.8.3.min.js';?>" type="text/javascript"></script>
	
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/settings.css" media="screen" />
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="<?php echo $this->baseUrl().'/js/jquery.themepunch.plugins.min.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.themepunch.revolution.min.js';?>" type="text/javascript"></script> 
    <script type="text/javascript" src="<?php echo $this->baseUrl().'/js/core.js';?>" type="text/javascript"></script>
    <?php echo $this->placeholder('userstaticfiles') ?>
    
    <script src="<?php echo $this->baseUrl().'/css/assets/components/library/jquery-ui/js/jquery-ui.min.js?v=v1.2.3'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/royal-slider.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/responsive-tabs.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/bootstrap.min.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/chosen.jquery.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.mCustomScrollbar.js';?>" type="text/javascript"></script>
    
    <script src="<?php echo $this->baseUrl().'/js/jsDatePick.jquery.full.1.3.js';?>" type="text/javascript"></script>
    
	
    <script src="<?php echo $this->baseUrl().'/js/bootstrapValidator.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.lightbox_me.js'; ?>" type="text/javascript"></script>  
    <script src="<?php echo $this->baseUrl().'/js/jquery.validate.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.form.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.colorwheel.min.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/general.js'; ?>"type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/vendor_dashboard.js'; ?>"type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.maskedinput.js'; ?>"type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.timepicker.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery-ui-datepicker.js'; ?>"t ype="text/javascript"></script>
    
    <script src="<?php echo $this->baseUrl().'/js/jquery.mockjax.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.autocomplete.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/demo.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/countries.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.cookies.js';?>" type="text/javascript"></script>
    
    <script src="<?php echo $this->baseUrl().'/js/classie.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/eventie.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/doc-ready.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/get-style-property.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/EventEmitter.js'; ?>"></script>
    <style>
	    .goog-te-banner-frame.skiptranslate {display: none !important;}
	    .goog-tooltip{display: none !important;}
	    body { top: 0px !important; }
	</style>
    <?php $db=Zend_Registry::get("db"); $pages = $db->fetchAll("select * from wp_posts where post_status=? and post_type=?", array('publish','page'), 2); ?>
</head>
<body class="events-page" data-page="events">
 <?php $db=Zend_Registry::get("db");
    $category=$db->fetchAll('select * from vendor_category');

	//Facebook Login
	require './Facebook/facebook.php';	

	$facebook = new Facebook(array(
		'appId'  => '1428793450717975',
		'secret' => 'ee676537ca66d9c9411a1c065fb2606e'

	));	
	$fblogin = $facebook->getLoginUrl();

    //Login with Google
	require_once'./Google/src/Google_Client.php';
	require_once'./Google/src/contrib/Google_Oauth2Service.php';

	$google_client_id 	= '733016373743-7t91vcr00fvclbhhoptbeaemth6drr0l.apps.googleusercontent.com';
	$google_client_secret 	= '_xWL3V_2IcqcApqkZpUyHiDq';
	$google_redirect_url 	= PUBLIC_URI.'/users/index/google-login';
	$google_developer_key 	= '733016373743-7t91vcr00fvclbhhoptbeaemth6drr0l@developer.gserviceaccount.com';

	$gClient = new Google_Client();
	$gClient->setClientId($google_client_id);
	$gClient->setClientSecret($google_client_secret);
	$gClient->setRedirectUri($google_redirect_url);
	$gClient->setDeveloperKey($google_developer_key);

	$google_oauthV2 = new Google_Oauth2Service($gClient);
	$authUrl = $gClient->createAuthUrl();

    ?>
    
    <div id="create_account" style="max-width:40%;min-width:40%;"></div>
	    <!--<div class="tp-bannertimer"></div>-->
	    <div class="mode_header">
		<div class="mode_header_content">
		    <div class="container_24">
			<div class="grid_24 clearfix omega alpha" id="header">             

			    <div class="grid_8 alpha" id="header_left">                
				    <ul id="header_links" class="list-inline">
					<li id="header_link_sitemap"><a href="<?php echo $this->baseUrl(); ?>/" title="Home">Home</a></li>
					<li class="first"><a href="http://blog.15plug.com/" title="blog">Blog</a></li>
					<?php if( $pages ) {; foreach( $pages as $page => $values ){
					if($values['ID'] == 50){
					    ?>
					    
					    <?php
						continue;
					}					
					?>
					   <li class="first"><a href="<?php echo $this->baseUrl(); ?>/pages/index/view/type/<?php echo $values['post_type'] ;?>/id/<?php echo $values['ID']; ?>" title="home"><?php echo $values['post_title']; ?></a></li>
					<?php } } ?>	
					<li id="header_link_sitemap"><a href="<?php echo $this->baseUrl(); ?>/users/job" title="Jobs">Jobs</a></li>
					<!-- service drop down start -->
					<li class="dropdown">
					    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Vendor <b class="caret"></b></a>			    
					      <ul class="dropdown-menu drp_mnu">
			    <?php $showcount=0; foreach($category as $catlist){
						    if($showcount=='12'){
							echo "<li class='divider'></li>"; ?>
							<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/vendorcat/cat/all">See all categories >></a></li>;
						<?php	break;					
						    }else{ ?>
							<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/vendorcat/cat/<?php echo $catlist->id;?>"><?php echo $catlist->category_name;?></a></li>				    
						    <?php }
					     $showcount++;   }	?>			    			    
					    </ul>
					</li>
					<!-- service drop down start -->
				    </ul>
				    <div class="free_shipping">Plan your wedding event with us</div>              
			    </div>           
			  
			    <div class="grid_8" id="header_content"> 
				    <a href="<?php echo $this->baseUrl(); ?>"><img class="logo" src="<?php echo $this->baseUrl(); ?>/media/20/site-logo_20_0_600x150.jpg" alt="" /></a>               
				    <ul class="list-inline">
					<li><a href="<?php echo $this->baseUrl(); ?>/users/index/user-step" title="Plan Your XV">Plan Your XV</a></li>
					<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/view/type/page/id/136" title="How It works">How It works</a></li>
					<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/view/type/page/id/138" title="Exclusive Offers">Exclusive Offers</a></li>
					<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/articles" title="Don't Forget">Don't Forget</a></li>
				    </ul>             
			    </div>		
			    <div class="grid_8 omega" id="header_right">
				<div id="header_user">                   
					    <?php
							$UserSession = new Zend_Session_Namespace('UserSession');
							if(isset($UserSession->userId) && isset($UserSession->userStatus)){                     
							?> 
							    <ul id="header_nav" class="list-inline">
								    <?php
									if( isset($UserSession->userRole) ) {
									    if( $UserSession->userRole==0 || $UserSession->userRole==10 ) {
										?>
										    <!-- service drop down start -->
											<li class="dropdown">
											    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<b class="caret"></b></a>			    
											    <ul class="dropdown-menu">			    
												<li><a href="<?php echo $this->baseUrl(); ?>/users/index/user-step">Plan My XV</a></li>			    
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard">Dashboard</a></li>			    			    
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/settings">Settings</a></li>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/events">Events</a></li>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/venderlist">My Vendors</a></li>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mailbox">Check Mails</a></li>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/guestlist" title="Guest List">Guest List</a></li>
											    </ul>
											</li>
										    <!-- service drop down start -->
										<?php
									    } else if($UserSession->userRole==2) {
										?>
										    <li><a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/index">My Account</a></li>
										<?php
									    }
									}
								    ?>
							      <li><?php echo "[ ".$UserSession->userEmail." ]"; ?></li>
							      <li><a href="<?php echo $this->baseUrl(); ?>/users/index/logout" id="logout">Logout</a></li>
							    </ul>
							<?php
							
							}else{                    
							?>
							    <ul id="header_nav">
								<li id="your_account"><a href="<?php echo $this->baseUrl(); ?>/vendor/index">Vendor Section</a></li>
								<li id="your_account"><a href="javascript:void(0);" id = "login">User log in</a></li>
								<li id="your_account"><a href="javascript:void(0);" id = "sign_up">Sign up</a></li>
								<li id="your_account"><a href="<?php echo $fblogin; ?>" id="fb_login">fb login</a></li>
<li id="your_account"><a href="<?php echo $authUrl; ?>" id = "Google
-login">Google login</a></li>
<li id="your_account"><a href="<?php echo $this->baseUrl(); ?>/users/index/twitter-login" >Twitter login</a></li>
							    </ul>
						    <?php }  ?>
			    </div>           
		           	<div id="search_block_top">
		<!-- Google translator -->
	       <!--   <span style="float : left;margin-top:5px;color:black">Translator :</span>-->
		<div id="google_translate_element" style="float:left;margin-left:10px;"></div><script type="text/javascript">
		function googleTranslateElementInit() {
		  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
		}
		
		</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

		<!-- eng translator -->
		</div>
			    <div id="search_block_top">           
			    
				<form action="<?php echo $this->baseUrl(); ?>/" id="searchbox" method="get">
				    <p> 
					
							
					<input autocomplete="off" class="search_query ac_input" id="search_query_top" name="keyword" value="" placeholder="Search" type="text"> 
							
					<input value="Search" class="button" type="submit">
				    </p>
				</form>
					
			    </div>
		
			    <div class="block exclusive" id="cart_block">
				    <h4 class="title_block"> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=order-opc" rel="nofollow" title="View my shopping cart">Cart</a> 
				    <span class="hidden" id="block_cart_expand">&nbsp;</span>
				    <span id="block_cart_collapse">&nbsp;</span></h4>
				    <div class="block_content">	
					    <div class="collapsed" id="cart_block_summary">
						<span class="ajax_cart_quantity" style="display: none;">0</span> 
						<span class="ajax_cart_product_txt_s" style="display: none;">Products</span>
						<span style="display: none;" class="ajax_cart_product_txt">Product</span>
						<span class="ajax_cart_total" style="display: none;">$0.00</span>
						<span style="display: inline-block;" class="ajax_cart_no_product">(empty)</span>
					    </div>
				    
					    <div class="expanded" id="cart_block_list">					    
						    <p id="cart_block_no_products">No products</p>						    
						    <div id="cart-prices">
								<p>	
								    <span class="price ajax_cart_shipping_cost" id="cart_block_shipping_cost">$0.00</span>	
								    <span>Shipping</span></p>	
								<p>	
								    <span class="price ajax_block_cart_total" id="cart_block_total">$0.00</span>	
								    <span>Total</span>
								</p>
						    </div>						    
						    <p id="cart-buttons"> <a class="exclusive_large" href="#" id="button_order_cart" rel="nofollow" title="Checkout">Checkout</a></p>
					    </div>
				    </div>
			    </div>
			</div>
		    </div>
		</div>
	</div>
</div>
<?php
    if( Zend_Controller_Front::getInstance()->getRequest()->getControllerName()=="pages" ) {
	$db=Zend_Registry::get("db");
	$UserSession = new Zend_Session_Namespace('UserSession');
	$messages = $db->fetchAll("select count(*) from messages where sent_to=? and status=0", array($UserSession->userId), 2);
	?>
		<nav class="side-nav col-md-3">
		    <section class="profile-det">
			<?php if( $this->data['media'] ) {; ?>
			    <?php foreach( $this->data['media'] as $data => $values ) {
				if( $values['section']=='user-avatar' && $values['owner']==$UserSession->userId ) {					    
				    ?>
					<a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mypic"><img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $values['owner']; ?>/<?php echo $values['section']; ?>_<?php echo $values['owner']; ?>_0_51x51<?php echo $values['type']; ?>" alt="" class="profile-pic2" /></a>
				    <?php					    
				}					
			    }?>					    
			<?php } ?>
			<p class="user-name2">Welcome <span>User</span></p>
		    </section>
		    <ul class="stars-d">
			<li><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/star-d.png" alt="" /></a></li>
			<li><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/star-d.png" alt="" /></a></li>
			<li><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/star-d.png" alt="" /></a></li>
			<li><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/star-d.png" alt="" /></a></li>
			<li><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/star-d.png" alt="" /></a></li>
			<li></li>
		    </ul>
		    <ul class="side-menu">
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard"><i class="fa-dashboard"></i>Dashboard</a></li>
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mywebsite"><i class="fa-dashboard"></i>My Wedding Page</a></li>
			<li><a href="javascript:void(0);"><i class="fa-envelope-o"></i>Mail Box <div class="badge"><?php if($messages){ echo $messages[0]['count(*)']; } ?></div></a>
			    <ul class="sub-side-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mailbox">Inbox</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/conversation/sent">Sent</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/conversation/trash">Trash</a></li>
			    </ul>
			</li>
			<li><a href="javascript:void(0)"><i class="fa-list"></i>Contact List<span></span></a>
			    <ul class="sub-side-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mycontacts">My Contacts</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/myvendors">My vendors</a></li>
			    </ul>
			</li>
			<li><a href="javascript:void(0)"><i class="fa-building-o"></i>Jobs<span></span></a>
			    <ul class="sub-side-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/users/job/new">Create New</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/myjobs">My Jobs</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/jobseekers">Applicants</a></li>
			    </ul>
			</li>
			<li>
			    <a href="<?php echo $this->baseUrl(); ?>/users/dashboard/budgetplanner">
				<i class="fa-building-o"></i>Account Billing<span></span>
			    </a>
			</li>
		    </ul>
		</nav>
	<?php
    }
?>
<?php echo $this->placeholder('slider') ?>
<div class="clear"></div>
<div id="content">                
            <?php echo $this->placeholder('first-tab-area') ?>
            <?php echo $this->placeholder('second-tab-area') ?>
	    
	    <div class="mode_footer_top">
	    <div class="container_24">
	    <div id="footer_top">
	    
	    <div class="cs_follow_online "><h4>Online WeddingDay for Men and Women</h4>
		<p>Any shopaholic would fall in love with this layout, ET WeddingDays Responsive Prestashop theme. Super neat design, really modern and high fashion skin for the website.
		<br> With variety available colors, probably, your website will be congruent with your store image. 
		<br> Need to change? You want a very own color combination? Pieces of cake, you can change it to any color you wish with color variation function.</p>
		<div class="cs_i_follow">
		    <span class="label">Follow Us:</span>
		    <p>
			    <a href="https://www.facebook.com/emthemes" title="facebook">
			    	<img src="<?php echo $this->baseUrl();  ?>/images/i_face.png" alt="" height="32" width="32">
			    </a> 
			    <a href="https://twitter.com/prestashop" title="twitter">
			    	<img src="<?php echo $this->baseUrl();  ?>/images/i_twitter.png" alt="" height="32" width="32">
			    </a> 
			    <a href="http://pinterest.com/pinterest" title="print">
			    	<img src="<?php echo $this->baseUrl();  ?>/images/i_p.png" alt="" height="32" width="32">
			    </a>
			    <a href="http://www.youtube.com/user/username" title="youtube">
			    	<img src="<?php echo $this->baseUrl();  ?>/images/i_youtube.png" alt="" height="32" width="32">
			    </a>
			    <a href="https://plus.google.com/114285862387604007220/posts" title="google">
			    	<img src="<?php echo $this->baseUrl();  ?>/images/i_g.png" alt="" height="32" width="32">
			    </a>
		    </p>
		</div>
	    </div>
	    
	    <div class="block_popular_word_search clearfix not-animated" data-animate="fadeInDown" data-delay="200">
	    <div class="block_content">
		<a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=consectetur">consectetur</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=bibendum">bibendum</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=malesuada">malesuada</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=praesent">praesent</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=ornare">ornare</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=interdum">interdum</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=nulla">nulla</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=volutpat">volutpat</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=urna">urna</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=amet">amet</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=lorem">lorem</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=home">home</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=adipiscing">adipiscing</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=elit">elit</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=suscipit">suscipit</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=tincidunt">tincidunt</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=iaculis">iaculis</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=nisi">nisi</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=blandit">blandit</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=ipsum">ipsum</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=nunc">nunc</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=sed">sed</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=condimentum">condimentum</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=euismod">euismod</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=porttitor">porttitor</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=sit">sit</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=nisl">nisl</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=fermentum">fermentum</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=enim">enim</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=tellus">tellus</a>
		<span>.</span>
	    </div>
	    </div>
	    </div>
	    </div>
	    </div>
	    
	    <div class="mode_footer">
	    <div class="mode_footer_main">
	    <div class="container_24">
	    <div id="footer">
	    <div class="grid_4 alpha block_various_links not-animated" data-animate="fadeInUp" data-delay="0" id="block_various_links_footer"><h4 class="title_block">Information</h4>
		<div class="block_content">
		    <ul>
			<li class="first_item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=prices-drop" title="Specials">Specials</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=new-products" title="New products">New products</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=best-sales" title="Best sellers">Best sellers</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=stores" title="Our stores">Our stores</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=contact" title="Contact us">Contact us</a></li>
			<li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=sitemap" title="Sitemap">Sitemap</a></li>
		    </ul>
		</div>
	    </div>
	    
	    <div class="grid_4 block_customer_service_links not-animated" data-animate="fadeInUp" data-delay="0">
		<div class="block_content">
		    <ul>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=1&amp;controller=cms&amp;id_lang=1" title="Delivery">Delivery</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=2&amp;controller=cms&amp;id_lang=1" title="Legal Notice">Legal Notice</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=3&amp;controller=cms&amp;id_lang=1" title="Terms and conditions of use">Terms and conditions of use</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=4&amp;controller=cms&amp;id_lang=1" title="About us">About us</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=5&amp;controller=cms&amp;id_lang=1" title="Secure payment">Secure payment</a></li>
		    </ul>
		</div>
	    </div>
	    
	    <div class="grid_4 blockcategories_footer not-animated" data-animate="fadeInUp" data-delay="200"><h4 class="title_block">Categories</h4>
		<div class="category_footer" style="float: left; clear: none; width: 100%;">    
		    <div class="list" style="float: left;">
			<ul class="tree dynamized">
			    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=3&amp;controller=category&amp;id_lang=1" title="Now that you can buy movies from the iTunes Store and sync them to your iPod, the whole world is your theater.">Men's</a></li>
			    <li> 		
				<span class="grower CLOSE"></span>
				<a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=4&amp;controller=category&amp;id_lang=1" title="Wonderful accessories for your iPod">Women's</a>
				<ul style="display: none;">
				    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=10&amp;controller=category&amp;id_lang=1" title="">Eliquam elementum tellus</a></li>
				    <li><span class="grower CLOSE"></span>
					<a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=11&amp;controller=category&amp;id_lang=1" title="">Aliquam elementum</a>
					<ul style="display: none;">
					    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=15&amp;controller=category&amp;id_lang=1" title=""> turpis porta at ultricie</a></li>
					    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=16&amp;controller=category&amp;id_lang=1" title=""> Praesent sollicitudin</a></li>
					    <li class="last"> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=17&amp;controller=category&amp;id_lang=1" title="">sem neque vestibu</a></li>
					</ul>
				    </li>
				    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=12&amp;controller=category&amp;id_lang=1" title="">Porta at ultricies diam</a></li>
				    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=13&amp;controller=category&amp;id_lang=1" title="">Aliquam nibh ligula</a></li>
				    <li class="last"> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=14&amp;controller=category&amp;id_lang=1" title="">Nam in magna a lorem</a></li>
				</ul>
			    </li>
			    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=5&amp;controller=category&amp;id_lang=1" title="The latest Intel processor, a bigger hard drive, plenty of memory, and even more new features all fit inside just one liberating inch. The new Mac laptops have the performance, power, and connectivity of a desktop computer. Without the desk part.">Dresses</a></li>
			    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=6&amp;controller=category&amp;id_lang=1" title="">outerwear</a></li>
			    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=7&amp;controller=category&amp;id_lang=1" title="">Shoes</a></li>
			    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=8&amp;controller=category&amp;id_lang=1" title="">Jewelry</a></li>
			    <li class="last"> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=9&amp;controller=category&amp;id_lang=1" title="">Accessories</a></li>
			</ul>
		    </div>
		</div><br class="clear">
	    </div>
	    
	    <div class="grid_4 myaccount not-animated" data-animate="fadeInUp" data-delay="400"><h4 class="title_block"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=my-account" rel="nofollow" title="Manage my customer account">My account</a></h4>
		<div class="block_content">
		    <ul class="bullet">
		    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=history" rel="nofollow" title="My orders">My orders</a></li>
		    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=order-slip" rel="nofollow" title="My credit slips">My credit slips</a></li>
		    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=addresses" rel="nofollow" title="My addresses">My addresses</a></li>
		    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=identity" rel="nofollow" title="Manage my personal information">My personal info</a></li>
		    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=discount" rel="nofollow" title="My vouchers">My vouchers</a></li>
		    </ul>
		    <p class="logout"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?mylogout" rel="nofollow" title="Sign out">Sign out</a></p>
		</div>
	    </div>
	    
	    <div id="block_contact_infos" class="grid_4 not-animated" data-animate="fadeInUp" data-delay="600"><h4 class="title_block">Contact us</h4>
		<ul>
		    <li><strong>My Company</strong></li>
		    <li>42 avenue des Champs Elys\E9es
		    75000 Paris
		    France</li>
		    <li>Tel 0123-456-789</li>
		    <li>Email <a href="mailto:%73%61%6c%65%73@%79%6f%75%72%63%6f%6d%70%61%6e%79.%63%6f%6d">sales@yourcompany.com</a></li>
		</ul>
	    </div>
	    
	    <div class="grid_4 omega"><h4 class="title_block">Further Info</h4>
		<ul>
		    <li><a href="#">Free Gift Wrapping</a></li>
		    <li><a href="#">Security</a></li>
		    <li><a href="#">Privacy Policy</a></li>
		    <li><a href="#">Coppyright</a></li>
		</ul>
	    </div>
	    </div>
	    </div>
	    
	    <div class="container_24">
		<div id="footer_bottom">

		
		  
		    <div id="currencies_block_footer">
			<!--<form action="http://demo3.eggthemes.com/et_weddingday/style1/index.php" id="setCurrency" method="post"> 
			    <input name="id_currency" id="id_currency" value="" type="hidden"> 
			    <input name="SubmitCurrency" value="" type="hidden"> 
			    <select onchange="setCurrency(this.value);">	
				<option selected="selected" value="1"> USD</option>	
				<option value="2"> EUR</option> 
			    </select>
			</form>-->
		
		    </div>
		   <!-- <div id="languages_block_footer">
			<div id="countries"> 
			    <span>Visit Boutiques International site</span>
			    <ul class="countries_ul" id="first-languages">
				<li class="selected_language"> <img src="<?php echo $this->baseUrl();  ?>/images/1_001.jpg" alt="en" height="11" width="16"></li>
				<li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_lang=2" title="Fran\E7ais (French)"><img src="<?php echo $this->baseUrl();  ?>/images/2.jpg" alt="fr" height="11" width="16"> </a></li>
			    </ul>
			</div>
		    </div>-->
		    <div class="cs_payment">
			<p>We accept the following credit / debit cards:</p>
			<p><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/i_paypal.jpg" alt="" height="21" width="37"></a><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/i_master.jpg" alt="" height="21" width="37"><img src="<?php echo $this->baseUrl();  ?>/images/i_visa.jpg" alt="" height="21" width="37"></a><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/_american.jpg" alt="" height="21" width="37"></a></p>
		    </div>
		</div>
	    </div>
	    
	    <div class="mode_copyright">
		<div class="container_24">
		    <div id="footer_copyright">
			<ul class="bottom_nav">
			    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php">Home</a></li>
			    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=4&amp;controller=cms"> Privacy</a></li>
			    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=4&amp;controller=cms"> Terms &amp; Conditions</a></li>
			    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=sitemap"> Sitemap</a></li>
			    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=4&amp;controller=cms"> About</a></li>
			</ul>
			<p class="copy_right">\A9 2013 <a href="#">WeddingDays </a> Store. All rights reserved</p>
			<p><a href="http://prestashop.com/">PrestaShop Themes</a> by <a href="http://prestashop.com/">prestashop</a></p>
		    </div>
		</div>
	    </div>
	    </div>
	    </div>

</div>
<script src="<?php echo $this->baseUrl().'/js/common.js'; ?>" type="text/javascript"></script>
<?php echo $this->placeholder('testjavascripts')  ?>

<?php if( Zend_Controller_Front::getInstance()->getRequest()->getControllerName()!="dashboard") {; ?>  
<script type="text/javascript">/* <![CDATA[ */if(!isMobile())
	{jQuery(document).ready(function($){$("#pattern_10w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/10w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_10w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_11w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/11w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_11w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_12w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/12w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_12w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_16w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/16w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_16w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_17w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/17w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_17w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_18").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/18.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_18');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_18w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/18w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_18w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_19w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/19w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_19w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_1w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/1w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_1w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_20").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/20.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_20');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_20w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/20w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_20w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_2w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/2w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_2w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_3w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/3w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_3w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_4w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/4w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_4w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_5w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/5w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_5w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_6w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/6w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_6w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_7").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/7.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_7');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_7w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/7w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_7w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_8").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/8.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_8');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_8w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/8w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_8w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_9").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/9.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_9');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_9w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/9w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_9w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_body-bg-1").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/body-bg-1.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_body-bg-1');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_dot").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/dot.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_dot');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_embossed_paper").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/embossed_paper.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_embossed_paper');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_grid1").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/grid1.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_grid1');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_grid_noise").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/grid_noise.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_grid_noise');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_purty_wood").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/purty_wood.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_purty_wood');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}});}/* ]]> */
</script>
<script src="<?php echo $this->baseUrl().'/js/af386943ba396e44373c56840d7ab3c3.js';?>" type="text/javascript"></script>
<?php } ?>
</body>
</html>
