<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl().'/css/crop.css';?>" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl().'/css/bootstrap.css';?>" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl().'/css/font-icon/css/font-awesome.css';?>" />
<script type="text/javascript" src="<?php echo $this->baseUrl().'/js/jquery-1.8.3.min.js';?>" type="text/javascript"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <style>
	.menu_like{
	    cursor: pointer;
	}
    </style>
    <?php
    
	$image = $this->data['image'];
    
    ?>
    <div style="position: static;" class="text-center port-crop">
    	<div class="wrapper position-relative">
        <ul class="image_fance_popup">
	    <li>		    
		<img class="shrinkToFit" src="<?php echo PUBLIC_URI.'/media/'.$image['owner'].'/vendorgallery_'.$image['owner'].'_'.$image['id'].'_960x370'.$image['type'];?>" />
		<div class="hover_placeho hover_placeho2">
		    <span class="like_btn_topright" >
			    <i class="fa fa-heart-o"></i>
			    <i class="like-count"></i>
		    </span>
		    <div class="buttonsLike">
			<p class="menu_like"><i class="fa fa-chain"></i></p>
			<ul class="album_actions click_bar_show" style="display:none;">
			    <li>
				<a href="javascript:void(0);" class="fbs_share" ><img class="original_plug" src="<?php echo $this->baseUrl(); ?>/images/original_share.png" alt="Menu" />
				    <img class="hover_plug" src="<?php echo $this->baseUrl(); ?>/images/share_hover.png" alt="Menu" /><span>Share</span>
				</a>
			    </li>
			    <li>
				<a href="javascript:void(0);" onclick="javascript:void(0);">
				    <img class="original_plug" src="<?php echo $this->baseUrl(); ?>/images/original_save.png" alt="Menu" /><img class="hover_plug" src="<?php echo $this->baseUrl(); ?>/images/hover_save.png" alt="Menu" /><span>Save</span>
				</a>
			    </li>
			    <li>
				<a href="javascript:void(0);" class="follow_btn " image-data="<?php echo $image['id']; ?>" onclick="javascript:void(0);"><img class="original_plug" src="<?php echo $this->baseUrl(); ?>/images/plug_icon.png" alt="Menu" />
				<img class="hover_plug" src="<?php echo $this->baseUrl(); ?>/images/hover_plug.png" alt="Menu" /><span>Plug In<i class="follow-count"></i></span>
			    </a>
			    </li>
			    
			    <li>
				<a href="javascript:void(0);" id="showMailFields" ><img class="original_plug" src="<?php echo $this->baseUrl(); ?>/images/email_icon.png" alt="Menu" />
				<img class="hover_plug" src="<?php echo $this->baseUrl(); ?>/images/hover_email.png" alt="Menu" /><span>Email</span>
				</a>
			    </li>
			    <li>
				<a href="#" onclick="" >
				    <i class="fa fa-arrows-alt" ></i><span>View full size</span>
				</a>
			    </li>
			</ul>
			<ul class="album_actions share_options social" style="display:none;">
			    <li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/fb.png" alt="Facebook" class="simple_icon"></a>
			    <a href="javascript:void(0);" onClick=""><img src="<?php echo $this->baseUrl(); ?>/images/facebook_active.png" alt="Facebook" class="hover_icon"></a></li>
			    <li><a href="#" ><img src="<?php echo $this->baseUrl(); ?>/images/pinterest.png" alt="Pinterest" class="simple_icon"></a>
			    <a onclick="" href="" ><img src="<?php echo $this->baseUrl(); ?>/images/pinterest-active.png" alt="Pinterest" class="hover_icon"></a></li>
			    
			    <li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/twitter.png" alt="Twitter" class="simple_icon"></a><a href="javascript:void(0);" onClick="" ><img src="<?php echo $this->baseUrl(); ?>/images/twitter02_active.png" alt="Twitter" class="hover_icon"></a></li>
			    <li><a href="#"><img src="<?php echo $this->baseUrl(); ?>/images/tumblr.png" alt="Tumblr" class="simple_icon"></a>
				<a onclick="" href="" >
				    <img src="<?php echo $this->baseUrl(); ?>/images/tumblr_active.png" alt="Tumblr" class="hover_icon">
				</a>
			    </li>
			</ul>
		    </div>
		</div>
	    </li>
        </ul>
    </div>
    </div>
    <div id="attachment_mail" style="display: none;">
        <a style="float:right" href="javascript:void(0);" onclick="javascript:hidemailDiv();" >X</a>
	<form action="" id="sendImageMailForm" >
	    <input type="text" name="mailSenderName" placeholder="Your Name" id="mailReciever" required /> 
	    <input type="email" name="mailSender" placeholder="Enter your e-mail" id="mailReciever" required /> 
	    <input type="email" name="mailReciever" placeholder="Receiver's e-mail" id="mailReciever" required /> 
	    <input type="hidden" name="mailImgName" value="" /> 
	    <input type="submit" name="sendMailNow" id="sendMailNow" value="Send"  /> 
	</form>
    </div>
    
    <script src="<?php echo $this->baseUrl().'/js/jquery.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/css/assets/components/library/jquery-ui/js/jquery-ui.min.js?v=v1.2.3'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.validate.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/portfolio.js'; ?>" type="text/javascript"></script>