<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/home/style.css" />
		<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/royal-slider.css" />
		<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/tabs.css" />
		<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/chosen.css" />
		<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/jquery.mCustomScrollbar.css" />
		<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/ipad-landscape.css" media="only screen and (max-width:1024px), (max-device-width:1024px) and (orientation:landscape)" />
		<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/ipad-portrait.css" media="only screen and (max-width:768px), (max-device-width:768px) and (orientation:portrait)" />
		<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/small-tabs.css" media="only screen and (max-width:600px)" />
		<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/iphone-landscape.css" media="only screen and (max-width:480px), (max-device-width:480px) and (orientation:landscape)" />
		<link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/iphone-portrait.css" media="only screen and (max-width:320px), (max-device-width:320px) and (orientation:portrait)" />
		<!-- HTML5 Support for IE7 - 8 -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	        <link rel="stylesheet" href="<?php echo PUBLIC_URI; ?>/css/bootstrapValidator.css"/>

	       <!-- Optional theme -->
	       <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	       <link rel="stylesheet" href="<?php echo PUBLIC_URI; ?>/css/jquery.colorwheel.css" type="text/css"/>


	</head>
	<body>
	     <div id="create_account" style="max-width:40%;min-width:40%;"></div>
	     <div id="content">
			
             <section class="top-bar">
                  <div class="wrapper">
                		<ul class="social">
                  			<li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/fb.png" alt="Facebook" /></a></li>
                  			<li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/flkr.png" alt="Facebook" /></a></li>
                  			<li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/in.png" alt="Facebook" /></a></li>
                  			<li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/rss.png" alt="Facebook" /></a></li>
                  			<li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/skype.png" alt="Facebook" /></a></li>
                  			<li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/twitter.png" alt="Facebook" /></a></li>
                		</ul>
			<?php
			    $UserSession = new Zend_Session_Namespace('UserSession');
			    $VendorSession = new Zend_Session_Namespace('VendorSession');

				if(!empty($UserSession->userId)){
					$UserSession = new Zend_Session_Namespace('UserSession');
				}elseif(!empty($VendorSession->userId)){
					$UserSession = new Zend_Session_Namespace('VendorSession');
				}
			    if(isset($UserSession->userId) && isset($UserSession->userStatus)){                     
			    ?> 
			        <ul class="sign">
					<?php
					    if( isset($UserSession->userRole) ) {
						if( $UserSession->userRole==0 || $UserSession->userRole==10 ) {
						    ?>
							<li><a href="<?php echo PUBLIC_URI; ?>/users/index/user-step">My Account</a></li>
						    <?php
						} else if($UserSession->userRole==2) {
						    ?>
							<li><a href="<?php echo PUBLIC_URI; ?>/vendor/dashboard/index">My Account</a></li>
						    <?php
						}
					    }
					?>
			          <li><a href="<?php echo PUBLIC_URI; ?>/users/index/logout" id="logout">Logout</a></li>
			        </ul>
			    <?php
			    
			    }else{                    
			    ?>
				<ul class="sign">
				    <li><a href="<?php echo PUBLIC_URI; ?>/vendor/index">Vendor Section</a></li>
				    <li><a href="javascript:void(0);" id = "login">Log in</a></li>
				    <li><a href="javascript:void(0);" id = "sign_up">User Sign up</a></li>
				</ul>
			<?php }  ?>
          		<div class="clear"></div>
                  </div>
            </section>
		

			<header class="header">
				<div class="header-bar mobile-only" style="position:relative;">
					  <a href="#" id="show-navobile" class="icon">Menu</a>
				</div>
				<a href="<?php echo PUBLIC_URI; ?>"><img class="logo" src="<?php echo PUBLIC_URI; ?>/images/logo.png" alt="" /> </a>
				<div class="menu vendor_menu">
					<div class="sign_up_form">

						   <?php if(isset($this->message)){
							?>
								<div id="notification"  style="color: red; font-size: 12px; text-align: left;" class="alert alert-danger"><?php echo $this->message; ?></div>
							<?php
						  }  ?>


                       <form method="POST" action="" id="vendor_login">
                         <div class="form-group">
						    <input type="text" placeholder="email" name="email" class="form-control" />
						 </div>
						 <div class="form-group">
						    <input type="password" placeholder="password" name="password" class="form-control" />
						</div>
						<div class="equal_spaced">
							<a href="<?php echo PUBLIC_URI; ?>/vendor/index/payment"> <input type="button" class="submit-btn" value="Sign Up" /></a>
							<label>Or</label>
							<input type="submit" class="submit-btn" value="Login"  />
						</div>

						</form>
						
					</div>
					<div class="clear"></div>
					<nav id="navigation">
						<ul class="navigation cf">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#">Advertising</a></li>
							<li><a href="#">Dashboard</a></li>
							<li><a href="#">Invoicing</a></li>
							<li><a href="#">Coupon Code</a></li>
							<li class="last"></li>
						</ul>
					</nav>
				</div>
				<div class="clear"></div>
			</header>
			

            <?php echo $this->placeholder('content') ?>


			<footer class="footer">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Planning your quinceanera</a></li>
					<li><a href="#">Quinceanera dresses</a></li>
					<li><a href="#">Shoes for quinceanera</a></li>
					<li><a href="#">Quinceanera traditions</a></li>
					<li><a href="#">Banquet halls and venues</a></li>
					<li><a href="#">Vendors</a></li>
					<li><a href="#">Budgeting for your sweet fifteen</a></li>
					<li><a href="#">Quinceanera make up tips</a></li>
					<li><a href="#">Teen health and wellness</a></li>
					<li><a href="#">Cakes and catering</a></li>
					<li><a href="#">Privacy policy</a></li>
					<li><a href="#">Terms of use</a></li>
					<li><a href="#">Disclaimers</a></li>
					<li><a href="#">Policy</a></li>
					<li><a href="#">User Agreement</a></li>
					<li><a href="#">Advertise</a></li>
				</ul>
			</footer>
		</div>
	</body>
   
    <script src="<?php echo PUBLIC_URI.'/js/jquery.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/css/assets/components/library/jquery-ui/js/jquery-ui.min.js?v=v1.2.3'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/royal-slider.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/responsive-tabs.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/bootstrap.min.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/chosen.jquery.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.mCustomScrollbar.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jsDatePick.jquery.full.1.3.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/common.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/bootstrapValidator.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.lightbox_me.js'; ?>" type="text/javascript"></script>  
    <script src="<?php echo PUBLIC_URI.'/js/jquery.validate.js'; ?>" type="text/javascript"></script>
    <?php echo $this->headScript()->setFile('http://malsup.github.com/jquery.form.js') ?>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.colorwheel.min.js'; ?>" type="text/javascript"></script>
     
    <script src="<?php echo PUBLIC_URI.'/js/general.js'; ?>"type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/vendor_dashboard.js'; ?>"type="text/javascript"></script>

    <script src="<?php echo PUBLIC_URI.'/js/jquery.mockjax.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.autocomplete.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/demo.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/countries.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.cookies.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/css/assets/components/core/js/jquery.Jcrop.min.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/css/assets/components/core/js/script.js'; ?>" type="text/javascript" ></script>
    <?php echo $this->placeholder('testjavascripts')  ?>
    
</html>
