<!-- application/layouts/scripts/layout.phtml -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/bootstrapValidator.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/tabs.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/royal-slider.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/style.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/chosen.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/jsDatePick_ltr.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/jquery.timepicker.css" />
   <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/jquery_ui_datepicker.css" />

    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/ipad-landscape.css" media="only screen and (max-width:1024px), (max-device-width:1024px) and (orientation:landscape)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/ipad-portrait.css" media="only screen and (max-width:768px), (max-device-width:768px) and (orientation:portrait)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/small-tabs.css" media="only screen and (max-width:600px)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/iphone-landscape.css" media="only screen and (max-width:480px), (max-device-width:480px) and (orientation:landscape)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/iphone-portrait.css" media="only screen and (max-width:320px), (max-device-width:320px) and (orientation:portrait)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/index.css" media="all">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/vendor_homepage.css">
    <!-- Latest compiled and minified JavaScript -->    

    <!-- the ui jQuery library -->
    
    <!-- HTML5 Support for IE7 - 8 -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="<?php echo $this->baseUrl().'/js/jquery.js';?>" type="text/javascript"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->

    <?php echo $this->placeholder('userstaticfiles') ?>
	<!--Angular Js code for vendor home page -->
	<!--script type="text/javascript" src="<?php echo $this->baseUrl().'/js/angular/lib/angular.min.js';?>" type="text/javascript"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl().'/js/angular/controllers/vendor/VendorApp.js';?>" type="text/javascript"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl().'/js/angular/controllers/vendor/homeCtrl.js';?>" type="text/javascript"></script-->
</head>
<?php 
       $db=Zend_Registry::get("db");
       $category=$db->fetchAll('select * from vendor_category');
       $sitelogo = $db->fetchAll("select * from media where section=?", array('site-logo'), 2);	
	//Facebook Login
	require './Facebook/facebook.php';	

	$facebook = new Facebook(array(
		'appId'  => '1428793450717975',
		'secret' => 'ee676537ca66d9c9411a1c065fb2606e'

	));	
	$fblogin = $facebook->getLoginUrl();

        //Login with Google
	require_once'./Google/src/Google_Client.php';
	require_once'./Google/src/contrib/Google_Oauth2Service.php';

	$google_client_id 	= '733016373743-7t91vcr00fvclbhhoptbeaemth6drr0l.apps.googleusercontent.com';
	$google_client_secret 	= '_xWL3V_2IcqcApqkZpUyHiDq';
	$google_redirect_url 	= PUBLIC_URI.'/users/index/google-login';
	$google_developer_key 	= '733016373743-7t91vcr00fvclbhhoptbeaemth6drr0l@developer.gserviceaccount.com';

	$gClient = new Google_Client();
	$gClient->setClientId($google_client_id);
	$gClient->setClientSecret($google_client_secret);
	$gClient->setRedirectUri($google_redirect_url);
	$gClient->setDeveloperKey($google_developer_key);

	$google_oauthV2 = new Google_Oauth2Service($gClient);
	$authUrl = $gClient->createAuthUrl();
	$db=Zend_Registry::get("db"); $pages = $db->fetchAll("select * from wp_posts where post_status=? and post_type=?", array('publish','page'), 2);
	$bottomlinks = $db->fetchAll('SELECT * FROM wp_posts WHERE post_type= ? order by menu_order asc', array('bottomfooter'),2);
?>
<body class="events-page" data-page="events" ng-app="VendorApp"  ng-controller="vendorHome">
    <div id="create_account" style="max-width:40%;min-width:40%;"></div>
	    <!--<div class="tp-bannertimer"></div>-->
	    <div class="mode_header">
		<div class="mode_header_content">
		    <div class="container_24">
			<div class="grid_24 clearfix omega alpha" id="header">             

			    <div class="grid_8 alpha" id="header_left">                
				    <ul id="header_links" class="list-inline">
					<li id="header_link_sitemap"><a href="<?php echo $this->baseUrl(); ?>/" title="sitemap">Home</a></li>
					<?php if( $pages ) {; foreach( $pages as $page => $values ){
					if($values['ID'] == 50){
					    ?>
					    <li class="first"><a href="http://blog.15plug.com/?page_id=50" title="home"><?php echo $values['post_title']; ?></a></li>
					    <?php
						continue;
					}					
					?>
					   <li class="first"><a href="<?php echo $this->baseUrl(); ?>/pages/index/view/type/<?php echo $values['post_type'] ;?>/id/<?php echo $values['ID']; ?>" title="home"><?php echo $values['post_title']; ?></a></li>
					<?php } } ?>			
					<li id="header_link_sitemap"><a href="<?php echo $this->baseUrl(); ?>/users/job" title="sitemap">Jobs</a></li>
					<!-- service drop down start -->
					<li class="dropdown">
					    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Vendor <b class="caret"></b></a>			    
					    <ul class="dropdown-menu drp_mnu">
			<?php $showcount=0; foreach($category as $catlist){
						    if($showcount=='12'){
							echo "<li class='divider'></li>"; ?>
							<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/vendorcat/cat/all">See all categories >></a></li>;
						<?php	break;					
						    }else{?>
							<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/vendorcat/cat/<?php echo $catlist->id;?>"><?php echo $catlist->category_name;?></a></li>	
						<?php    }
					     $showcount++;   }	?>			    			    
					    </ul>
					</li>
					<!-- service drop down start -->					
					
				    </ul>
				          
			    </div>           
			  
			    <div class="grid_8" id="header_content">
				    <!--<a href="<?php //echo $this->baseUrl(); ?>"><img class="logo" src="<?php //echo $this->baseUrl(); ?>/media/20/site-logo_20_0_634x153.jpg" alt="" /></a>-->
                     <a href="<?php echo $this->baseUrl(); ?>"><img class="logo" src="<?php echo $this->baseUrl(); ?>/images/logo.png" alt="" /></a>               
				                 
			    </div>		
			    <div class="grid_8 omega" id="header_right">
				<div id="header_user">                   
					    <?php
							$UserSession = new Zend_Session_Namespace('UserSession');
							$VendorSession = new Zend_Session_Namespace('VendorSession');
							if(!empty($UserSession->userId)){
								$UserSession = new Zend_Session_Namespace('UserSession');
							}elseif(!empty($VendorSession->userId)){
								$UserSession = new Zend_Session_Namespace('VendorSession');
							}  
							if(isset($UserSession->userId) && isset($UserSession->userStatus)){               
							?> 
							    <ul id="header_nav" class="list-inline">
								    <?php
									if( isset($UserSession->userRole) ) {
									    if( $UserSession->userRole==0 || $UserSession->userRole==10 ) {
										?>
										    <!-- service drop down start -->
											<li class="dropdown" onclick='drop()'>
											    <a href="#" data-toggle="dropdown" class="dropdown-toggle" >Accountv<b class="caret"></b></a>			    
											    <ul class="dropdown-menu">			    
												<li><a href="<?php echo $this->baseUrl(); ?>/users/index/user-step">Plan My XV</a></li>			    
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard">Dashboard</a></li>			    			    
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/settings">Settings</a></li>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/events">Events</a></li>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/venderlist">My Vendors</a></li>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mailbox">Check Mails</a></li>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/guestlist" title="sitemap">Guest List</a></li>
											    </ul>
											</li>
										    <!-- service drop down start -->
										<?php
									    } else if($UserSession->userRole==2) {
										?>
										    <li><a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/index">My Account</a></li>
										    <!-- service drop down start -->
											<li class="dropdown" onclick='drop()'>
											    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Vendor <b class="caret"></b></a>			    
											    <ul class="dropdown-menu drp_mnu">
			<?php $showcount=0; foreach($category as $catlist){
						    if($showcount=='12'){
							echo "<li class='divider'></li>";
							echo '<li><a>See all categories >></a></li>';
							break;					
						    }else{
							echo "<li><a href='#'> $catlist->category_name</a></li>";				    
						    }
					     $showcount++;   }	?>			    			    
					    </ul>
											</li>
										    <!-- service drop down start -->
										<?php
									    }
									}
								    ?>
							      <li><?php echo "[ ".$UserSession->userEmail." ]"; ?></li>
							      <li><a href="<?php echo $this->baseUrl(); ?>/users/index/logout?role=<?php echo $UserSession->userRole; ?>" id="logout">Logout</a></li>
							    </ul>
							<?php
							
							}else{                    
							?>
							    <ul id="header_nav">
								<li id="your_account"><a href="<?php echo $this->baseUrl(); ?>/vendor/index">Vendor Section</a></li>
								<li id="your_account"><a href="javascript:void(0);" id = "login">Log in</a></li>
								<li id="your_account"><a href="javascript:void(0);" id = "sign_up">User Sign up</a></li>
								<li id="your_account"><a href="<?php echo $fblogin; ?>" id="fb_login">fb login</a></li>
<li id="your_account"><a href="<?php echo $authUrl; ?>" id = "Google
-login">Google login</a></li>
<li id="your_account"><a href="<?php echo $this->baseUrl(); ?>/users/index/twitter-login" >Twitter login</a></li>
								
					
							    </ul>
						    <?php }  ?>
			    </div>           
		
			    
		
			    
			</div>
		    </div>
		</div>
	</div>
</div>

<!-- Slider -->	

	
	
<!-- End Slider -->
<?php echo $this->placeholder('slider') ?>
<div class="clear"></div>
<div id="content">    
	
		
		            
            <?php echo $this->placeholder('first-tab-area') ?>
            <?php echo $this->placeholder('second-tab-area') ?>              
	    <div class="cs_both_mode">
	    <div class="mode_megamenu">
		

	    <div class="container_24">
	    
	    </div>
	    
	    <div class="mode_footer_top">
	    <div class="container_24">
	    <div id="footer_top">
	    
	    <div class="cs_follow_online "><h4>Online WeddingDay for Men and Women</h4>
		<p>Any shopaholic would fall in love with this layout, ET WeddingDays Responsive Prestashop theme. Super neat design, really modern and high fashion skin for the website.
		<br> With variety available colors, probably, your website will be congruent with your store image. 
		<br> Need to change? You want a very own color combination? Pieces of cake, you can change it to any color you wish with color variation function.</p>
		<div class="cs_i_follow">
		    <span class="label">Follow Us:</span>
		    <p><a href="javascript:void(0);" title="facebook"><img src="<?php echo $this->baseUrl();  ?>/images/i_face.png" alt="" height="32" width="32"></a> <a href="javascript:void(0);" title="twitter"><img src="<?php echo $this->baseUrl();  ?>/images/i_twitter.png" alt="" height="32" width="32"></a> <a href="http://pinterest.com/pinterest" title="print"><img src="<?php echo $this->baseUrl();  ?>/images/i_p.png" alt="" height="32" width="32"></a><a href="http://www.youtube.com/user/username" title="youtube"><img src="<?php echo $this->baseUrl();  ?>/images/i_youtube.png" alt="" height="32" width="32"></a><a href="https://plus.google.com/114285862387604007220/posts" title="google"><img src="<?php echo $this->baseUrl();  ?>/images/i_g.png" alt="" height="32" width="32"></a></p>
		</div>
	    </div>
	    
	    <div class="block_popular_word_search clearfix not-animated" data-animate="fadeInDown" data-delay="200">
	    <div class="block_content">
		<a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=consectetur">consectetur</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=bibendum">bibendum</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=malesuada">malesuada</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=praesent">praesent</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=ornare">ornare</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=interdum">interdum</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=nulla">nulla</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=volutpat">volutpat</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=urna">urna</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=amet">amet</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=lorem">lorem</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=home">home</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=adipiscing">adipiscing</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=elit">elit</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=suscipit">suscipit</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=tincidunt">tincidunt</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=iaculis">iaculis</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=nisi">nisi</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=blandit">blandit</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=ipsum">ipsum</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=nunc">nunc</a>
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=sed">sed</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=condimentum">condimentum</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=euismod">euismod</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=porttitor">porttitor</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=sit">sit</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=nisl">nisl</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=fermentum">fermentum</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=enim">enim</a> 
		<span>.</span><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=search&amp;search_query=tellus">tellus</a>
		<span>.</span>
	    </div>
	    </div>
	    </div>
	    </div>
	    </div>
	    
	    <div class="mode_footer">
	    <div class="mode_footer_main">
	    <div class="container_24">
	    <div id="footer">
	    <div class="grid_4 alpha block_various_links not-animated" data-animate="fadeInUp" data-delay="0" id="block_various_links_footer"><h4 class="title_block">Information</h4>
		<div class="block_content">
		    <ul>
			<li class="first_item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=prices-drop" title="Specials">Specials</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=new-products" title="New products">New products</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=best-sales" title="Best sellers">Best sellers</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=stores" title="Our stores">Our stores</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=contact" title="Contact us">Contact Us</a></li>
			<li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=sitemap" title="Sitemap">Sitemap</a></li>
		    </ul>
		</div>
	    </div>
	    
	    <div class="grid_4 block_customer_service_links not-animated" data-animate="fadeInUp" data-delay="0">
		<div class="block_content">
		    <ul>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=1&amp;controller=cms&amp;id_lang=1" title="Delivery">Delivery</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=2&amp;controller=cms&amp;id_lang=1" title="Legal Notice">Legal Notice</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=3&amp;controller=cms&amp;id_lang=1" title="Terms and conditions of use">Terms and conditions of use</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=4&amp;controller=cms&amp;id_lang=1" title="About us">About Us</a></li>
			<li class="item"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_cms=5&amp;controller=cms&amp;id_lang=1" title="Secure payment">Secure payment</a></li>
		    </ul>
		</div>
	    </div>
	    
	    <div class="grid_4 blockcategories_footer not-animated" data-animate="fadeInUp" data-delay="200"><h4 class="title_block">Categories</h4>
		<div class="category_footer" style="float: left; clear: none; width: 100%;">    
		    <div class="list" style="float: left;">
			<ul class="tree dynamized">
			    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=3&amp;controller=category&amp;id_lang=1" title="Now that you can buy movies from the iTunes Store and sync them to your iPod, the whole world is your theater.">Men's</a></li>
			    <li> 		
				<span class="grower CLOSE"></span>
				<a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=4&amp;controller=category&amp;id_lang=1" title="Wonderful accessories for your iPod">Women's</a>
				<ul style="display: none;">
				    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=10&amp;controller=category&amp;id_lang=1" title="">Eliquam elementum tellus</a></li>
				    <li><span class="grower CLOSE"></span>
					<a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=11&amp;controller=category&amp;id_lang=1" title="">Aliquam elementum</a>
					<ul style="display: none;">
					    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=15&amp;controller=category&amp;id_lang=1" title=""> turpis porta at ultricie</a></li>
					    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=16&amp;controller=category&amp;id_lang=1" title=""> Praesent sollicitudin</a></li>
					    <li class="last"> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=17&amp;controller=category&amp;id_lang=1" title="">sem neque vestibu</a></li>
					</ul>
				    </li>
				    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=12&amp;controller=category&amp;id_lang=1" title="">Porta at ultricies diam</a></li>
				    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=13&amp;controller=category&amp;id_lang=1" title="">Aliquam nibh ligula</a></li>
				    <li class="last"> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=14&amp;controller=category&amp;id_lang=1" title="">Nam in magna a lorem</a></li>
				</ul>
			    </li>
			    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=5&amp;controller=category&amp;id_lang=1" title="The latest Intel processor, a bigger hard drive, plenty of memory, and even more new features all fit inside just one liberating inch. The new Mac laptops have the performance, power, and connectivity of a desktop computer. Without the desk part.">Dresses</a></li>
			    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=6&amp;controller=category&amp;id_lang=1" title="">outerwear</a></li>
			    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=7&amp;controller=category&amp;id_lang=1" title="">Shoes</a></li>
			    <li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=8&amp;controller=category&amp;id_lang=1" title="">Jewelry</a></li>
			    <li class="last"> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=9&amp;controller=category&amp;id_lang=1" title="">Accessories</a></li>
			</ul>
		    </div>
		</div><br class="clear">
	    </div>
	    
	    <div class="grid_4 myaccount not-animated" data-animate="fadeInUp" data-delay="400"><h4 class="title_block"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=my-account" rel="nofollow" title="Manage my customer account">My account</a></h4>
		<div class="block_content">
		    <ul class="bullet">
		    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=history" rel="nofollow" title="My orders">My orders</a></li>
		    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=order-slip" rel="nofollow" title="My credit slips">My credit slips</a></li>
		    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=addresses" rel="nofollow" title="My addresses">My addresses</a></li>
		    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=identity" rel="nofollow" title="Manage my personal information">My personal info</a></li>
		    <li><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=discount" rel="nofollow" title="My vouchers">My vouchers</a></li>
		    </ul>
		    <p class="logout"><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?mylogout" rel="nofollow" title="Sign out">Sign out</a></p>
		</div>
	    </div>
	    
	    <div id="block_contact_infos" class="grid_4 not-animated" data-animate="fadeInUp" data-delay="600"><h4 class="title_block">Contact us</h4>
		<ul>
		    <li><strong>My Company</strong></li>
		    <li>42 avenue des Champs Elys\E9es
		    75000 Paris
		    France</li>
		    <li>Tel 0123-456-789</li>
		    <li>Email <a href="mailto:%73%61%6c%65%73@%79%6f%75%72%63%6f%6d%70%61%6e%79.%63%6f%6d">sales@yourcompany.com</a></li>
		</ul>
	    </div>
	    
	    <div class="grid_4 omega"><h4 class="title_block">Further Info</h4>
		<ul>
		    <li><a href="#">Free Gift Wrapping</a></li>
		    <li><a href="#">Security</a></li>
		    <li><a href="#">Privacy Policy</a></li>
		    <li><a href="#">Coppyright</a></li>
		</ul>
	    </div>
	    </div>
	    </div>
	    
	    <div class="container_24">
		<div id="footer_bottom">
		    <div id="currencies_block_footer">
			<form action="http://demo3.eggthemes.com/et_weddingday/style1/index.php" id="setCurrency" method="post"> 
			    <input name="id_currency" id="id_currency" value="" type="hidden"> 
			    <input name="SubmitCurrency" value="" type="hidden"> 
			    <select onchange="setCurrency(this.value);">	
				<option selected="selected" value="1"> USD</option>	
				<option value="2"> EUR</option> 
			    </select>
			</form>
		    </div>
		    <div id="languages_block_footer">
			<div id="countries"> 
			    <span>Visit Boutiques International site</span>
			    <ul class="countries_ul" id="first-languages">
				<li class="selected_language"> <img src="<?php echo $this->baseUrl();  ?>/images/1_001.jpg" alt="en" height="11" width="16"></li>
				<li> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_lang=2" title="Fran\E7ais (French)"><img src="<?php echo $this->baseUrl();  ?>/images/2.jpg" alt="fr" height="11" width="16"> </a></li>
			    </ul>
			</div>
		    </div>
		    <div class="cs_payment">
			<p>We accept the following credit / debit cards:</p>
			<p><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/i_paypal.jpg" alt="" height="21" width="37"></a><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/i_master.jpg" alt="" height="21" width="37"><img src="<?php echo $this->baseUrl();  ?>/images/i_visa.jpg" alt="" height="21" width="37"></a><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/_american.jpg" alt="" height="21" width="37"></a></p>
		    </div>
		</div>
	    </div>
	    
	    <div class="mode_copyright">
		<div class="container_24">
		    <div id="footer_copyright">
			<ul class="bottom_nav">
			    <li><a href="<?php echo $this->baseUrl(); ?>">Home</a></li>
			<?php if( $bottomlinks ){

				foreach($bottomlinks as $link){
 			?>
				    <li><a href="<?php echo $this->baseUrl(); ?>/pages/index/view/type/<?php echo $link['post_type'] ;?>/id/<?php echo $link['ID']; ?>"> <?php echo $link['post_title']; ?></a></li>
		
			<?php } } ?>
			</ul>
			<p class="copy_right">@ 2014 <a href="#">Quinceanra </a>  All rights reserved</p>
		    </div>
		</div>
	    </div>
	    </div>
	    </div>

</div>
		
    
    <?php echo $this->placeholder('testjavascripts')  ?>

    <script src="<?php echo $this->baseUrl().'/css/assets/components/library/jquery-ui/js/jquery-ui.min.js?v=v1.2.3'; ?>" type="text/javascript"></script>
    </script>
     <script>
    function drop(){
    $(".dropdown").addClass( "open" );
    }
    </script>
    <script src="<?php echo $this->baseUrl().'/js/responsive-tabs.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/bootstrap.min.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/chosen.jquery.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.mCustomScrollbar.js';?>" type="text/javascript"></script>
    
    	
    <script src="<?php echo $this->baseUrl().'/js/bootstrapValidator.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.lightbox_me.js'; ?>" type="text/javascript"></script>  
    <script src="<?php echo $this->baseUrl().'/js/jquery.validate.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl(); ?>/js/jquery.form.js"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.colorwheel.min.js'; ?>" type="text/javascript"></script>
    
    <script src="<?php echo $this->baseUrl().'/js/vendor_dashboard.js'; ?>"type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.maskedinput.js'; ?>"type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.timepicker.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery-ui-datepicker.js'; ?>"type="text/javascript"></script>
    
    <script src="<?php echo $this->baseUrl().'/js/jquery.mockjax.js';?>" type="text/javascript"></script>

    <script src="<?php echo $this->baseUrl().'/js/jquery.cookies.js';?>" type="text/javascript"></script>
   <script src="<?php echo $this->baseUrl().'/js/general.js';?>" type="text/javascript"></script>
    <script>
	

    //@ jeevan request handler for appointments with public vendors
jQuery(document).ready(function($){    
    $(document).on("click","a.request_like",function(e){
        var id = $(e.target).attr('data-key');
        var cl = $(e.target).attr('id');
        var vendor = $("#"+id).find("input[name=vendor_member]").val();
        $("#target").load('/users/operations/likes/format/html?id='+ id + '&vendor='+ vendor , function(){   //load data from given location
            $(this).lightbox_me({
                centered: true,
                onLoad: function() {   
                    $(document).on('click','.close',function() {                        
                        $(this).trigger('close');    //event ->close                        
                         $(".rating-content").remove();
                    })                 
                    var that = this;
                    //alert(id+"--id--"+vendor+"--vendor--"+'#vendor'+id);

                    $('#vendor'+id).bootstrapValidator({
                        submitHandler: function(validator, form, submitButton) {
                  
                            var star = $(form).find("input[name=star_rate]").val();
                            if ( star ) {
                            }else{
                                alert("Please give rating to this vendor.")
                                $(submitButton).prop("disabled", false);
                                return;    
                            }
                            
                            var opts = {
                                success: function(data) {
                                   $("#"+cl).html('Like [ '+ data.count +' ]');
                                   $(".lb_overlay").remove();
                                   $(".rate-model").hide('slow');                         
                                   $(".rating-content").remove();
                                }
                            };
                            $(form).ajaxSubmit(opts);
                        }                   
                    });
                    
                },
                closeClick: false,
                appearEase: "swing",                
            }); 
        });
        e.preventDefault(); //to prevent same popup appear multiple times on  multiple clicks        
    });

});


</body>
</html>
