<?php $this->placeholder('userstaticfiles')->captureStart() ?>

<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
<?php   $db=Zend_Registry::get("db"); $categories = $db->fetchAll("select * from vendor_category", array(), 2); ?>
 
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/jeoquery.css" />
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/jquery-ui.css" />
    <style>
    .txt-ar{
      height: 88px !important;
    }
   </style>
    <div class="wrapper newjob">
		<div class="user_create_new_job">
			<div class="row">
                            <div class="jb-mx-wdth">
                            <?php 
                            if( $this->data['data'] && $this->data['data'][0]["accept"]!="1" && $this->data['data'][0]['hired_id']!='0') { ?>
                             <h6 d="notification" class="alert alert-danger"><u><b>Note:-</b> Once The Job has been Accepted by The Vendor after Hireing, This Job will not be Editable Anymore. </u></h6>
                            <?php } ?>
                                <label class="col-sm-4"></label>
                                <h3 class="col-sm-8">Edit Job</h3>

                                <p id="preview" class="bg-warning"></p>
                                <?php if( $this->data['data'] && $this->data['data'][0]["accept"]!="1" ) { ?>
                                <form class="form-horizontal" role="form" action="" method="POST">
                               
                                    <input type="hidden" name="jobId" value="<?php echo $this->data['data'][0]['id']; ?>">
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Select Service Category<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-8">
                                            <select name="serviceCategory" class="form-control" id="inputEmail3" placeholder="select service category" disabled="disabled">
                                                <?php                                                
                                                    if( $categories ) {
                                                        foreach( $categories as $data => $values ) {
                                                                if( $values['id']==$this->data['data'][0]['category'] ) {
                                                                ?>
                                                                <option selected="selected" value="<?php echo $values['id']; ?>"><?php echo $values['category_name']; ?></option>
                                                                <?php
                                                                 }
                                                                ?>
                                                                <option value="<?php echo $values['id']; ?>"><?php echo $values['category_name']; ?></option>
                                                            <?php
                                                        }
                                                    }                                                
                                                ?>
                                            </select>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Job Title<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-8">
                                        <input type="text" name="jobTitle" value="<?php echo $this->data['data'][0]['title']; ?>" class="form-control" id="inputEmail3" placeholder="Please enter job title!!">
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Job Description<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-8">
                                        <textarea name="jobDescription" rows="5" class="txt-ar form-control" id="inputEmail3" placeholder="Please enter the job description !!"><?php echo $this->data['data'][0]['description']; ?></textarea>
                                      </div>
                                    </div>
                                    
                                     <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Locations<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-8">
                                        <input type="text" name="locations" class="input-large city_home form-control" id="inputEmail3" placeholder="City, State, Country" value="<?php echo $this->data['data'][0]['locations']; ?>">
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Address</label>
                                      <div class="col-sm-8">
                                        <textarea name="address" rows="5" class="txt-ar form-control" id="inputEmail3" placeholder="The Exact Address of the place"><?php echo $this->data['data'][0]['address']; ?></textarea>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Start Date<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-3">
                                        <input type="text" id="startDate" onkeydown="return false;" onpaste="return false;" autocomplete="off" value="<?php echo $this->data['data'][0]['start_on']; ?>" name="startDate" class="form-control" id="inputEmail3" placeholder="MM-DD-YYYY">
                                      </div>

                                      <div class="col-sm-5">
                                        <label for="inputEmail3" class="col-sm-4 control-label">End Date<sup class="text-danger">*</sup></label>
                                        <div class="col-sm-8">
                                          <input type="text" id="endDate" onkeydown="return false;" onpaste="return false;" autocomplete="off" value="<?php echo $this->data['data'][0]['end_on']; ?>" name="endDate" class="form-control" id="inputEmail3" placeholder="MM-DD-YYYY">
                                        </div>
                                      </div>
                                    </div>
                                    
                                    
                                                                       
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Start Time<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-3">
                                       <div class="bootstrap-timepicker">
                                        <input type="text" onkeydown="return false;" onpaste="return false;" name="starttime" autocomplete="off" class="starttime form-control" placeholder="Start Time!!" value="<?php echo $this->data['data'][0]['starttime']; ?>" />
                                        </div>
                                      </div>

                                      <div class="col-sm-5">
                                       <div class="form-group">
                                       <label for="inputEmail3"  class="col-sm-4 control-label">End Time<sup class="text-danger">*</sup></label>
                                       <div class="col-sm-8">
                                       <div class="bootstrap-timepicker">
                                        <input type="text" onkeydown="return false;" onpaste="return false;"  name="endtime" autocomplete="off" class="endtime form-control" placeholder="End Time!!" value="<?php echo $this->data['data'][0]['endtime']; ?>"/>
                                        </div>
                                       </div>
                                       </div>
                                      </div>

                                    </div>

                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">My Budget[$]<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-8">
                                        <input type="text" name="myBudget" value="<?php echo $this->data['data'][0]['budget']; ?>" class="form-control" id="budget"  placeholder="Add budget for this service !!!">
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Term and Conditions<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-8">
                                        <textarea name="termAndConditions" rows="5" class="txt-ar form-control" id="inputEmail3" placeholder="Please enter the Term and conditions !!"><?php echo $this->data['data'][0]['termAndConditions']; ?></textarea>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label class="col-sm-4"></label>
                                      <div class="col-sm-8">
                                        <div class="col-sm-4">
                                          <button type="submit" class="btn btn-primary">Update Job Info</button>
                                        </div>
                                        <div class="col-sm-4">
                                          <button type="button" id="back_button" class="btn btn-primary">Back</button>
                                        </div>
                                      </div>
                                    </div>
                                </form>
                                <?php }else{ // job accepted by vendor can not be edited.
                                  ?>
                                  <form class="form-horizontal" role="form">
                                  <h5 d="notification" class="alert alert-danger"><u><b>Note:-</b> The Job has been Accepted by The Vendor , It is not Editable Anymore. </u></h5>
                                   <br>
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label"><b>Select Service Category :</b></label>
                                      <div class="col-sm-8">
                                      <p>
                                      <?php if( $categories ) {
                                              foreach( $categories as $data => $values ) {
                                                  if( $values['id']==$this->data['data'][0]['category'] ) {
                                                     echo $values['category_name']; 
                                                    }
                                              }
                                          }                                                
                                      ?>
                                      </p>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label"><b>Job Title :</b></label>
                                      <div class="col-sm-8">
                                      <p><?php echo $this->data['data'][0]['title']; ?></p>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label"><b>Start Time :</b></label>
                                      <div class="col-sm-8">
                                      <p><?php echo $this->data['data'][0]['start_on'];  ?></p>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label"><b>End Date :</b></label>
                                      <div class="col-sm-8">
                                      <p><?php echo $this->data['data'][0]['end_on'];  ?></p>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label"><b>My Budget[$] :</b></label>
                                      <div class="col-sm-8">
                                      <p>$<?php echo $this->data['data'][0]['budget'];  ?></p>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label"><b>Job Description :</b></label>
                                      <div class="col-sm-8">
                                      <p><?php echo $this->data['data'][0]['description'];  ?></p>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label"><b>Locations :</b></label>
                                      <div class="col-sm-8">
                                      <p><?php echo $this->data['data'][0]['locations'];  ?></p>
                                       </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label"><b>Address :</b></label>
                                      <div class="col-sm-8">
                                      <p><?php echo $this->data['data'][0]['address'];  ?></p>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label"><b>Start Time (Form of AM/PM) :</b></label>
                                      <div class="col-sm-8">
                                      <p><?php echo $this->data['data'][0]['starttime'];  ?></p>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="inputEmail3"  class="col-sm-4 control-label"><b>End Time (Form of AM/PM) :</b></label>
                                      <div class="col-sm-8">
                                      <p><?php echo $this->data['data'][0]['endtime'];  ?></p>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label"><b>Term and Conditions :</b></label>
                                      <div class="col-sm-8">
                                      <p><?php echo $this->data['data'][0]['termAndConditions'];  ?></p>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label class="col-sm-4"></label>
                                      <div class="col-sm-8">
                                        <button type="button" id="back_button" class="btn btn-primary">Back</button>
                                      </div>
                                    </div>

                                  <?php
                                  } ?>
                            </div>
                        </div>
	       </div>
    </div>
    

<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl().'/js/jeoquery.js';?>"></script> 
<script>
    
    jQuery(document).ready(function($){
        
        $('#back_button').click(function(){
           window.location.href='<?php echo $this->baseUrl; ?>/users/dashboard/myjobs';
        });

        function formatAMPM(date) {
          var hours = date.getHours();
          var minutes = date.getMinutes();
          var ampm = hours >= 12 ? 'pm' : 'am';
          hours = hours % 12;
          hours = hours ? hours : 12; 
          minutes = minutes < 10 ? '0'+minutes : minutes;
          var strTime = hours+':'+minutes+''+ ampm;
          return strTime;
        }

        $('#budget').maskMoney();
        

        jeoquery.defaultData.userName = 'tompi';
        $(".city_home").jeoCityAutoComplete({callback: function(city) { if (console) console.log(city);}});
        
        $("#startDate").datepicker({dateFormat:"mm-dd-yy",minDate: 0 , changeMonth: true,
				     changeYear: true});//	YYYY-DD-MM
        $("#endDate").datepicker({dateFormat:"mm-dd-yy", minDate: 0 , changeMonth: true,
				     changeYear: true});//	YYYY-DD-MM
        
        $('.starttime').timepicker({
          minuteStep: 1,
          showInputs: false,
          disableFocus: true,
         
        });

        $('.endtime').timepicker({
          minuteStep: 1,
          showInputs: false,
          disableFocus: true,
        });
        // $('.starttime').on('change', function(e) {
        //   start_time_jquery();
        // });

        // $("#startDate").on('change',function(e){
        //   $(".starttime").val("");
        //   start_time_jquery();
        // });
        // $('.starttime').timepicker({
        //       'scrollDefault': 'now',
        //       'step': 01
        //  });
        // function start_time_jquery(){
        //   var a = new Date();
        //   var startdate = $("#startDate").val();
        //   if(startdate=="" || $('#startDate').val() != $.datepicker.formatDate ( 'mm-dd-yy', a ))
        //   {
        //      $('.starttime').timepicker('remove');
        //      $('.starttime').timepicker({
        //       'scrollDefault': 'now',
        //       'step': 01
        //      });
            
        //   }
        //   else{
        //     $('.starttime').timepicker('remove');
        //     $('.starttime').timepicker({
        //       'scrollDefault': 'now',
        //       'disableTimeRanges': [
        //           ['12am',formatAMPM(a)], 
        //       ],
        //       'step': 01
        //     });
        //   }
        // }
       
        
        // $('.endtime').on('change', function(e) {
        //   end_time_jquery();
        // });
        // $("#endDate").on('change',function(e){
        //   $(".endtime").val("");
        //   end_time_jquery();
        // });
        // $('.endtime').timepicker({
        //       'scrollDefault': 'now',
        //       'step': 01
        //  });
        // function end_time_jquery(){
        //   var a = new Date();
        //   var enddate = $("#endDate").val();
        //   if(enddate=="" || $('#endDate').val() != $.datepicker.formatDate ( 'mm-dd-yy', a ))
        //   {
        //      $('.endtime').timepicker('remove');
        //      $('.endtime').timepicker({
        //       'scrollDefault': 'now',
        //       'step': 01
        //      });
        //   }
        //   else{
        //     $('.endtime').timepicker('remove');
        //     $('.endtime').timepicker({
        //       'scrollDefault': 'now',
        //       'disableTimeRanges': [
        //           ['12am',formatAMPM(a)], 
        //       ],
        //       'step': 01
        //     });
        //   }
        // }

	//alert("jQuery working");
	$("form").submit(function(e){
		e.preventDefault();
		var data = {}
		var Form = this;

		//Gathering the Data
		$.each(this.elements, function(i, v){
		    var input = $(v);
		    data[input.attr("name")] = input.val();
		    delete data["undefined"];
        	});
                
		//Form Validation goes here....
		$.ajax({
			cache: false,
			url : '<?php echo $this->baseUrl(); ?>/users/job/new',
			type: "POST",
			//dataType : "json",
                        //data : JSON.stringify(data),
			data : data,
			//context : Form,
			success : function(result){
				$("#preview").html(result);
        $('html, body').animate({
           scrollTop: $('body').offset().top
        },1000);
			},
			error : function(){
				$(this).html("Error!");
			}
		});
	});			
    });
    
</script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>