<?php $this->placeholder('userstaticfiles')->captureStart() ?>
<?php $this->placeholder('userstaticfiles')->captureEnd() ?>
<?php $this->placeholder('slider')->captureStart() ?>
<?php if($this->data['plan'][0]['job_status']){ ?>
      
	    <div class="wrapper">
        <div class="" style="min-height:500px;">
		<div class="open_jobs">
			<div class="List_of_all_open_jobs">
				    <div class="col-md-9 jb-cntn-lst">
						<h3>Job List</h3>
						<table class="dynamicTable hash-ap colVis table orders_table" >
							    <!-- Table heading -->
							    <thead class="bg-gray">
								    <tr>
									    <th>Job</th>
									    <th>Title</th>
									    <th>Description</th>
									    <th>Actions</th>
								    </tr>
							    </thead>
							    <!-- // Table heading END -->
							    <!-- Table body --> 
							    <tbody>                                    
									<?php

									    if( @$this->data['data'] ) {
									    $i=0;
										foreach( $this->data['data'] as $data => $values ) {
										?>
										<tr class="row-sel sel-data_<?php echo $i; ?>">
										    <td class="hashappend"><?php echo $values['id']; ?></td>
										    <td><?php echo $values['title']; ?></td>
										    <td>
											<span id="jobDescription"><?php echo $values['description']; ?></span><br />
											<span id="">$<?php echo $values['budget']; ?></span>                                                    
										    </td>
										    <td class="sel-td">
											<a href="#" class="apply" id="sel-data_<?php echo $i; ?>" data-link="<?php echo $values['id']; ?>">
											<?php 												
											   if(isset($this->data['applied'][$i]))
											   {
												if(!empty($this->data['applied'][$i])){
												if($this->data['applied'][$i][0]['job_id']==$values['id']){
		 														echo "Edit";
		 												}
		 												else{ 
		 													echo "Apply"; 
		 												}
                                                    }  
                                                    else{
                                                        echo "Apply";
                                                    }
											   }											 		
											?>
											</a>
										    </td>
										</tr>
										<?php
										$i++;
									    } } else {
										echo "No job posted by you !!!";
									    }
									?>
							    </tbody>                                
						</table>                                
				    </div>
				    <!-- preview division -->
				    <div class="col-md-3">
						<div id="job_application"></div>
				    </div>
                        </div>
	       </div>
    </div>
    	</div>
    	<div id="pre_result" style="display:none"></div>
    <?php }else{
	echo "<h3 style='text-align:center;color:red'>Permission for Applying and Viewing the Job Posting Denied for this plan</h3>";
	} ?>
<style>
    .ui-selected
    {
        background-color:#E0F1FF;
    }

</style>
<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<!--script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script-->
<script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>

<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script>

	    jQuery(document).ready(function($){
          
           var attr_id_val = 0;
   
            $(".sel-td").selectable({
            	selected: function(event, ui) {
            		attr_id_val = ui.selected.id;
            	}
        	});

        	
            $(document).on('click', '#sub_job', function(){
	           // console.log($("#pre_result").html());
	           	//$("#"+attr_id_val).html("Edit");
		    });

			$(".apply").each(function(index){
				    $(this).removeClass( "ui-selected" );
				    $(this).click(function(e){
				     
                	 if($(".apply").hasClass( "ui-selected" )){
                        $(".apply").removeClass( "ui-selected" );
                        $(".row-sel").removeClass( "ui-selected" );
                	 }
                     $(this).addClass("ui-selected");
                     $("."+$(this).attr('id')).addClass("ui-selected");
						e.preventDefault();
						//Form Validation goes here....
						$.ajax({
							    cache: false,
							    url : "<?php echo $this->baseUrl(); ?>/users/job/jobapplication/format/html",
							    type: "GET",
							    //dataType : "json",
							    data : {'data':$(this).attr('data-link')},
							    //context : Form,
							    success : function(result){
									//$(this)[0].reset();
									$("#job_application").html(result).promise().done(function(){
										    
										    $("form").submit(function(e){
											    e.preventDefault();
											    var data = {}
											    var Form = this;
									    
											    //Gathering the Data
											    $.each(this.elements, function(i, v){
												var input = $(v);
												data[input.attr("name")] = input.val();
												delete data["undefined"];
											    });
											    
											    //Form Validation goes here....
											    $.ajax({
												    cache: false,
												    url : "<?php echo $this->baseUrl(); ?>/users/job/jobapplication/format/html",
												    type: "POST",
												    //dataType : "json",
												    //data : JSON.stringify(data),
												    data : data,
												    //context : Form,
												    success : function(result){
													    //$(this)[0].reset();
													    $("#preview").html(result);
													    if(result!="kindly fill the required fields"){
													    	$("#"+attr_id_val).html("Edit");
													    }
												    },
												    error : function(){
													    $(this).html("Error!");
												    }
											    });
										    });
									    
									});
							    },
							    error : function(){
								    $(this).html("Error!");
							    }
						});
				    });	    
			   
			});

	      	 
	    });   
</script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>