<?php $this->placeholder('content')->captureStart(); ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/assets/css/admin/module.admin.page.form_elements.min.css" />
<h1 class="bg-white content-heading border-bottom">Packages</h1>
<div class="bg-white innerAll border-bottom">
	<ul class="menubar">
		<li><a href="<?php echo $this->baseUrl(); ?>/admin">Dashboard</a></li>
		<li><a href="<?php echo $this->baseUrl(); ?>/admin/package"><span class="badge badge-primary pull-right"><--</span> Back</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/admin/package">View Plans</a></li>
			</ul>
		</li>
	</ul>
</div>

<div class="innerAll spacing-x2">

<div class="widget widget-tabs widget-tabs-gray border-bottom-none">

	<!-- Widget heading -->
	<div class="widget-head">
		<ul>
		    <li class="active"><a class="glyphicons edit" href="#account-details" data-toggle="tab"><i></i>Add Plan</a></li>
		</ul>
	</div>
	<!-- // Widget heading END -->

	
	
	<div class="widget-body">
			<div class="tab-content">			
				<!-- Tab content -->
				<div class="tab-pane active" id="account-details">
					<form name="" id="account-details" class="form-horizontal" action="" method="POST">
						<!-- Row -->
						<div class="row">					
							<!-- Column -->
							<div class="col-md-6">
						
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Plan Name</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="name" value="" class="form-control" placeholder="Enter your Plan name !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Plan name is mandatory"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
							
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Plan Price</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="price" value="" value="" class="form-control" placeholder="Enter plan price !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Enter plan price !"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
                            
                                                                <!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Duration</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="duration" value="" value="" class="form-control" placeholder="Enter plan duration !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Enter plan duration !"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
                                                                
                                                                <!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Site</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="site" value="" value="" class="form-control" placeholder="Enter site name !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Enter site name !"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
                
							</div>
							<!-- // Column END -->
						
							<!-- Column -->
							<div class="col-md-6">
						
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Picture for slider</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="pictures_for_slider" value="" value="" class="form-control" placeholder="Enter pictures for slider !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Enter pictures_for_slider !"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
                
                                                                <!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Portfolio Pictures</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="portfolio_pictures" value="" value="" class="form-control" placeholder="Enter portfolio pictures !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Enter portfolio pictures !"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->

                                                                <!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">You Tube videos upload</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="you_tube_videos_upload" value="" value="" class="form-control" placeholder="Enter you tube videos upload !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Enter you tube videos upload !"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
                
                                                                <!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Storage space</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="storage_space" value="" value="" class="form-control" placeholder="Enter storage space !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Enter storage_space !"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
							</div>
						<!-- // Column END -->						
						</div>
						<!-- // Row END -->					
						<div class="separator line bottom"></div>
					
						<textarea id="mustHaveId" required="true" name="extra" class="form-control" rows="5" placeholder="Enter your biography"></textarea>
					
						<!-- Form actions -->
						<div class="separator top">
							<button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-check"></i> Save changes</button>
							<button type="button" class="btn btn-default hide"><i class="fa fa-fw fa-times"></i> Cancel</button>
						</div>
						<!-- // Form actions END -->
					
				</div>
				<!-- // Tab content END -->
                            </form>
			</div>
		</div>
	</div>
</div>

<?php $this->placeholder('content')->captureEnd(); ?>
