<?php $this->placeholder('userstaticfiles')->captureStart() ?>
<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('UserSession'); ?>

<article class="col-sm-9 mp-up-lyt"><br /><br />
<div class="snt-msg-lyt">
    <style>
        .rpt-msg-sp
        {
                margin-bottom: 10px !important;
        }
        .msg-rpt
        {
                width: 100%;
                display: inline-block;
        }
       
        .msg-inr-scrl
        {
                list-style: none;
                max-height:330px;
                overflow-y: auto;
        }
    
    </style>
    <div class="rpt-msg-cntnt">
    <?php // echo "<pre>";print_r($this->data);die;
        $request = Zend_Controller_Front::getInstance()->getRequest();
	$params = $request->getParams();
        if( isset($this->data['messages'][0] )) {
            foreach($this->data['messages'] as $data => $values ) {                
                ?>
                
            	<li id="<?php echo $values['id']; ?>" class="msg-rpt rpt-msg-sp">
                    <div class="col-md-8">
                        <span class="time"><b><?php if($values['first_name']) { echo $values['first_name'].' '. $values['last_name'];  }else{ echo $values['email']; } ?>: </b> </span>
                    </div>
                    <!-- <div class="col-md-4 text-right">
                            <span class="message"><a id="removeMessage" data-id="<?php echo $values['id'] ;?>" href="javascript:void(0);"></a></span>
                        </div> -->
                    <div class="col-sm-12">
                        <span class="message"><?php echo $values['message']; ?></span>
                    </div>
                    <div class="col-sm-12 time-post">
                    	[<?php echo $time = date("m-d-Y h:i:s A",strtotime($values['date']));?>] 
                    </div>
                    <?php if( $sess->userId == $values['by_from'] ) { ?>	    
                        
            <?php } ?>
                </li>
                                
                              
            <?php
                            
                }
            ?>
                <br />
                <form action="/users/conversation/view/" enctype="multipart/form-data" method="POST">                            
                    <textarea name="message" required="true" class="form-control" placeholder="Please reply here!"></textarea>
                 
                    <input id="form-submit" type="submit" class="btn btn-primary" value="Reply Back">
                    <input type="hidden" name="sent_to" value="<?php echo $params['to'] ;?>">
                    <input type="hidden" name="conv_id" value="<?php echo $params['id'] ;?>">
                    <input type="hidden" name="by_from" value="<?php echo $sess->userId; ?>">
                </form>
            <?php
        } else {
            
            echo "No Messages found in this conversation !!!";
        }
    
    ?>
    </div>
    </div>
    
</article>
<?php $this->placeholder('slider')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/plugins/breakpoints/breakpoints.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/core/js/animations.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/lib/js/bootstrap-datepicker.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/custom/js/bootstrap-datepicker.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/plugins/holder/holder.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/core/js/sidebar.main.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/core/js/sidebar.collapse.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/helpers/themer/assets/plugins/cookie/jquery.cookie.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/core/js/core.init.js?v=v1.2.3"></script>
<script src="<?php echo PUBLIC_URI; ?>/css/assets/components/core/js/general.js"></script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>