<?php $this->placeholder('content')->captureEnd() ?>
<h4 class="innerAll margin-none border-bottom text-center"><i class="fa fa-pencil"></i> Reset Auth</h4>

<div class="login spacing-x2">
	<div class="placeholder text-center"><i class="fa fa-pencil"></i></div>
	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-default">
			<div class="panel-body innerAll">
		  		<form role="form" action="" method="POST">
		  	  		<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			  		</div>
			  		<button type="submit" class="btn btn-primary btn-block">Reset Password</button>
				</form>
		  	</div>
		</div>
	</div>
</div>
<?php $this->placeholder('content')->captureEnd() ?>