<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<link rel="stylesheet" href="<?php echo PUBLIC_URI; ?>/css/assets/css/admin/module.admin.page.form_elements.min.css" />
	<h1 class="bg-white content-heading border-bottom">Site Preferences</h1>
	<div class="innerAll spacing-x2">

		<!-- Widget -->
		<div class="widget widget-tabs widget-tabs-gray border-bottom-none">
	
		<!-- Widget heading -->
		<div class="widget-head">
			<ul>
				<li class="active"><a class="glyphicons edit" href="#account-details" data-toggle="tab"><i></i>Meta Tags</a></li>
				<li><a class="glyphicons settings" href="#account-settings" data-toggle="tab"><i></i>Site Logo</a></li>
			</ul>
		</div>
		<!-- // Widget heading END -->
	
		<div class="widget-body">
			<form class="form-horizontal" action="" method="POST">
				<div class="tab-content">
				
					<!-- Tab content -->
					<div class="tab-pane active" id="account-details">
					
						<!-- Row -->
						<div class="row">
						
							<!-- Column -->
							<div class="col-md-6">
							
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Site Title</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" value="<?php if($this->data['preferences'][0]['title']){ echo $this->data['preferences'][0]['title']; }else{}; ?>" name="site-title" class="form-control" placeholder="Enter site title"/>
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="site title"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
								
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Meta Keywords</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" value="<?php if($this->data['preferences'][0]['keywords']){ echo $this->data['preferences'][0]['keywords']; }else{}; ?>" name="site-keywords" class="form-control" placeholder="Enter site's keywords, comma seperated !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="site's keywords"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
								
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Meta Description</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" value="<?php if($this->data['preferences'][0]['description']){ echo $this->data['preferences'][0]['description']; }else{}; ?>" name="site-description" class="form-control" placeholder="Enter meta description !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="meta description"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
								
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Site Tagline</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" value="<?php if($this->data['preferences'][0]['tagline']){ echo $this->data['preferences'][0]['tagline']; }else{}; ?>" name="site-tagline" class="form-control" placeholder="Enter site tagline !" />
											<input type="hidden" value="site" name="site" class="form-control" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="site tagline"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
								
							</div>
							<!-- // Column END -->
							
							<!-- Column -->
							<div class="col-md-6">
							
								<!-- Group -->
								<!--<div class="form-group">
									<label class="col-md-3 control-label">Gender</label>
									<div class="col-md-9">
										<select class="form-control">
											<option>Male</option>
											<option>Female</option>
										</select>
									</div>
								</div>-->
								<!-- // Group END -->
							
								<!-- Group -->
								<!--<div class="form-group">
									<label class="col-md-3 control-label">Age</label>
									<div class="col-md-9">
										<input type="text" value="25" class="form-control" />
									</div>
								</div>-->
								<!-- // Group END -->
								
							</div>
							<!-- // Column END -->
							
						</div>
						<!-- // Row END -->
					
						<div class="separator line bottom"></div>
						<!-- Form actions -->
						<div class="separator top">
							<button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-check"></i> Save changes</button>
							<button type="button" class="btn btn-default hide"><i class="fa fa-fw fa-times"></i> Cancel</button> 
						</div>
						<!-- // Form actions END -->
						</form>						
					</div>
					<!-- // Tab content END -->
								
					<!-- Tab content -->
					<div class="tab-pane" id="account-settings">
						<div id="final_image"></div>
						<form class="form-horizontal" id="upload_form" enctype="multipart/form-data" method="post" action="<?php echo PUBLIC_URI; ?>/admin/media-uploader/index/format/html" onsubmit="return checkForm()">
							<!-- Column -->
							<div class="row">
								<strong>Site Logo</strong>
							</div>
							<!-- hidden crop params -->
							<input type="hidden" id="x1" name="x1" />
							<input type="hidden" id="y1" name="y1" />
							<input type="hidden" id="x2" name="x2" />
							<input type="hidden" id="y2" name="y2" />
							<input type="hidden" id="profile" name="section" value="site-logo" />
							<input type="hidden" id="sess" name="user" value="<?php echo $sess->user; ?>">
							<div class="separator top"></div>
							<div class="row">
								<div class="error alert alert-danger">Click Select Image to change logo.</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="step2 hide">Loading.....</div>
									<img id="preview" src="<?php echo PUBLIC_URI; ?>/media/<?php echo $sess->user; ?>/site-logo_<?php echo $sess->user; ?>_0_600x150<?php echo $this->data['media'][0]['type'];?>" />						
									<div id="preview-pane" style="display: none;">
										<div class="preview-container" style="width: 300px; height: 75px;">
											<img src="" class="jcrop-preview img-responsive img-clean" alt="Preview Pan" />
										</div>
									</div>
								</div>
							</div>
							<div class="separator bottom"></div>
							<div class="row">
									<div class="fileupload fileupload-new margin-none" data-provides="fileupload">
										<div class="input-group">
											<div class="form-control col-md-3"><i class="fa fa-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
											<span class="input-group-btn">
												<span class="btn btn-default btn-file"><span class="fileupload-new">Select Image</span><span class="fileupload-exists">Change</span>
													<input type="file" reuired="true" class="margin-none" name="image_file" id="image_file" onchange="fileSelectHandler()"/>
												</span>
											</span>
										</div>
									</div>
									<div class="separator top">
										<div class="form-actions" style="margin: 0;">
											<button type="submit" id="form-submit" class="btn btn-primary"><i class="fa fa-check"></i>Upload Image</button>
										</div>
									</div>
							</div>
							<div class="row">
								<div class="info">
									<label>File size</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filesize" name="filesize" />
									</div>
									<div class="separator bottom"></div>
									<label>Type</label>
							
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filetype" name="filetype" />
									</div>
									<div class="separator bottom"></div>
								
									<label>Image dimension</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="filedim" name="filedim" />
									</div>
									<div class="separator bottom"></div>
						
									<label>W</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="w" name="w" value="600"/>
										<input type="hidden" class="form-control" id="ww" name="ww" value="600"/>
									</div>
									<div class="separator bottom"></div>
									<label>H</label>
								
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-twitter"></i></span>
										<input type="text" class="form-control" id="h" name="h" value="150" />
										<input type="hidden" class="form-control" id="hh" name="hh" value="150" />
									</div>
								<div class="separator bottom"></div>
							</div>
						</form>
					</div>
				</form>
			</div>
		</div>
	<!-- // Widget END -->	
<?php $this->placeholder('content')->captureEnd() ?>
