<?php $this->placeholder('slider1')->captureStart() ?>
<br /><br />
<div id="view-content">
	<p>View script for controller <b>Dashboard</b> and script/action name <b>index</b></p>
</div>
<?php $this->placeholder('slider1')->captureEnd() ?>

