<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<link rel="stylesheet" href="<?php echo PUBLIC_URI; ?>/css/assets/css/admin/module.admin.page.form_elements.min.css" />
	<h1 class="bg-white content-heading border-bottom">Site Preferences</h1>
	<div class="innerAll spacing-x2">

		<!-- Widget -->
		<div class="widget widget-tabs widget-tabs-gray border-bottom-none">
		
		<!-- Widget heading -->
		<div class="widget-head">
			<ul>
				<li class="active"><a class="glyphicons edit" href="#paypalcredentials" data-toggle="tab"><i></i>Paypal Credentials</a></li>
			</ul>
		</div>
		<!-- // Widget heading END -->
	    
		<div class="widget-body">
		 <?php if($this->data['msg']){ ?><div id="notification" class="alert alert-success"><?php echo $this->data['msg']; ?></div><?php } ?>
			<form class="form-horizontal" action="/admin/dashboard/paypal/id/<?php echo $this->data['paypal'][0]->id; ?>" method="POST">
				<div class="tab-content">
				
					<!-- Tab content -->
					<div class="tab-pane active" id="">
					
						<!-- Row -->
						<div class="row">
						
							<!-- Column -->
							<div class="col-md-6">
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Paypal URL</label>
									<div class="col-md-9">
										<div class="input-group">
											
											<input type="text" required="true" value="<?php echo $this->data['paypal'][0]->paypal_url; ?>" name="paypal_url" class="form-control" placeholder="Enter Paypal URL"/>
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Paypal URL"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
								
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Paypal API</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" value="<?php echo $this->data['paypal'][0]->paypal_api; ?>" name="paypal_api" class="form-control" placeholder="Enter Paypal API !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Paypal API"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
								
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">	Business Account</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" value="<?php echo $this->data['paypal'][0]->business_account; ?>" name="business_account" class="form-control" placeholder="Enter Paypal Business Account !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Business Account"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
								
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">API Username</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" value="<?php echo $this->data['paypal'][0]->api_username; ?>" name="api_username" class="form-control" placeholder="Enter Paypal API Username !" />
											
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="API Username"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
									
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">API Signature</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" value="<?php echo $this->data['paypal'][0]->api_signature; ?>" name="api_signature" class="form-control" placeholder="Enter Paypal API Signature !" />
											
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="API Signature"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->

								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">API Password</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" value="<?php echo $this->data['paypal'][0]->api_password; ?>" name="api_password" class="form-control" placeholder="Enter Paypal API Password !" />
											
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="API Password"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
								
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Currency Code</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" value="<?php echo $this->data['paypal'][0]->currency_code; ?>" name="currency_code" class="form-control" placeholder="Enter Currency Code !" />
										
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Currency Code"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->

							</div>
							<!-- // Column END -->
							
							<!-- Column -->
							<div class="col-md-6">
							
								
							</div>
							<!-- // Column END -->
							
						</div>
						<!-- // Row END -->
					
						<div class="separator line bottom"></div>
						<!-- Form actions -->
						<div class="separator top">
							<button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-check"></i> Save changes</button>
							<button type="button" class="btn btn-default hide"><i class="fa fa-fw fa-times"></i> Cancel</button> 
						</div>
						<!-- // Form actions END -->
						</form>						
					</div>
					<!-- // Tab content END -->
				</form>
			</div>
		</div>
	<!-- // Widget END -->	
<?php $this->placeholder('content')->captureEnd() ?>
