<?php $this->placeholder('content')->captureStart(); ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/assets/css/admin/module.admin.page.invoice.min.css" />
<!--<div class="bg-white innerAll border-bottom">
	<ul class="menubar">
		<li><a href="<?php //echo $this->baseUrl(); ?>/admin/booking">Bookings</a></li>
		<!--<li><a href="#"><span class="badge badge-primary pull-right"><--</span> Button</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#">Dropdown Link #1</a></li>
				<li><a href="#">Dropdown Link #2</a></li>
				<li><a href="#">Dropdown Link #3</a></li>
			</ul>
		</li> 
	</ul>
</div>-->
<div class="innerAll spacing-x2">

	<div id="pdfTarget">
	<div class="innerAll shop-client-products cart invoice">
	
		<h3 class="separator bottom">Booking</h3>
		<table class="table table-invoice">
			<tbody>
				<tr>
					<td style="width: 58%;">
						<div class="media">
							<img class="media-object pull-left thumb" src="http://1.s3.envato.com/files/50438174/tf-avatar.jpg" alt="Logo" />
							<div class="media-body hidden-print">
								<div class="alert alert-primary">
									<strong>Note:</strong><br/>
									This page is optimized for print. Try print the invoice and check out the preview.
									For example, this note will not be visible.
								</div>
								<div class="separator bottom"></div>
							</div>
						</div>
					</td>
					<td class="right">
						<div class="innerL">
							
							<h4 class="separator bottom">#<?php echo $this->data['bookings'][0]->id;  ?>_<?php echo $this->data['bookings'][0]->ufname; ?> / <?php echo $this->data['bookings'][0]->vfname;  ?></h4>
							<button type="button" data-toggle="print" class="btn btn-default hidden-print"><i class="fa fa-fw fa-print"></i> Print invoice</button>
							<!--<button type="button" data-toggle="button-loading pdf" data-target="#pdfTarget" class="btn btn-primary hidden-print"><i class="fa fa-fw fa-download"></i> Save as PDF</button>-->
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="box-generic">
			<table class="table table-invoice">
				<tbody>
					
					<tr>
						<td style="width: 50%;">
							<p class="lead"><strong>Vendor information</strong></p>
							<h3><?php echo $this->data['bookings'][0]->vfname; ?>&nbsp;&nbsp;<?php echo $this->data['bookings'][0]->vlname; ?></h3>
							<address class="margin-none">
								<strong>Address</strong><br/>
								<?php echo $this->data['bookings'][0]->vaddress; ?><br/>
								
								<abbr title="Work email"><strong>e-mail:</strong></abbr> <a href="mailto:"><?php echo $this->data['bookings'][0]->vemail;  ?></a><br /> 
								<abbr title="Work Phone"><strong>phone:</strong></abbr> <?php echo $this->data['bookings'][0]->vphone; ?><br/>
								<abbr title="Work Fax"><strong>fax:</strong></abbr> <?php echo $this->data['bookings'][0]->vphone; ?>
							
							</address><br>
							<a href="<?php echo $this->baseUrl(); ?>/vendor/homepage/index/id/<?php echo $this->data['bookings'][0]->vid; ?>" target='_blank'><strong>Click here to go to Vendor Homepage</strong><br/></a>
							
						</td>
						<td class="right">
							<p class="lead"><strong>Client information</strong></p>
							<h3><?php echo $this->data['bookings'][0]->ufname; ?>&nbsp;&nbsp;<?php echo $this->data['bookings'][0]->ulname; ?></h3>
							<address class="margin-none">
								<strong>Address</strong><br>
								<?php echo $this->data['bookings'][0]->uaddress; ?><br/>
								<abbr title="Work email"><strong>e-mail:</strong></abbr> <a href="mailto:"><?php echo $this->data['bookings'][0]->uemail; ?></a><br /> 
								<abbr title="Work Phone"><strong>phone:</strong></abbr> <?php echo $this->data['bookings'][0]->uphone; ?><br/>
								<abbr title="Work Fax"><strong>fax:</strong></abbr> <?php echo $this->data['bookings'][0]->uphone; ?>
								<div class="separator line"></div>
								
							</address>
						</td>
					</tr>
					
					
				</tbody>
			</table>
			<table>
				
				<tr>
					<p class="lead"><b>Job Title:</b>&nbsp;&nbsp;<?php echo $this->data['bookings'][0]->title; ?></p>
			
					</tr>
					<tr>
					<p class="lead"><b>Terms and condition</b></p>
					<p><?php echo $this->data['bookings'][0]->termAndConditions; ?></p>
					</tr>
				
			</table>
		</div>
   <?php $startdate = new DateTime($this->data['bookings'][0]->accepted_on);
	$enddate = new DateTime($this->data['bookings'][0]->ended_on);
                         ?>
				<div class="col-md-4">
				<div class="box-generic "><table><tr>
					<p class="lead"><b>Job Status</b></p>
					<p><b>Started_on :</b> <?php echo $startdate->format('F d, Y'); ?></p>
					<?php if( $this->data['bookings'][0]->ended_on != '0000-00-00 00:00:00'){ ?>
					<p><b>Ended_on : </b><?php echo $enddate->format('F d, Y'); ?></p>
					<?php }else{ ?>
					<p>Ended_on : In-progress</p>
					<?php }?>
					</tr> </table>
				</div>
				</div>
		
		
		<?php /* <div class="box-generic padding-none">
			<table class="table table-vertical-center bg-white margin-none">
				<thead class="bg-primary">
					<tr>
                                                <th>Start date</th>
						<th>End date</th>
						<th>Guests</th>
						<th>Damas</th>
						<th>Chambelanes</th>
						<th>Theme</th>
						<th>Dress</th>
					</tr>
				</thead>
				<tbody>
                                        <?php
                                            if($this->data['bookings']) {
						
                                                foreach($this->data['bookings'] as $data => $value ) {
                                                    //if($value['user_id']==$this->data['user'][0]['id']) {
                                                        ?>                                                
                                                            <tr>
                                                                <td><?php echo $value['event_money']; ?></td>
                                                                <td><?php echo $value['ceremony']; ?></td>
                                                                <td><?php echo $value['guests']; ?></td>
                                                                <td><?php echo $value['damas']; ?></td>
                                                                <td><?php echo $value['chambelanes']; ?></td>
                                                                <td>
                                                                        <h5>Wedding Theme colors</h5>
                                                                        <?php list($a, $b, $c) = explode(",", $value['wedding_theme']); ?>
                                                                        <span style="background: <?php echo $a; ?>" class="label label-default">Color 1</span>
                                                                        <span style="background: <?php echo $b; ?>" class="label label-default">Color 2</span>
                                                                        <span style="background: <?php echo $c; ?>" class="label label-default">Color 3</span>
                                                                </td>
                                                                <td>
                                                                        <h5>Wedding Dress colors</h5>
                                                                        <?php list($d, $e) = explode(",", $value['wedding_dress']); ?>
                                                                        <span style="background: <?php echo $d; ?>" class="label label-default">Color 1</span>
                                                                        <span style="background: <?php echo $e; ?>" class="label label-default">Color 2</span>
                                                                </td>
                                                            </tr>                                                
                                                        <?php
                                                    }
                                                }
                                            else {
                                                
                                                ?>
                                                            <tr>
                                                                <td class="center">No record found !!</td>
                                                            </tr>
                                                <?php
                                            }
                                        ?>
				</tbody>
			</table>
		</div>*/ ?>
		
		<!-- Row -->
		<div class="row">
		
			<!-- Column -->
			<div class="col-md-5 hidden-print">
				<!--<div class="box-generic">
					<p class="margin-none"><strong>Note:</strong><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique rutrum libero, vel bibendum nunc.</p>
				</div>-->
			</div>
			<!-- Column END -->
			
			<!-- Column -->
			<div class="col-md-2 col-md-offset-5" style='float:right '>
				<div class="box-generic padding-none">
					<table class="table cart_total margin-none">
						<tbody>
							<tr>
								<td class="right border-top-none strong">Budget:</td>
								<td class="right border-top-none ">$<?php echo $this->data['bookings'][0]->budget; ?></td>
							</tr>
							<!--<tr>
								<td class="right">Delivery:</td>
								<td class="right strong">&dollar;5.00</td>
							</tr>
							<tr>
								<td class="right">VAT:</td>
								<td class="right strong">&dollar;119.00</td>
							</tr>
							<tr>
								<td class="right">Total:</td>
								<td class="right strong">&dollar;1,195.95</td>
							</tr>
							-->
						</tbody>
					</table>
				</div>
			</div>
			<!-- // Column END -->
			
		</div>
		<!-- // Row END -->
		
	</div>
</div>



</div>

<?php $this->placeholder('content')->captureEnd(); ?>
